<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<link href="{yun:}$style{/yun}/style/Micro_resume.css" rel="stylesheet" type="text/css" /> 
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]-->  
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
</head>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="yun_content">
<div class="current_Location icon png"> 您当前的位置：<a href="{yun:}$config.sy_weburl{/yun}">首页</a> > <a href="{yun:}url m=tiny{/yun}">微简历</a> > {yun:}$t_info.job{/yun}</div>
<div class="fast_show_left">
<div class="fast_show_post">
<div class="fast_show_top">
<div class="fast_show_top_h1">{yun:}$t_info.job{/yun}</div>
<div class="fast_show_top_xz">{yun:}$t_info.username{/yun} / {yun:}$userclass_name[$t_info.sex]{/yun} / {yun:}$userclass_name[$t_info.exp]{/yun} </div>

<div class="fast_show_top_date">浏览：{yun:}$t_info.hits{/yun} | 发布日期：{yun:}$t_info.time|date_format:"%Y-%m-%d"{/yun} </div>
</div>
{yun:}if $config.user_wjl_link=="1" && $cookie.uid<=0{/yun}
<div class="once_no_show">很抱歉,登录后才可以查看联系方式</div>
 {yun:}else{/yun}
<div class="fast_show_list"><i class="fast_icon fast_icon_touch"></i>联&nbsp;系&nbsp;人：{yun:}$t_info.username{/yun}</div>
<div class="fast_show_list"><i class="fast_icon fast_icon_pho"></i>联系电话：<font color="#FF0000"><strong>{yun:}$t_info.mobile{/yun}</strong></font></div>
<div class="fast_show_list"><i class="fast_icon fast_icon_qq"></i>联 系 QQ：{yun:}$t_info.qq{/yun}</div>
{yun:}/if{/yun}

<div class="fast_show_com_name">自我介绍</div>
<div class="fast_show_com_name_p">{yun:}$t_info.production{/yun}</div>
</div>
<div class="fast_show_post m10">
<div class="fast_show_post_new">最新简历</div>
<ul class="fast_show_post_list">
{yun:}tiny limit=6 delid=auto.id item=list{/yun}
<li style="width:300px; float:left; margin-right:20px;_margin-right:10px;">
<div class="fast_show_post_new_d"><a href="{yun:}url m=tiny url=c:show,id:`$list.id`{/yun}" class="fast_show_post_n_name">{yun:}$list.job{/yun}</a>   <em class="fast_show_post_new_em">{yun:}$list.time{/yun}</em></div>
<div  class="fast_show_post_new_d">{yun:}$list.username{/yun} | {yun:}$userclass_name[$list.sex]{/yun} | {yun:}$userclass_name[$list.exp]{/yun}</div>
</li>
{yun:}/tiny{/yun} 
</ul>
</div>
</div>
<div class="fast_show_right">
<div class="fast_show_right_tips">
<div class="fast_show_right_tips_h1">温馨提示：</div>
在简短的字里介绍自己、展示自己，如此精炼的文字比正规的简历还要考究功力；微博发简历虽然便捷而且紧跟流行，但毕竟每条微信息量有限，因此求职者还是要对正式简历多加打磨，或做一个关于自己详细简历请注册
</div>
</div>
 </div>
{yun:}include file="$tplstyle/footer.htm"{/yun}