{yun:}include file="$userstyle/header.htm"{/yun}
<div class="w950">
	{yun:}include file="$tplstyle/public_search/index_search.htm"{/yun}
  <liNK href="{yun:}$userstyle{/yun}/images/yun_tck.css" type=text/css rel=stylesheet>
  <script charset="utf-8" src="../data/kindeditor/kindeditor-min.js"></script>
  <script charset="utf-8" src="../data/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript" src="{yun:}$userstyle{/yun}/js/resume.js"></SCRIPT>
  <!--script type="text/javascript" src="{yun:}$style{/yun}/js/index.js"></SCRIPT-->
  <script type="text/javascript" src="{yun:}$userstyle{/yun}/js/search.js"></SCRIPT>
  <script language="javascript">
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[name="doc"]', {
		resizeType : 1,
		allowPreviewEmoticons : false,
		allowImageUpload : false,
		items : [
			'bold', 'italic', 'underline',
			'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
			'insertunorderedlist']
	});
});
</script>
<style>
* {
    margin: 0 ;
    padding: 0;
}
.cus_h70{height:70px;}
</style>
  <div class="widemainbody">
     <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
   <div class="expect_left fltL">
    <form name="MyForm" action='index.php?c=expectq&act=save' method="POST" target="supportiframe"  onsubmit="return Checkexpectq();">

      <div class="tabmenubox01 mt9" style="width:730px;">
        <ul style="float:left;width:100%">
          <li class="cur" >黏贴简历</li>
          <li  style="width:100px; font-size:14px; float:right"><font color="#FF0000">*</font> 号项为必填项</li>
        </ul>
      </div>
      <div class="formbox02">
        <ul>
          <li>
            <div class="name"><font color="#FF0000">*</font> 简历名称：</div>
            <div class="text">
              <input name="name" type="text" value="{yun:}$row.name{/yun}" maxlength="100" id='name'class="info_text" />
              <span id="by_name"  class="errordisplay">简历名称不能为空</span> </div>
          </li>
          <li>
            <div class="name"> <font color="#FF0000">*</font> 期望从事行业：</div>
            <div class="text">
              <div class="text_seclet text_seclet_cur" style="z-index:400">
                <input class="SpFormLBut text_seclet_w250 " type="button" {yun:}if $row.hy{/yun} value="{yun:}$industry_name[$row.hy]{/yun}" {yun:}else{/yun} value="请选择行业" {yun:}/if{/yun} id="hy" onclick="search_show('job_hy');">
                <input type="hidden" id="hyid" name="hy"  {yun:}if $row.hy {/yun} value="{yun:}$row.hy{/yun}"{yun:}/if{/yun}/>
                <div  class="cus-sel-opt-panel" style="display:none; z-index:301" id="job_hy">
                  <ul>
                    {yun:}foreach item=v from=$industry_index key=k{/yun}
                    <li><a href="javascript:;" onclick="selects('{yun:}$v{/yun}','hy','{yun:}$industry_name[$v]{/yun}');"> {yun:}$industry_name[$v]{/yun}</a></li>
                    {yun:}/foreach{/yun}
                  </ul>
                </div>
              </div>
              <span id="by_hy"  class="errordisplay">请选择从事行业</span> </div>
          </li>
          <li>
            <div class="name"> <font color="#FF0000">*</font> 期望从事职位：</div>
            <div class="text" style="width:400px; overflow:hidden;">

               <input class="expect_text fltL" type="button"{yun:}if $job_classname{/yun}value="{yun:}$job_classname{/yun}"{yun:}else{/yun} value=" 请选择 "{yun:}/if{/yun} class="expect_text" onclick="index_job();" id="workadds_job" >

              <input name='job_classid' id='job_class' {yun:}if $row.job_classid {/yun} value="{yun:}$row.job_classid{/yun}"{yun:}/if{/yun} type='hidden' />

              <div style="float:left;width:90px;"> (可多选最多5项)</div>

              <span id="by_job_classid"  class="errordisplay">请选择从事职位</span>
            </div>
          </li>
          <li>
            <div class="name"> <font color="#FF0000">*</font> 期望工作地点：</div>
            <div class="text"> <!--{yun:}if $expect_cityname{/yun}
              <input id="city" class="city_input" type="button" value="{yun:}$expect_cityname{/yun}" name="workadds" onclick="index_city();">
              {yun:}else{/yun}
              <input id="city" class="city_input" type="button" value="请选择工作地点" name="workadds" onclick="index_city();">

              {yun:}/if{/yun} <span id="by_cityid"  class="errordisplay">请选择</span>-->
               <div class="text_seclet text_seclet_cur fltL">
                  <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.provinceid{/yun} value="{yun:}$city_name[$row.provinceid]{/yun}" {yun:}else{/yun}value="请选择省份"{yun:}/if{/yun} id="province" onclick="search_show('job_province');">
                  <input type="hidden" id="provinceid" name="provinceid" value="{yun:}$row.provinceid{/yun}" />
                  <div  class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display:none" id="job_province">
                   <div style="width:100%;  overflow:auto; overflow-x:hidden">
                    <ul class="Search_Condition_box_list">
                      {yun:}foreach from=$city_index key=j item=v{/yun}
                      <li><a href="javascript:;" onclick="select_city('{yun:}$v{/yun}','province','{yun:}$city_name[$v]{/yun}','citys','city');"> {yun:}$city_name[$v]{/yun}</a></li>
                      {yun:}/foreach{/yun}
                    </ul>
                  </div>
                  </div>
                </div>

                <div class="text_seclet text_seclet_cur fltL">
                  <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.cityid{/yun} value="{yun:}$city_name[$row.cityid]{/yun}" {yun:}else{/yun}value="请选择城市"{yun:}/if{/yun} id="citys" onclick="search_show('job_citys');">
                  <input type="hidden" id="citysid"  name="cityid"  value="{yun:}$row.cityid{/yun}" />
                  <div  class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display:none" id="job_citys">
                    <ul class="Search_Condition_box_list">
                      {yun:}foreach from=$city_type[$row.provinceid] key=j item=v{/yun}
                      <li><a href="javascript:;" onclick="select_city('{yun:}$v{/yun}','citys','{yun:}$city_name[$v]{/yun}','three_city','city');"> {yun:}$city_name[$v]{/yun}</a></li>
                      {yun:}/foreach{/yun}
                    </ul>
                  </div>
                </div>

                <div class="text_seclet text_seclet_cur fltL" id="cityshowth">
                  <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.three_cityid{/yun} value="{yun:}$city_name[$row.three_cityid]{/yun}" {yun:}else{/yun}value="请选择区县"{yun:}/if{/yun} id="three_city" onclick="search_show('job_three_city');">
                  <input type="hidden" id="three_cityid"  name="three_cityid"  value="{yun:}$row.three_cityid{/yun}" />
                  <div  class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display:none" id="job_three_city">
                    <ul class="Search_Condition_box_list">
                      {yun:}foreach from=$city_type[$row.cityid] key=j item=v{/yun}
                      <li><a href="javascript:;" onclick="selects('{yun:}$v{/yun}','three_city','{yun:}$city_name[$v]{/yun}');"> {yun:}$city_name[$v]{/yun}</a></li>
                      {yun:}/foreach{/yun}
                    </ul>
                  </div>
                </div>

              </div>

          </li>
          <li>
            <div class="name"> 期望月薪水：</div>
            <div class="text">
              <div class="text_seclet text_seclet_cur2">
                <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.salary{/yun} value="{yun:}$userclass_name[$row.salary]{/yun}" {yun:}else{/yun} value="请选择薪水" {yun:}/if{/yun}  id="salary" onclick="search_show('job_salary');">
                <input type="hidden" id="salaryid" name="salary" {yun:}if $row.salary {/yun} value="{yun:}$row.salary{/yun}"{yun:}/if{/yun} />
                <div  class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display:none" id="job_salary">
                  <ul class="Search_Condition_box_list">
                    {yun:}foreach from=$userdata.user_salary key=j item=v{/yun}
                    <li><a href="javascript:;" onclick="selects('{yun:}$v{/yun}','salary','{yun:}$userclass_name[$v]{/yun}');"> {yun:}$userclass_name[$v]{/yun}</a></li>
                    {yun:}/foreach{/yun}
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="name"> <font color="#FF0000">*</font> 期望工作性质：</div>
            <div class="text">
              <div class="text_seclet text_seclet_cur3 re">
                <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.type{/yun} value="{yun:}$userclass_name[$row.type]{/yun}" {yun:}else{/yun} value="请选择工作性质" {yun:}/if{/yun}  id="type" onclick="search_show('job_type');">
                <input type="hidden" id="typeid" name="type" {yun:}if $row.type {/yun} value="{yun:}$row.type{/yun}"{yun:}/if{/yun} />
                <div  class="cus-sel-opt-panel cus-sel-opt-panel-w156 cus_h70" style="display:none" id="job_type">

                  <ul class="Search_Condition_box_list">
                    {yun:}foreach from=$userdata.user_type key=j item=v{/yun}
                    <li><a href="javascript:;" onclick="selects('{yun:}$v{/yun}','type','{yun:}$userclass_name[$v]{/yun}');"> {yun:}$userclass_name[$v]{/yun}</a></li>
                    {yun:}/foreach{/yun}
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="name"> 到岗时间：</div>
            <div class="text">
              <div class="text_seclet text_seclet_cur4">
                <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.report{/yun} value="{yun:}$userclass_name[$row.report]{/yun}" {yun:}else{/yun} value="请选择到岗时间" {yun:}/if{/yun}  id="report" onclick="search_show('job_report');">
                <input type="hidden" id="reportid" name="report" {yun:}if $row.report{/yun} value="{yun:}$row.report{/yun}"{yun:}/if{/yun} />
                <div  class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display:none" id="job_report">
                  <ul class="Search_Condition_box_list">
                    {yun:}foreach from=$userdata.user_report key=j item=v{/yun}
                    <li><a href="javascript:;" onclick="selects('{yun:}$v{/yun}','report','{yun:}$userclass_name[$v]{/yun}');"> {yun:}$userclass_name[$v]{/yun}</a></li>
                    {yun:}/foreach{/yun}
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="name"> 黏贴简历内容：</div>
            <div class="text">
              <textarea name="doc" id="content" cols="60" rows="10">{yun:}$row.doc{/yun}</textarea></div>
          </li>
          <li>
            <div class="name">&nbsp;</div>
            <div class="text">
              <input name="eid" type="hidden" value="{yun:}$smarty.get.e{/yun}" />
              <input type="submit" name="submit" value=" 保 存" class="info_btn01" />
            </div>
          </li>
        </ul>
      </div>
	</form>
  </div>
  <div class="w920 fltR" >
    <div class="w190  fltR" >
      <div class="resumestatebox01 mt8">
        <h2><span>黏贴简历说明</span></h2>
        <div class="resumestatebox02 mt8">
          <div class="cont">
            <div class="value_p">快速黏贴简历只需选择基本求职意向，然后复制已有简历到内容框中即可！
              <hr size="1" />
              我们并不推荐这种方式，因为我们提供了更加规范的简历格式，一份漂亮的简历可以体现一个人的做事态度，直接影响你的求职成功率！</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<SCRIPT language=javascript>
function Checkexpectq(){
	var msg='';
	if($.trim($("#name").val())==''){msg=$("#by_name").html();}
	if($.trim($("#job_class").val())==''){msg=$("#by_job_classid").html();}
	if($.trim($("#hyid").val())==''){msg=$("#by_hy").html();}
	if($.trim($("#workadds_job").val())==''){msg=$("#by_workadds_job").html();}
	if($.trim($("#three_cityid").val())==''){msg="请选择工作地点";}
	if($.trim($("#typeid").val())==''){msg="请选择工作性质";}
	if(msg){
		layer.msg(msg, 2, 8);return false;
	}
	layer.load('执行中，请稍候...',0);
}
</SCRIPT>
{yun:}include file="$userstyle/footer.htm"{/yun}

