{yun:}include file="$userstyle/header.htm"{/yun}
<div class="w950"> 
{yun:}include file="$userstyle/left.htm"{/yun}
<div class="mian_right fltR mt12">
  <div class="tabmenubox01 mt9">
    <ul>
      	<li><a href="index.php?c=sysnews">系统消息</a></li>
        <li><a href="index.php?c=commsg">求职咨询</a> </li>
        <li><a href="index.php?c=message">留言反馈</a></li>
        <li class="cur"><a href="index.php?c=seemessage">反馈列表</a></li>
        <li><a href="index.php?c=xin">站内信</a> </li>
    </ul>
  </div>
    <div >
      <div id="gms_showclew"></div>
       <div class="resume_box_list">
           <div class="List_Ope List_Title ">
           <span class="List_Title_span List_Title_w60">ID </span>	
           <span class="List_Title_span List_Title_w360">反馈内容</span>		
           <span class="List_Title_span List_Title_w170">反馈时间</span>	
           <span class="List_Title_span List_Title_w100">操作</span>	
          </div>
          
            {yun:}foreach from=$rows item=item{/yun}
          <div class="List_Ope List_Ope_bor">
           <span class="List_Title_span List_Title_w60">{yun:}$item.id{/yun}</span>
               <span class="List_Title_span List_Title_w360">{yun:}$item.content{/yun}</span>		
           <span class="List_Title_span List_Title_w170">{yun:}$item.ctime|date_format:"%Y-%m-%d %H:%M"{/yun}</span>	
           <span class="List_Title_span List_Title_w100"><a href="javascript:void(0)" onclick="layer_del('确定要删除？','index.php?c=seemessage&act=del&id={yun:}$item.id{/yun}');" class="List_dete">删除</a></span>
           {yun:}if $item.status==1{/yun}
           <div class="List_Title_content List_Title_content_Advisory_bor"><em class="List_Title_content_Advisory_r2"><span class="List_Title_conten_tit">回复时间：</span>{yun:}$item.reply_time|date_format:"%Y-%m-%d %H:%M"{/yun}</em>
           
           <span class="List_Title_conten_tit List_Title_conten_tit_cor">回复内容：</span>{yun:}$item.reply{/yun}</div>
           {yun:}/if{/yun}
            </div>
          
          {yun:}foreachelse{/yun}
    <div class="msg_no">
           暂无留言信息！
          </div>
    {yun:}/foreach{/yun}     
          <div class="diggg">{yun:}$pagenav{/yun}</div>
        </div>
      </div>
    </div>
  </div>

{yun:}include file="$userstyle/footer.htm"{/yun}