{yun:}include file="$userstyle/header.htm"{/yun}

<div class="w950"> {yun:}include file="$userstyle/left.htm"{/yun}
  <div class="mian_right fltR mt12 re">
    <div class="tabmenubox01 mt9">
      <ul>
        <li class="cur"> <a href="index.php?c=resume">我的简历</a></li>
        <li> <a href="index.php?c=look">简历被浏览</a></li>
        <li> <a href="index.php?c=privacy">隐私设置</a></li>
        <li> <a href="index.php?c=subscribe">订阅设置</a></li>
      </ul>
    </div>
   
    <div class='right_box'>
      <div class=admincont_box>
       <div class="user_show_png">
        <input class="user_showbtn_02" type="button" value="作品上传"  onclick="location.href='index.php?c=show&act=addshow&eid={yun:}$smarty.get.eid{/yun}'"/>      
        <div class="fltL" style="line-height:30px; margin-left:10px;">支持jpg/gif/png格式；建议上传清晰自然生活照，或者您的专业代表作品。</div>
        </div>
        <div class="show_pic fltL">
          <div id="trlisttwo">
             <div class="show_pic_list">
			  {yun:}foreach item=show from=$rows{/yun}   
				<dl>
					<dt>
						<img src=".{yun:}$show.picurl{/yun}" width="220" height="180"/>    
						<div style="width:100%; line-height:23px;white-space: normal; text-align:center; word-break: break-all;height:23px; overflow:hidden">{yun:}$show.title{/yun}</div>
						<div class="compl_list_bg"></div>
					</dt>
					<dd style="text-align:center;">
						<a href=".{yun:}$show.picurl{/yun}" target="_blank">查看</a> | 
						<a href="{yun:}$now_url{/yun}&act=showpic&id={yun:}$show.id{/yun}">修改</a> |
						<a href="javascript:void(0)" onclick="layer_del('确定要删除该数据？', 'index.php?c=show&&act=del&id={yun:}$show.id{/yun}'); ">删除</a>
					</dd>
				</dl>
                {yun:}foreachelse{/yun}    
                <div class="msg_no">您还没有上传企业展示。</div>
             {yun:}/foreach{/yun}
			 </div>   
			</div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="diggg">{yun:}$pagenav{/yun}</div>
    </div>

  </div>
</div>
{yun:}include file="$userstyle/footer.htm"{/yun}