<div class="tabmenubox01 mt9">
 <ul>
  <li {yun:}if $smarty.get.c=='job'{/yun}class="cur"{yun:}/if{/yun}><a href="index.php?c=job" title="职位管理" >申请的职位</a></li>
  <li {yun:}if $smarty.get.c=='favorite'{/yun}class="cur"{yun:}/if{/yun}><a href="index.php?c=favorite">收藏的职位</a></li>
  <li {yun:}if $smarty.get.c=='blacklist'{/yun}class="cur"{yun:}/if{/yun}> <a href="index.php?c=blacklist">企业黑名单</a> </li>
  <li {yun:}if $smarty.get.c=='atn'{/yun}class="cur"{yun:}/if{/yun}> <a href="index.php?c=atn">关注企业</a> </li>
</ul>
</div>