<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/login.css" type="text/css">
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script src="{yun:}$style{/yun}/js/reg_ajax.js" type="text/javascript"></script>
<script>var weburl="{yun:}$config.sy_weburl{/yun}";</script>
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
  DD_belatedPNG.fix('.png,.#bg');
</script>
<![endif]-->
</head>
<body>
<div class="top">
  <div class="top_cot">
    <div class="top_cot_content">
      <div class="top_left fl">
        <div class="yun_welcome fl">欢迎来到{yun:}$config.sy_webname{/yun}！</div>
        <span class="fl"><a href="{yun:}$config.sy_weburl{/yun}/wap" class="wap_icon">手机版</a> | <a href="{yun:}url m=subscribe{/yun}">订阅</a></span> </div>
      <div class="top_right_re fr">
        <div class="top_right">
          <div class="yun_topNav fr"> <a class="yun_navMore" href="javascript:;">网站导航</a>
            <div class="yun_webMoredown" style="display:none">
              <div class="yun_top_nav_box"> {yun:}navmap key=key item=navmap{/yun}
                <div class="yun_top_nav_h1"><a href="{yun:}$navmap.url{/yun}" {yun:}if $navmap.eject{/yun} target="_blank"{yun:}/if{/yun}>{yun:}$navmap.name{/yun}</a></div>
                <ul>
                  {yun:}foreach from=$navmap.list item=maplist{/yun}
                  <li><a href="{yun:}$maplist.url{/yun}" {yun:}if $maplist.eject{/yun} target="_blank"{yun:}/if{/yun}>{yun:}$maplist.name{/yun}</a></li>
                  {yun:}/foreach{/yun}
                </ul>
                {yun:}/navmap{/yun} </div>
            </div>
          </div>
          <SCRIPT LANGUAGE='JavaScript' src='{yun:}$config.sy_weburl{/yun}/index.php?m=includejs&c=RedLoginHead'></SCRIPT>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="register_header">
  <div class="reg_w980">
    <div class="reg_logo"><a href="{yun:}$config.sy_weburl{/yun}"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_member_logo{/yun}" alt="{yun:}$config.sy_webname{/yun}" class="png"></a></div>
    <div class="reg_msg">招聘者注册</div>
  </div>
</div>
<!--content  start-->
<div class="reg_content" >
  <div class="logoin_cont fl">
    <div class="reg_h1_tit">
      <ul class="reg_ul_list">
        <li onclick="checkreg(1)" id="reg1" class="reg_cur"><a class="reg_h1_icon"><i class="reg_h1_icon_i reg_h1_icon_i3 png"></i>企业注册</a></li>
		{yun:}if $config.reg_fast=='1'{/yun}
        <li onclick="checkreg(2)" id="reg2"><a class="reg_h1_icon"><i class="reg_h1_icon_i reg_h1_icon_i1 png"></i>快速注册</a></li>
		{yun:}/if{/yun}
      </ul>
    </div>
	
    <div class="register_left">
	{yun:}if $config.reg_fast=='1'{/yun}
    <div class="register_Switching_box" id="regtype2" style="display:none">
       <div class="reg_fast_cont"> 
       <div class="reg_fast reg_fast_cur" onclick="checkreg(2)">手机注册</div>  
       <div class="reg_fast" onclick="checkreg(3)">邮箱注册</div>  
     </div>
       <ul class="register_list">
     <li class="mt20"><em><font color="#FF0000">*</font> 手机号码：</em>
     <input type="text" class="logoin_text tips_class" id="moblie" onBlur="reg_checkAjax('moblie');">
     <span class="reg_tips reg_tips_red" id="ajax_moblie" style="display:none;"></span>
     </li>
     {yun:}if $config.sy_msg_regcode=="1"{/yun}
     <li class="mt20"><em><font color="#FF0000">*</font> 短信验证：</em>
     <span style="float:left"><input type="text" id="moblie_code" class="logoin_text_yz" onBlur="reg_checkAjax('moblie_code');">
     <a class="reg_btn_s02_disable" href="javascript:sendmsg();"><span id="time">获取短信验证</span></a></span>
     <span class="reg_tips reg_tips_red" id="ajax_moblie_code" style="display:none;"></span>
     </li>
  
     {yun:}/if{/yun}
     <li class="mt20"><em><font color="#FF0000">*</font> 密&nbsp;&nbsp;码：</em> 
     <span id="pass2"><input type="password" onkeyup="uppassword(2)" id="password2" onBlur="reg_checkAjax('password2');" class="logoin_text tips_class" value=""></span>
     <span class="reg_tips reg_tips_red" id="ajax_password2" style="display:none;"></span>
     </li>
     <li><em>&nbsp;</em>
       <div class="kg_lgn_psw_strong">
       <div class="kg_lgn_psw_txt">密码强度:弱</div>
         <div class="kg_lgn_psw_strong_cnt"> 
         <span id="pass1_2" class="psw_span"></span> 
         <span id="pass2_2" class="psw_span "></span> 
         <span id="pass3_2" class="psw_span "></span> 
        </div>        
        <div class="kg_lgn_psw_txt">强</div>
        <div class="psw_xs" onmousemove="showtip(2)" onmouseout="hidetip(2)">
        <a href="javascript:showpw(2);" id="showpw2" class="psw_xs_a">显示密码</a> 
        <i class="psw_xs_icon"></i>
        <div class="psw_xs_tips" id="tip2" style="display:none;">你可以点击这里检查已填写的密码</div></div>
          </div>
        </li>
		{yun:}if $config.reg_passconfirm=='1'{/yun}
		<li class="mt10"><em><font color="#FF0000">*</font> 确认密码：</em> 
			 <span id="pass1"><input type="password" id="passconfirm2" onBlur="reg_checkAjax('passconfirm2');" class="logoin_text tips_class" value=""></span>
			 <span class="reg_tips reg_tips_red" id="ajax_passconfirm2" style="display:none;"></span>
	    </li>
		{yun:}/if{/yun}
        {yun:}if strpos($config.code_web,"注册会员")!==false{/yun}
         <li class="m10"><em><font color="#FF0000">*</font> 验证码：</em>
          <input id="CheckCode2" type="text" class="logoin_text_yz"  maxlength="4">
          <img id="vcode_img" class="authcode" src="include/authcode.inc.php"><span class="reg_yz_look">看不清？ 
          <a href="javascript:check_code();" class="registe_a">换一张</a></span>
          </li>
        {yun:}/if{/yun}
       <li class="m10">
        <em>&nbsp;</em><input type="checkbox" id="xieyi2" class="logoin_check" value="1">
        <label for="isReadagreement">我已阅读<a href="{yun:}$config.sy_weburl{/yun}/about/service.html" target="_blank" class="reg_yhxy"> 《用户服务协议》</a> ，并自愿遵守该协议。
        </li>
         <li class="mt20"><em>&nbsp;</em><input type="button" class="register_submit" onclick="check_user(2);"></li>
     </ul>
    </div>
    
    <div class="register_Switching_box" id="regtype3" style="display:none">
    <div class="reg_fast_cont"> 
       <div class="reg_fast" onclick="checkreg(2)">手机注册</div>  
       <div class="reg_fast reg_fast_cur" onclick="checkreg(3)">邮箱注册</div>  
     </div>
      <ul class="register_list">
        <li class="mt20 reg_re"><em><font color="#FF0000">*</font> 邮&nbsp;&nbsp;箱：</em>
        <input type="text" class="logoin_text tips_class" id="email3" onBlur="reg_checkAjax('email3');" onkeyup="get_def_email(this.value,'3');">
         <div class="reg_email_box" id="defemail3" style="display:none"></div>
		 <span class="reg_tips reg_tips_red" id="ajax_email3" style="display:none;"></span>
        </li>
     <li class="mt20"><em><font color="#FF0000">*</font> 密&nbsp;&nbsp;码：</em> 
     <span id="pass3"><input type="password" onkeyup="uppassword(3)" id="password3" onBlur="reg_checkAjax('password3');" class="logoin_text tips_class" value=""></span>
     <span class="reg_tips reg_tips_red" id="ajax_password3" style="display:none;"></span>
     </li>
     <li><em>&nbsp;</em>
       <div class="kg_lgn_psw_strong">
       <div class="kg_lgn_psw_txt">密码强度:弱</div>
         <div class="kg_lgn_psw_strong_cnt"> 
         <span id="pass1_3" class="psw_span"></span> 
         <span id="pass2_3" class="psw_span "></span> 
         <span id="pass3_3" class="psw_span "></span> 
        </div>        
        <div class="kg_lgn_psw_txt">强</div>
        <div class="psw_xs" onmousemove="showtip(3)" onmouseout="hidetip(3)">
        <a href="javascript:showpw(3);" id="showpw3" class="psw_xs_a">显示密码</a> 
        <i class="psw_xs_icon"></i>
        <div class="psw_xs_tips" id="tip3" style="display:none;">你可以点击这里检查已填写的密码</div></div>
          </div>
        </li>

		{yun:}if $config.reg_passconfirm=='1'{/yun}
		<li class="mt10"><em><font color="#FF0000">*</font> 确认密码：</em> 
			 <span id="pass1"><input type="password" id="passconfirm3" onBlur="reg_checkAjax('passconfirm3');" class="logoin_text tips_class" value=""></span>
			 <span class="reg_tips reg_tips_red" id="ajax_passconfirm3" style="display:none;"></span>
	    </li>
		{yun:}/if{/yun}

        {yun:}if strpos($config.code_web,"注册会员")!==false{/yun}
         <li class="m10"><em><font color="#FF0000">*</font> 验证码：</em>
          <input id="CheckCode3" type="text" class="logoin_text_yz"  maxlength="4">
          <img id="vcodeimg" class="authcode" src="include/authcode.inc.php"><span class="reg_yz_look">看不清？ 
          <a href="javascript:checkcode();" class="registe_a">换一张</a></span>
          </li>
        {yun:}/if{/yun}
       <li class="m10">
        <em>&nbsp;</em><input type="checkbox" id="xieyi3" class="logoin_check" value="1">
        <label for="isReadagreement">我已阅读<a href="{yun:}$config.sy_weburl{/yun}/about/service.html" target="_blank" class="reg_yhxy"> 《用户服务协议》</a> ，并自愿遵守该协议。
        </li>
         <li class="mt20"><em>&nbsp;</em><input type="button" class="register_submit" onclick="check_user(3);"></li>
     </ul>
     </div>
     {yun:}/if{/yun}
     
     <div class="register_Switching_box" id="regtype1">
     <ul class="register_list">
     <li class="mt20"><em><font color="#FF0000">*</font> 用户名：</em>
     <input type="text" id="username1" class="logoin_text tips_class" onBlur="reg_checkAjax('username1');">
     <span class="reg_tips reg_tips_red" id="ajax_username1" style="display:none;"></span>
     </li>
     <li class="mt20"><em><font color="#FF0000">*</font> 密&nbsp;&nbsp;码：</em> 
     <span id="pass1"><input type="password" onkeyup="uppassword(1)" id="password1" onBlur="reg_checkAjax('password1');" class="logoin_text tips_class" value=""></span>
     <span class="reg_tips reg_tips_red" id="ajax_password1" style="display:none;"></span>
     </li>
     <li class="reg_re"><em>&nbsp;</em>
       <div class="kg_lgn_psw_strong">
       <div class="kg_lgn_psw_txt">密码强度:弱</div>
         <div class="kg_lgn_psw_strong_cnt"> 
         <span id="pass1_1" class="psw_span"></span> 
         <span id="pass2_1" class="psw_span "></span> 
         <span id="pass3_1" class="psw_span "></span> 
        </div>        
        <div class="kg_lgn_psw_txt">强</div>
        <div class="psw_xs" onmousemove="showtip(1)" onmouseout="hidetip(1)">
        <a href="javascript:showpw(1);" id="showpw1" class="psw_xs_a">显示密码</a> 
        <i class="psw_xs_icon"></i>
        <div class="psw_xs_tips" id="tip1" style="display:none;">你可以点击这里检查已填写的密码</div></div>
          </div>
        </li>
		{yun:}if $config.reg_passconfirm=='1'{/yun}
		<li class="mt10"><em><font color="#FF0000">*</font> 确认密码：</em> 
			 <span id="pass1"><input type="password" id="passconfirm1" onBlur="reg_checkAjax('passconfirm1');" class="logoin_text tips_class" value=""></span>
			 <span class="reg_tips reg_tips_red" id="ajax_passconfirm1" style="display:none;"></span>
	    </li>
		{yun:}/if{/yun}
		{yun:}if $config.reg_comemail=='1'{/yun}
        <li class="mt20 reg_re2"><em><font color="#FF0000">*</font> 邮&nbsp;&nbsp;箱：</em>
        <input type="text" class="logoin_text tips_class" id="email1" onBlur="reg_checkAjax('email1');" onkeyup="get_def_email(this.value,'1');">
         <div class="reg_email_box" id="defemail1" style="display:none"></div>
		 <span class="reg_tips reg_tips_red" id="ajax_email1" style="display:none;"></span>
        </li>
		{yun:}/if{/yun}
		{yun:}if $config.reg_comlink=='1'{/yun}
     <li class="mt20"><em><font color="#FF0000">*</font> 联系人：</em>
     <input type="text" id="linkman" class="logoin_text tips_class" onBlur="reg_checkAjax('linkman');">
     <span class="reg_tips reg_tips_red" id="ajax_linkman" style="display:none;"></span>
     </li>
	  {yun:}/if{/yun}
	   {yun:}if $config.reg_comtel=='1'{/yun}
     <li class="mt20"><em><font color="#FF0000">*</font> 联系手机：</em>
     <input type="text" id="linkphone" class="logoin_text tips_class" onBlur="reg_checkAjax('linkphone');">
     <span class="reg_tips reg_tips_red" id="ajax_linkphone" style="display:none;"></span>
     </li>
	  {yun:}/if{/yun}
	{yun:}if $config.reg_comname=='1'{/yun}
     <li class="mt20"><em><font color="#FF0000">*</font> 公司名称：</em>
     <input type="text" id="unit_name" class="logoin_text tips_class" onBlur="reg_checkAjax('unit_name');">
     <span class="reg_tips reg_tips_red" id="ajax_unit_name" style="display:none;"></span>
     </li>
	 {yun:}/if{/yun}
	  
	 {yun:}if $config.reg_comaddress=='1'{/yun}
     <li class="mt20"><em><font color="#FF0000">*</font> 公司地址：</em>
     <input type="text" id="address" class="logoin_text tips_class" onBlur="reg_checkAjax('address');">
     <span class="reg_tips reg_tips_red" id="ajax_address" style="display:none;"></span>
     </li>
	  {yun:}/if{/yun}
        {yun:}if strpos($config.code_web,"注册会员")!==false{/yun}
         <li class="m10"><em><font color="#FF0000">*</font> 验证码：</em>
          <input id="CheckCode1" type="text" class="logoin_text_yz"  maxlength="4">
          <img id="vcode_imgs" class="authcode" src="include/authcode.inc.php"><span class="reg_yz_look">看不清？ 
          <a href="javascript:check_codes();" class="registe_a">换一张</a></span>
          </li>
        {yun:}/if{/yun}
       <li class="m10">
        <em>&nbsp;</em><input type="checkbox" id="xieyi1" class="logoin_check" value="1">
        我已阅读<a href="{yun:}$config.sy_weburl{/yun}/about/service.html" target="_blank" class="reg_yhxy"> 《用户服务协议》</a> ，并自愿遵守该协议。
        </li>
         <li class="mt20"><em>&nbsp;</em><input type="button" class="register_submit" onclick="check_user('1');"></li>
     </ul>
    </div>
        {yun:}if strpos($config.code_web,"注册会员")!==false{/yun}
        <input type="hidden" id="code" value="1" />
        {yun:}else{/yun}
        <input type="hidden" id="code" value="0" />
        {yun:}/if{/yun}
      <input type="hidden" id="default" value="-1" />
      <input type="hidden" id="def" value="" />
      <input type="hidden" id="event" value="" />
      <input type="hidden" id="allnum" value="0" />
      <input type="hidden" id="send" value="0" />
      <input type="hidden" id="usertype" value="2" />
        </div>
    <div class="register_right">
      <div class="register_right_c"> 已有企业账号 ? <a href="{yun:}url m=login url=usertype:2{/yun}">立即登录</a></div>
      {yun:}if $config.sy_qqlogin==1 || $config.sy_sinalogin==1{/yun}
      <div class="register_right_c">使用合作网站账号登录 </div>
      <div class="register_right_q">
        <div class="login_qq" style="width:180px; padding-top:0px;"> {yun:}if $config.sy_qqlogin==1{/yun} <a href="{yun:}url m=qqconnect url=c:qqlogin{/yun}" style="color:#333;">QQ登录</a> {yun:}/if{/yun} |
          {yun:}if $config.sy_sinalogin==1{/yun} <a href="{yun:}url m=sinaconnect{/yun}"class="log_sina" style="color:#333;">新浪微博</a> {yun:}/if{/yun} </div>
      </div>
      {yun:}/if{/yun} </div>
  </div>
</div>
<style>
.icon2 {
    background-image:none;
    background-repeat: no-repeat;
}
</style>
<!--content  end--> 
<div class="clear"></div>
{yun:}include file="$tplstyle/footer.htm"{/yun}
