<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/message.css" type="text/css">
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script src="{yun:}$style{/yun}/js/reg_ajax.js" type="text/javascript"></script>
<script>var weburl="{yun:}$config.sy_weburl{/yun}";</script>
</head>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="prompt_message">

<!--账号锁定-->
<div class="prompt_message_cont">
<div class="prompt_message_cont_c">
<div class="prompt_message_img"><img src="{yun:}$style{/yun}/images/msg_sd.png"></div>
<div class="prompt_message_right" style="margin-top:50px;">
<div class="prompt_message_right_h1">很抱歉  该模块已关闭</div>

</div>
</div>
<div class="prompt_message_touch">欢迎拨打我们客服电话：<span class="prompt_message_touch_tel">{yun:}$config.sy_webtel{/yun}</span></div>
</div>

</div>
<div class="clear"></div>
{yun:}include file="$tplstyle/footer.htm"{/yun}