<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png,.index_logoin,.index_logoin_current,.nav_list,.fairs_Status,.fairs_Status,.logoin_qybj,.logoin_grbj,.logoin_Shadow_right,.logoin_Shadow_left,.whitebg,.micro_resume_fast,.nav_list_hover a,#bg,.left_comapply_cont li,.icon2,.nav_list .nav_list_hover em,.Fast_right_icon_l,.Fast_right_icon_r,.index_logoin_after,.logoin_after em,.logoin_after_su2,.logoin_after_su1,.hbg,.pagination li a,.firm_post_list,.Auction_tit,.yun_title,.Recommended_tit,.Com_Search_Results_r ul .All_post_h1_act,.sButtonBlock a.closeButton,.Comment_list_top,.icon,.yun_wap_m_bg,.micro_box');
</script>
<![endif]--> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<link rel="stylesheet" href="{yun:}$com_style{/yun}/images/comapply.css" type="text/css">
</head>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}
<script> var weburl = "{yun:}$config.sy_weburl{/yun}"</script>
<div class="yun_content">

<div class="current_Location icon png"> 您当前的位置：<a href="{yun:}$config.sy_weburl{/yun}">首页</a> > <a href="{yun:}url m=com{/yun}">职位列表</a> > 联系我们 </div>
   {yun:}include file="$comstyle/job_nav.htm"{/yun}
    <div class="Job_Introduction_cont">
	<div class="clear"></div>
{yun:}if $look_msg!=""{/yun}
	<div class="about_touch">
	  <div class="clear"></div>
		<div class="about_touch_logoin" style="margin:30px 0;">
			<div class="about_touch_title">
				<div class="about_touch_red">{yun:}$look_msg{/yun}</div>
				{yun:}if $looktype=="1"{/yun}
				<a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=expect&add={yun:}$uid{/yun}" class="yun_bth_icon">创建简历</a>
				{yun:}elseif $looktype=="2"{/yun}
				<a  style="cursor:pointer" onclick="showcomlogin();"  class="yun_bth_icon">立即登陆</a>
				<a href="{yun:}url m=register url=usertype:1{/yun}" class="yun_bth_icon">立即注册</a>
				{yun:}/if{/yun}
			</div>
		</div>
	</div>
	{yun:}else{/yun}

	<div class="Company_details">
	  <ul>
		<li><strong>公司地址</strong><em>{yun:}$com.address{/yun}</em></li>
		<li><strong>固定电话</strong><em>{yun:}image uid=$com.uid action=linkphone{/yun}</em></li>
		<li><strong>联系电话</strong><em>{yun:}image uid=$com.uid action=linktel{/yun}</em></li>
		<li><strong>联系邮件</strong><em>{yun:}$com.linkmail{/yun}</em></li>
        <li><strong>联 系 QQ</strong><em>{yun:}$com.linkqq{/yun}</em></li>
		<li><strong>邮政编码</strong><em>{yun:}$com.zip{/yun}</em></li>
		<li><strong>企业网址</strong><em>{yun:}$com.website{/yun} </em></li>
	  </ul>
	</div>
	{yun:}/if{/yun}
</div>
</div>
<div class="Pop-up_box" id="touch_lo"  style="display:none"> 
	<div class="Pop-up_logoin">
		<form action="{yun:}$config.sy_weburl{/yun}/index.php?m=login&c=loginsave" method="post">
		  <div class="Pop-up_logoin_list">
		  <span>用户名：</span>
		  <input type="text" id="username" value="" tabindex="1"  size="18" name="username" class="ajax_login_input">
		 </div>
		   <div class="Pop-up_logoin_list">
		  <span>密&nbsp;&nbsp;码：</span>
		  <input type="password" id="password" tabindex="2"  size="18" name="password" value=""class="ajax_login_input">
		</div>
		<div class="Pop-up_logoin_list">
		 <span>验证码：</span>
		 <input id="authcode" type="text" tabindex="3"   maxlength="4" name="authcode" class="ajax_login_input w60">
		 <img id="vcode_img" src="{yun:}$config.sy_weburl{/yun}/include/authcode.inc.php" >&nbsp;<a href="javascript:checkcode();">看不清?</a>
		 </div>
			<div class="Pop-up_logoin_list">
			<span>&nbsp; </span>
		  <input id="loginsubmit" type="button" name="loginsubmit" class="login_button" onclick="checklogin()">
		  <a href="{yun:}url m=login{/yun}" ></a>
		  <a href="{yun:}url m=forgetpw{/yun}" class="Orange"><font color="#006699">忘记密码了？</font></a>
		  </div>
		  </form>
		  <div class="Pop-up_logoin_bot"> <span>&nbsp;</span> 还没有账号？<a href="{yun:}url m=register url=usertype:1{/yun}" class="Orange">免费注册</a> </div> 
	</div>
</div></div></div> 
{yun:}include file="$tplstyle/footer.htm"{/yun}