<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png,.index_logoin,.index_logoin_current,.nav_list,.fairs_Status,.fairs_Status,.logoin_qybj,.logoin_grbj,.logoin_Shadow_right,.logoin_Shadow_left,.whitebg,.micro_resume_fast,.nav_list_hover a,#bg,.left_comapply_cont li,.icon2,.nav_list .nav_list_hover em,.Fast_right_icon_l,.Fast_right_icon_r,.index_logoin_after,.logoin_after em,.logoin_after_su2,.logoin_after_su1,.hbg,.pagination li a,.firm_post_list,.Auction_tit,.yun_title,.Recommended_tit,.Com_Search_Results_r ul .All_post_h1_act,.sButtonBlock a.closeButton,.Comment_list_top,.icon,.yun_wap_m_bg,.micro_box');
</script>
<![endif]--> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<link rel="stylesheet" href="{yun:}$com_style{/yun}/images/comapply.css" type="text/css">
</head>
<body>
 {yun:}productpage limit=5{/yun}
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="yun_content">
  <div class="current_Location icon"> 您当前的位置：<a href="{yun:}$config.sy_weburl{/yun}">首页</a> > <a href="{yun:}url m=com{/yun}">职位列表</a> > 产品展示</div>
  {yun:}include file="$comstyle/job_nav.htm"{/yun}
  <div class="Job_Introduction_cont">
    <div class="Company_show_list"> 
{yun:}if !empty($productpage){/yun}
	{yun:}section name=i loop=$productpage{/yun}
      <dl>
        <dt><a  href="{yun:}curl url=id:$id,tp:productshow,pid:`$productpage[i].id`{/yun}"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$productpage[i].pic{/yun}"width="270" height="180" alt="{yun:}$productpage[i].title{/yun}"/></a></dt>
        <div class="job_show_bg"></div>  <dd><a  href="{yun:}curl url=id:$id,tp:productshow,pid:`$productpage[i].id`{/yun}">{yun:}$productpage[i].title{/yun}</a></dd>
      
      </dl>
      {yun:}/section{/yun} </div>
    <div class="clear"></div>
    <div class="pages">{yun:}$pagenav{/yun}</div>
    	{yun:}else{/yun}
        <div class="comapply_no_msg"> <div class="comapply_no_msg_cont"><span></span><em>该公司还没有上传产品展示!</em></div></div>
      	{yun:}/if{/yun}
  </div>
</div>
</div>
</div>
</div>
{yun:}include file="$tplstyle/footer.htm"{/yun}