{yun:}include file="$askstyle/header.htm"{/yun}
<div class="answers_content">
<div class="answers_cont">


<div class="answers_left">
<div class="answers_news_title"><span>我的问题</span></div>
<div class="topic_cont_top">
<div class="topic_cont_top_r">
<div class="topic_cont_top-nav">
<ul class="topic_cont_top-nav-list">
<!--li class="topic_cont_top-nav-list-item">
{yun:}if $dynamic{/yun}
<span>动态</span>
{yun:}else{/yun}
<a class="topic_cont_top-nav-normal" href="{yun:}aurl url=c:dynamic{/yun}">动态</a>
{yun:}/if{/yun} 
</li-->
<li class="topic_cont_top-nav-list-item">
{yun:}if $recom{/yun}
<span>精华</span>
{yun:}else{/yun}
<a class="topic_cont_top-nav-normal" href="{yun:}aurl url=c:myquestion,recom:1{/yun}">精华</a>
{yun:}/if{/yun} 
</li>
<li class="topic_cont_top-nav-list-item">
{yun:}if $recom=="" && $dynamic==""{/yun}
<span>全部问题</span>
{yun:}else{/yun}
<a class="topic_cont_top-nav-normal" href="{yun:}aurl url=c:myquestion{/yun}">全部问题</a>
{yun:}/if{/yun} 
</li>
</ul>
</div>
</div>
</div>
<div class="clear"></div>
<!--就这块循环 start-->
{yun:}qlist item=qlist_a  ispage=1  uid=@uid recom=@recom t_len=20 limit=10{/yun} 
	<div class="answers_left_list">
		<div class="answers_left_list_cont">
		<h2><a class="question_link" target="_blank" href="{yun:}$qlist_a.url{/yun}" id="title_{yun:}$qlist_a.id{/yun}">{yun:}$qlist_a.title{/yun}</a></h2>
		<div class="answers_feed-meta"> 
		<a href="javascript:void(0);" class="answers_feed-meta_ll">({yun:}$qlist_a.visit{/yun})次浏览</a>
		<a href="javascript:void(0);" class="answers_feed-meta_pl">({yun:}$qlist_a.answer_num{/yun})人回答</a>
		<a href="javascript:void(0);" onclick="forward_sinaweibo('{yun:}$qlist_a.id{/yun}')" class="answers_feed-meta_xl">新浪微博</a>
		<a href="javascript:void(0);" onclick="forward_tencentweibo('{yun:}$qlist_a.id{/yun}')" class="answers_feed-meta_tx">腾讯微博</a>
		{yun:}$qlist_a.add_time|date_format:"%Y-%m-%d %H:%M:%S"{/yun}
		</div>
		</div>
		<div class="answers_left_list_right">
			<img src="{yun:}$qlist_a.pic{/yun}" width="40" height="40" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_friend_icon{/yun}',2);">
		</div>
	</div> 
	
{yun:}/qlist{/yun} 
{yun:}if $total==0{/yun}
<div class="answers_left_list">	暂无信息</div> 
 {yun:}/if{/yun}
<div class="clear"></div><div class="clear"></div>
<div class="pages">{yun:}$pagenav{/yun}</div>
</div>
<div class="answers_right">
 {yun:}include file="$askstyle/right.htm"{/yun} 
</div>
</div>
</div>
<div class="clear"></div>
{yun:}include file="$askstyle/footer.htm"{/yun}
</body>
</html>