@charset "gb2312";
body {font-size:14px;margin:0; padding:0;color: #666666;font-family:Arial, Helvetica, sans-serif; height:100%; width:100%; position:relative; overflow-x:hidden}
form {margin:0px;}
td {font-size:13px}
a{color:#8A8A8A; text-decoration:none}
h1, h2, h3, h4, h5, h6 { font-size: 14px; font-weight: normal;}
i, em, b {font-style: normal;}
.main_body{ background:#fff;}
h1, h2, h3, h4, h5, form, p, ul {margin:0px;padding:0px;}
input {font-family:Arial, Helvetica, sans-serif;font-size:12px;color: #666666;}
table {width: 100%;}
.mt10{ margin-top:10px;}
.main {margin:auto;line-height:150%;padding:3px 8px 8px 8px;}
.main_body .header{ display:block; position:relative}
.header_cont{width:100%;height:46px; background:#2174de; position:relative}
.header .header_cont .nav_icon{width:20px;height:17px;position:absolute;top:50%;left:15px;margin-top:-8px;}
.header .header_cont .nav_icon i{display:block;height:3px;width:20px;background:#FFF;border-radius:2px;position:absolute;top:50%;left:0;margin-top:-2px;}
.header .header_cont .nav_icon i:after{content:'';height:3px;width:20px;background:#FFF;border-radius:2px;position:absolute;top:-7px;left:0;}
.header .header_cont .nav_icon i:before{content:'';height:3px;width:20px;background:#FFF;border-radius:2px;position:absolute;bottom:-7px;left:0;}
.header .header_cont .nav_icon em{width:12px;height:6px;display:block;position:absolute;bottom:-15px;left:4px;overflow:hidden;display:none;}
.header .header_cont .nav_icon em:before{content:'';height:10px;width:10px;background:#FFF;position:absolute;top:2px;left:1px;-webkit-transform:rotate(-45deg);}
.header .logo{padding-top:5px;width:174px;margin:0 auto;}
.header .header_cont_nav{position:absolute;top:50%;right:5px;width:34px;height:34px; margin-top:-17px;}
.header .header_user a{display:block;width:34px;height:34px;text-indent:-100px;}
.header_name{ width:100%; text-align:center; height:46px; line-height:46px; font-size:20px;color:#fff;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.left-box{position:absolute;top:10px}
.left-box {left:8px}
.hd-lbtn {position:relative;display:block;width:20px;height:20px;color:#fff;position:absolute;left:5px;top:3px}
.hd-lbtn span {display:inline-block;width:25px;height:25px;position:relative;border-left:0; background:url(../images/icon3.png) no-repeat;background-size:58%}
.mune_list{width:100%; border-collapse: collapse;border-spacing: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}
.mune_list tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}
.mune_list tr {display: table-row;vertical-align: inherit;border-color: inherit;}
.mune_list td {vertical-align: top;border: 5px solid #fff;}
.mune_list td a{color:#fff; font-size:17px; font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif}
.mune_list i{ display:block;width:37px;height:37px; position:absolute;left:50%;top:15px; margin-left:-21px}
.mune_list  em{width:100%; display:block; position:absolute;left:0px;top:55px;}
.mune_list .mune_a {height: 90px; background:#92ce6a; position:relative; text-align:center}
.mune_list .mune_a i{background:url(../images/icon5.png) no-repeat 0 0; background-size:110%}
.mune_list .mune_b{height: 90px; background:#ffb901; position:relative; text-align:center}
.mune_list .mune_b i{background:url(../images/icon5.png) no-repeat 0px -40px; background-size:110%}
.mune_list .mune_c{height:187px; background:#00ade9; position:relative; text-align:center}
.mune_list .mune_c i{background:url(../images/icon5.png) no-repeat 0px -70px; background-size:100%;top:40px;}
.mune_list .mune_c  em{top:80px;}
.mune_list .mune_d{height: 90px; background:#dd127b; position:relative; text-align:center}
.mune_list .mune_d i{background:url(../images/icon5.png) no-repeat 0px -125px; background-size:110%}
.mune_list .mune_e{height: 90px; background:#f66a0b; position:relative; text-align:center}
.mune_list .mune_e i{background:url(../images/icon5.png) no-repeat 0px -160px; background-size:105%}
.mune_list .mune_f{height:40px; line-height:40px; background:#1ea494;position:relative; text-align:center}
/*首页 start*/
.index_post_hot{ padding-left:5px; padding-right:5px; padding-bottom:5px;}
.index_post_hot_h1{width:100%;height:38px; line-height:38px;background:#0371d3;}
.index_post_hot_h1 a{ display:inline-block; padding-left:10px;color:#fff; font-size:17px; font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif}
.index_post_hot_h1 span{ display:inline-block; padding-left:10px;color:#fff; font-size:17px; font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif}
.ht { margin-top:5px; margin-bottom:5px;}
.ht a {color: #00385D;}
.ht td {text-align: center;border:1px dotted #e8e8e8;height:39px;}
.ht .mk { color: #FF7A03; font-size:15px;}
.index_post_list{width:100%; font-size:14px;}
.index_post_list_b{border-bottom:1px solid #D4D4D4;color:#8A8A8A; display: block;padding:10px 0px; position: relative;}
.index_post_list_b h3 {color: #474340; height: 20px; position: relative; font-size:17px;}
.index_post_list_b h3, .index_post_list_b h3 span, .index_post_list_b aside, .index_post_list_b p, .index_post_list_b i, .index_post_list_b em {overflow: hidden; text-overflow: ellipsis;white-space: nowrap; }
.index_post_list_b  i, .index_post_list_b  em {position: absolute; right:0px; top: 10px;}
.index_post_list_b .user_size{width:40px;}
.index_post_list_b em {top: 30px;}
/*footer start*/
.footer{width:100%;}
.footer_nav{background: -webkit-gradient(linear,0 0,0 100%,from(#FCFCFC),to(#F0F0F0));border-top:1px solid #eee; position:relative; padding:10px;}
.footer_nav a:first-child { float: right;padding-right: 20px; position: relative;}
.footer_nav a:first-child:after {  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000;border-style: solid;border-width: 5px; content: " "; display: block; height: 0; position: absolute;right: 4px; top:3px;width: 0;}
footer {background: #0371d3;color: #fff;line-height: 32px;padding: 10px 0;text-align: center;}
footer a {color:#fff;margin: 0 5px;}

/*分页*/
.clear{clear:both;}
.pages {text-align: center;font-size: 12px;line-height: 20px;}
.pages a {display: inline-block;padding: 0px 5px 0px 5px;margin-left: 10px;color: #666;border-radius: 3px 3px 3px 3px;border: 1px solid #dedede;}
.pages em {display:none;}
.pages .selected {font-weight: bold;color: #06F;background: url(../images/yun_page.png) repeat-x bottom}
/*注册*/
/*会员中心*/
.wap_member{ padding:8px; background:#edf2f6}
.wap_member_top{ background:#fff; padding:10px;border-radius: 5px; position:relative}
.wap_member_top em{color:#0371d3}
.wap_member_top i{ display:block; position:absolute;right:5px;top:10px;}
.wap_member_Searcher{ background:#82acde; padding:15px;border-radius: 5px;margin-top:10px;}
.wap_member_Searcher_sq{width:49%; display:inline-block; text-align:center;color:#fff; font-size:16px;  }
.wap_member_Searcher_sq span{position:relative;}
.wap_member_Searcher_sq i{ display:inline-block; padding:0px 6px 0px 6px; background:#e68e8a; position:absolute;right:-15px;top:-18px;border-radius: 10px;}
.wap_member_Searcher_sq_line{border-right:1px solid #9fbfe6;}
.wap_member_Searcher_sq  .wap_member_Searcher_sc{ background:#e8bb1e;}
.wap_member_mrecord{ margin-top:10px; background:#fff;border:1px solid #dcdbd9;border-radius: 5px; padding:0px 5px 0px 5px;font-size:15px;}
.wap_member_mrecord_list{border-bottom:1px solid #dcdbd9;position: relative;display: block;padding: 13px 0px 13px 0px;}
.wap_member_mrecord_list:after {content: ' ';position: absolute;top: 50%;margin-top: -4px;right: 10px;width: 6px;height: 6px;border: #AAAAAA solid;-webkit-transform: rotate(45deg);border-width: 2px 2px 0 0; }
.wap_member_mrecord_list_no{border:none;}
.wap_member_mrecord_list em{color:#f0d36d}
.wap_member_mrecord_pad{padding: 13px 5px 13px 5px; position:relative}
.wap_member_mrecord_pad i{ display:inline-block; position:absolute;right:10px;top:15px;color:#36F}
.wap_member_mrecord_pad em{color:#f0d36d}
.wap_member_post_list{ background:#fff; padding:10px;border-radius: 5px; margin-top:5px;border:1px solid #dcdbd9;}
.wap_member_comp{color:#fff; padding:10px;border-radius: 5px; position:relative; line-height:23px;border:1px solid #0d69ba;background: -webkit-gradient(linear,0 0,0 100%,from(#459ae5),to(#0371d3));}
.wap_member_comp em{color:#f2fa20;}
.wap_member_comp i{ position:absolute;right:10px;top:10px;}
.wap_member_comp a{color:#fff;}
.wap_member_comp_h1{ padding:10px 0 10px 0; background:#fff;}
.wap_member_comp_h1 span{border-left:6px solid #f60; padding-left:8px; font-size:16px;color:#f60}
.wap_member_Receive{background:#fff;border:1px solid #dcdbd9; padding:0px 5px 5px 5px;border-radius: 5px; margin-top:10px;  }
.wap_member_Receive_list{border-bottom:1px solid #dcdbd9; padding:10px; position:relative;display:block;line-height:20px;}
.wap_member_Receive_list i{ position:absolute;right:10px;top:10px;}
.wap_member_Receive_list em{color:#F30}
.wap_member_Receive_post{border-bottom:1px solid #dcdbd9; padding:10px; position:relative;display:block;line-height:20px;}
.wap_member_Receive_post i{ position:absolute;right:10px;top:10px;}
.wap_member_Receive_post em{color:#F30}
.wap_member_Receive_post span{position:absolute;right:10px;top:30px;}
.wap_member_Receive_post .wap_m_post_col{color:#0371d3}
.wap_member_no{ padding:20px 0px 20px 0px; text-align:center}
.wap_member_pay{ padding:10px;}
.wap_member_pay em{ font-size:20px;color:#F60}
.wap_member_pay_c{ line-height:23px; padding-left:10px;}
.wap_m_post_yq{ position:absolute;right:8px;top:33px; display:inline-block; background:#f60; padding:0px 3px 0 3px;color:#fff;border-radius: 5px;}
.wap_m_post_has{ background:#ccc;}
.wap_m_post_user{color:#0371d3}
.wap_member_post_list_b{border-bottom:1px solid #D4D4D4;color:#8A8A8A; display: block;padding: 10px 0px 10px 0px; position: relative;}
.wap_member_post_list_b h3 {color: #474340; height: 20px; position: relative;}
.wap_member_post_list_b h3, .wap_member_post_list_b h3 span, .wap_member_post_list_b aside, .wap_member_post_list_b p, .wap_member_post_list_b i, .wap_member_post_list_b em {overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.wap_member_post_list_b  i, .wap_member_post_list_b  em {position: absolute; right: 0px; top: 10px;width: 80px;}
.wap_member_post_list_b .user_size{width:40px;}
.wap_member_post_list_b em {top: 30px;}
.user_Browse{ background:#e8e8e8; margin-top:5px; padding:5px; position:relative}
.user_Browse_Delete{ position:absolute;right:10px;top:5px;}
.Already_Browse{color:#F00}
.wap_member_msg{border-bottom:1px solid #D4D4D4;color:#8A8A8A; display: block;padding: 10px 0px 10px 0px; position: relative}
.wap_member_msg span{color:#0371d3; display:block; margin-bottom:5px; font-size:15px;}
.wap_member_msg span a{color:#0371d3;}
.wap_member_msg i{ position:absolute;right:0px;top:10px;}
.wap_member_msg em{ position:absolute;right:0px;top:30px;}
.wap_member_msg .wap_member_msg_p{width:100%;}
.wap_member_ck{color:#bbb}
.wap_member_wck{color:#C00}
.wap_member_msg_bot{ background:#f6f6f6;margin:6px 2px 2px 2px; padding:5px; position:relative}
.wap_member_msg  .wap_member_msg_bot em{top:5px;right:5px;}
.msg-err, .msg-ok, .msg-tip {padding:6px;margin:10px 6px 7px;color:#D01E5E;background:#FFDCD7;text-align:center;border:1px rgba(209, 30, 94, .3) solid;border-radius:3px}
.msg-ok {color:#509313;background:#CBE987;border:1px #509313 solid}
.msg-tip {color:#C97;background:rgba(238, 199, 116, .3);margin-bottom:10px;border:1px rgba(238, 199, 166, 1)}
.shake {-webkit-animation-name:shake;animation-name:shake
}@-webkit-keyframes shake {
0%, 100% {-webkit-transform:translateX(0)}
10%, 30%, 50%, 70%, 90% {-webkit-transform:translateX(-10px)}
20%, 40%, 60%, 80% {-webkit-transform:translateX(10px)}}
@keyframes shake {
0%, 100% {-webkit-transform:translateX(0);transform:translateX(0)}
10%, 30%, 50%, 70%, 90% {-webkit-transform:translateX(-10px);transform:translateX(-10px)}
20%, 40%, 60%, 80% {-webkit-transform:translateX(10px);transform:translateX(10px)}}
/*添加简历*/
.resume-cont{border-radius: 5px; background:#fff; margin-top:5px; display:block}
.resume-cont_p{ display:block; padding:10px; position:relative;}
.resume-cont_zk{padding:10px; }
.resume-icon{width:12px;height:8px; background:url(../images/jt.png) no-repeat; position:absolute;right:10px;top:12px;}
.resume-cont_h2{height:30px; background:#f5f5f5; line-height:30px; position:relative}
.resume-cont_h2 span{ margin-left:10px;}
.resume-cont_wate_list{  position:relative; margin:0; padding:0; margin-top:8px}
.resume-cont_wate_list dt{ display:block;width: 110px;position: absolute;top: 0;left: 0;font-size: 14px;color: #787878; line-height:25px;}
.resume-cont_wate_list  dd {padding-left: 110px;font-size: 14px; line-height:25px;}
.resume-cont_wate_list  dd .reinputText{border: 1px solid #ccc;line-height: 18px;height: 18px;padding: 5px;border-radius: 2px;box-shadow: 2px 2px 2px #eee inset;font-size: 14px;width: 100%;margin-left: -12px;-webkit-appearance: none;}
.resume-cont_wate_list  dd  .reinputText2{width:100%;height:40px; background:#F90;border:none;color:#fff;font-size:20px;margin-left: -12px; cursor:pointer;background:-webkit-linear-gradient(top, #F8881D, #F8881D);border-radius: 3px;}
.mLeft12 {margin-left: -12px;}
.relative {position: relative;}
.selectOption{display:inline-block;height:28px;background:-webkit-gradient(linear,left top, left bottom, from(#fff),to(#fff));vertical-align:middle;position:relative;border-radius:2px;overflow:hidden;border:1px solid #ccc;box-shadow: 2px 2px 2px #eee inset;}
.selectOption:before{content:' ';position:absolute;top:0;right:0;width:24px;height:28px;background:-webkit-gradient(linear,left top, left bottom, from(#1881df),to(#0371d3));border-top-right-radius:2px;border-bottom-right-radius:2px;border-left:1px solid #1279d5;}
.selectOption:after{content:' ';position:absolute;top:12px;right:6px;width:0;height:0;font-size:0;border:6px solid rgba(255,255,255,0);border-top-color:#FFF;}
.selectOption select{float:left;position:absolute;top:0;right:0;z-index:2;padding:0;border:0;-webkit-appearance:none;width:100%;background:transparent;height:28px;text-indent:5px;font-size:12px;}
.selectOption select option{font-size:12px;}
.resume-cont_wate_list .resume_xg_a { display:inline-block;width:25%;color:#fff; padding:5px 5px; text-align:center}
.resume_xg{ background:#F60}
.resume_tj{ background:#06F}
.resume_sc{ background:#090}
.textAreaMsg{border:1px solid #ccc;line-height:18px;height:54px;padding:5px;border-radius:2px;box-shadow:2px 2px 2px #eee inset;font-size:14px;width:100%;margin-left:-12px;vertical-align:middle;margin-top:3px;margin-bottom:3px;-webkit-appearance:none;}
.jobadd_span{display:inline-block; white-space:normal}
.wap_member_comp_em{ position:absolute;right:10px;top:10px;}
.resume-cont_wate_yt{border-bottom:1px dotted#ccc; padding-bottom:5px;}
.mask{width:100%;position:absolute;top:0;left:0;background:rgba(51, 51, 51, 0.8);z-index:10;color:#EEE;font-size:16px;}
.mask .f_left{position:absolute;top:0;left:0;}
.mask .f_left .arrow_icon{width:24px;height:24px;overflow:hidden;cursor:pointer;}
.mask .f_left .arrow_icon i{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);border:#FFFFFF solid;border-width:3px 3px 0 0;width:13px;height:13px;position:absolute;top:1px;left:5px;}
.mask .f_left .arrow_icon i:nth-child(2){left:-5px;}
.mask .f_body{margin-left:40px;background:#333;height:100%;}
.selecter h2{position:fixed;height:40px;width:280px;background:#333;z-index:100000;font-size:18px;line-height:40px;border-bottom:1px solid #292929;text-indent:16px;top:0;right:0;}
.selecter h2 button{position:relative;overflow:hidden;height:28px;line-height:26px;width:49px;background:-webkit-gradient(linear, left top, left bottom, from(#F76E38), to(#D15321)); float:right;top:0;right:0;color:#FFF;margin-right:7px;margin-top:7px;font-size:14px;text-indent:0;border:1px solid #111;border-radius:3px;}
.selecter h2 button:after{content:' ';position:absolute;top:0px;left:2px;background:#F9915E;width:42px;height:1px;}
.selecter h2 button.clear_sub{background:-webkit-gradient(linear, left top, left bottom, from(#333333), to(#252525));}
.selecter h2 button.clear_sub:after{background:#444444;}
.selecter .contentbody{position:relative;background:#333;margin-top:40px;}
.selecter h3{font-size:18px;height:40px;line-height:40px;padding-left:15px;border-bottom:1px solid #292929;position:relative; background:#333;z-index:1}
.selecter h3 button{height:40px;width:70px;background:#E86E1B;position:absolute;top:0;right:0;color:#EEEEF0;}
.selecter .result_split dt{line-height: 41px;height: 41px;padding: 0 15px 0 15px;padding-right: 30px;border-top: 1px solid #4b4b4b;border-bottom: 1px solid #292929;position: relative;background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#3b3b3b));}
.selecter .current{line-height:41px;height:41px;padding:0 0 0 20px; border-top:1px solid #4b4b4b;border-bottom:1px solid #292929;position:relative;background:-webkit-gradient(linear, left top, left bottom, from(#444444), to(#3b3b3b));}
.selecter.filter .current{padding:0 15px;}
.selecter .current:after{-webkit-transform:rotate(135deg);content:' ';position:absolute;top:50%;margin-top:-7px;right:13px;width:6px;height:6px;border:#CFCFCF solid;border-width: 2px 2px 0 0;}
.selecter.filter .lookshow:after{-webkit-transform:rotate(315deg);margin-top:-3px;}
.selecter .contentbody.industry .current:after{display:none;}
.selecter .current label{line-height:41px;height:41px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;display:block;position:relative;z-index:1;padding-right:30px;box-sizing:border-box;}
.selecter input[type="radio"]{position:absolute;top:50%;left:12px;width:16px;height:16px; margin:0;margin-top:-8px;-webkit-appearance: none;background:url("../images/icon2.png") no-repeat left bottom;background-size:41px; padding:0;}
.selecter input[type="radio"]:checked{background-position:right bottom;}
.selecter input[type="checkbox"]{position:absolute;top:50%;left:12px;width:16px;height:16px;margin-top:-8px;-webkit-appearance: none;background:url("../images/icon2.png") no-repeat left top ;background-size:41px;}
.selecter input[type="checkbox"]:checked{background-position:right top;}
.selecter .lookshow .current:after{-webkit-transform:rotate(315deg);margin-top:-3px;}
.selecter ul{padding:5px 0;}
.selecter li{cursor:pointer;padding:0 15px 0 20px;position:relative;}
.selecter li label{padding-left:30px;line-height:30px;height:30px; display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.selecter.filter li label{padding-left:15px;}
.selecter li span{color:#FFA145;font-size:14px;padding-left:5px;}
.post_show_three{ background:#333;}
.selecter .result_split .btn,
.selecter .result_split .keyword{padding:6px 22px;}
.selecter .result_split .keyword input{border:1px solid #ABABAB;margin:0;background:#fff;border-radius:2px;box-shadow:1px 1px 2px #BBBBBB inset;-webkit-appearance:none;line-height:18px;padding:6px 4px;font-size:14px;width:100%;}
.selecter .result_split .btn button{border-radius:2px;width:100%;background:-webkit-gradient(linear, left top, left bottom, from(#FF6500), to(#EA4300));border:0;height:30px;line-height:26px;font-size:16px;color:#FFF;font-family:"Microsoft Yahei";}
.selecter .result_split dd{padding-top:14px;}
.lookhide{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
.lookhide dd{ margin:0; padding:0}
.resume-cont_wate_list em{ margin-right:12px; margin-left:10px;}
dl, dt, dd, ol, ul, li, fieldset, form, video {-moz-font-feature-settings: inherit;-moz-font-language-override: inherit;border: 0 none;font-family: "Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif;font-size: inherit;font-size-adjust: inherit;font-stretch: inherit;font-style: inherit;font-variant: inherit;font-weight: inherit;line-height: inherit;margin: 0;padding: 0;vertical-align: baseline;list-style:none}
.wap_member_msg_jl a{ display:inline-block;width:19%;height:25px; line-height:25px; text-align:center;background:#06F;color:#fff; margin-top:10px;}
.wap_member_msg_jl  .wap_member_msg_jl_xg{ background:#F60}
nav.nav {background:#f9f9f9;border-bottom: 1px solid #dcdcdc;float:left;width: 100%;position:relative;}
nav.nav ul {width: 100%;}
nav.nav ul li {display: inline-block;float: left;font-size: 0.785em;text-align: center;width: 23%;}
nav.nav ul li a {color: #333333;display: block;margin: 0 10px;height:35px;line-height:35px;}
nav.nav ul li a.current {background: #43A0FF;color:#fff;}
nav.nav > span {cursor: pointer;display: inline-block;height: 33px;line-height:33px;padding-top: 2px;position: absolute; right: 0; text-align: center;font-size:18px;color:#C30;font-weight:bold; top: 0; width: 30px;background:#f5f5f5;border-left:1px solid #dddddd}
.subnav {background:#FFFFFF;width: 100%;z-index: 9999;}
.subnav h3 {background:#EDEEEF;border-bottom: 1px solid #C6C6C6;box-sizing: border-box;color: #697686;font-size: 0.75em;font-weight: normal;padding: 6px 30px 6px 10px;}
.subnav h3 em {color: #FF6952}
.subnav h3 > span {cursor: pointer;display: inline-block;height: 31px;padding-top: 6px;position: absolute;right: 0;text-align: center;top: 0;width: 30px;}
.subnav h3 > span:before {border-bottom: 2px solid #3B6A8B;border-left: 2px solid #3B6A8B;content: "";display: inline-block;height: 6px;transform: rotate(135deg);width: 6px;}
.subnav ul {background: #f3f6f9;box-sizing: border-box;float: left;padding: 5px;width: 100%;position:absolute;left:0px;top:40px;-webkit-box-shadow: 0px 2px 7px rgba(0,0,0,.2);z-index:10000}
.subnav ul li {float: left;overflow: hidden;width:25%}
.subnav ul li a {background: #F3F6F9;border: 1px solid #DBE0E6;color: #697686;display: block;font-size: 0.75em;margin: 5px;padding: 7px 8px;position: relative;text-align: center;}
.subnav ul li a:hover, .subnav ul li a.current {background: none repeat scroll 0 0 #43A0FF;border: 1px solid #43A0FF;color: #FFFFFF;text-decoration: none;}
.area_select {height: 15px;padding: 0px 3px 0px 0px;position: absolute;right: 2px;top: 8px;width: 25px;}
.area_select i {background:#fff;display: block;height:4px;margin-bottom: 3px;overflow: hidden;position: relative;}
.area_select i:after {background:#2174de;content: " ";height: 4px;left: 3px;position: absolute;top: 0;width: 2px;}
.x_cor{color:#ff0000; display:inline-block; line-height:28px; margin-right:5px; font-size:14px;}
.tiny_cz{width:100%;height:30px; display:inline-block; background:#F60;color:#fff; font-size:16px; margin-top:10px; text-align:center; line-height:30px; font-family:微软雅黑;}
.tiny_tag{width:100%; margin-top:5px; text-align:center}
.wap_com_m_top{width:100%; padding-top:5px; padding-bottom:10px; position:relative}
.wap_com_m_top_iocn{ display:inline-block;width:30px;height:30px; background:url(../images/wap_c.gif) no-repeat 5px 5px; background-size:70%; float:left;}
.wap_com_m_top_left{height:30px; line-height:30px; color:#2174de; font-size:16px;}
.wap_com_m_top_bot{ padding-left:30px;color:#9ea2a7;font-size:16px;}
.wap_log_out{ position:absolute;right:5px;top:10px;}
.wap_com_m_center{width:100%;}
.wap_com_m_table{ background:#e6e5e5}
.wap_com_m_table td{ background:#fff; text-align:center}
.wap_com_m_table_a{ display:block; font-size:15px; padding-bottom:10px;}
.wap_com_m_table_a .wap_com_m_table_span{ font-size:20px; display:block;color:#2174de}
.com_m_wap_pay{height:40px; text-align:center; line-height:40px; font-size:18px; margin-top:20px; background:#f60;color:#fff; display:block}
.pay_choose{ font-size:16px; padding-top:5px; padding-bottom:5px;}
.pay_choose_list li{width:100%; background:#edf2f6;border-bottom:1px solid #d7e3ec; margin-top:5px; position:relative}
.pay_choose_list_lable{display:block; padding-top:10px; padding-bottom:10px; padding-left:30px;}
.pay_choose_list_c{ position:absolute;left:0px;top:10px;}
.pay_choose_btn_01{width:100%;height:35px; color:#fff; margin-top:10px;border:medium none;border-radius:0px;background:-webkit-linear-gradient(top, #f60, #f60); font-size:18px;}
.bank_textarea{width:90%;border:1px solid #ccc;height:70px; vertical-align:top;border-radius:0px;}
.com_wxt{ line-height:25px;}
.wap_member_pss{ display:block; padding-top:10px; padding-bottom:10px;}
.input-common{width:90%;height:30px;border:1px solid #ccc;}

/*修改密码*/
