@charset "gb2312";
body {font-size:14px;margin:0; padding:0;color: #666666;font-family:Arial, Helvetica, sans-serif;  height:100%; width:100%; position:relative;}
form {margin:0px;}
td {font-size:13px}
a{color:#8A8A8A; text-decoration:none}
h1, h2, h3, h4, h5, h6 { font-size: 14px; font-weight: normal;}
i, em, b {font-style: normal;}
.main_body{ background:#fff;}
h1, h2, h3, h4, h5, form, p, ul {margin:0px;padding:0px;}
input {font-family:Arial, Helvetica, sans-serif;font-size:12px;color: #666666;}
input:not([type]), input[type="email" i], input[type="number" i], input[type="password" i], input[type="tel" i], input[type="url" i], input[type="text" i] {
padding: 1px 0px;
}
user agent stylesheetinput, input[type="password" i], input[type="search" i] {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}
user agent stylesheetinput, textarea, keygen, select, button {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}
user agent stylesheetinput, textarea, keygen, select, button, meter, progress {
-webkit-writing-mode: horizontal-tb;
}
Inherited from div#searchJob.search_bg
html, body, p, form, div, table, textarea, input {
font-size: medium;
vertical-align: middle;
font-style: normal;
font-family: "Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif;
}
table {width: 100%;}
.mt10{ margin-top:10px;}
.main {margin:auto;line-height:150%;padding:3px 8px 8px 8px;}
.main_body .header{ display:block; position:relative}
.header_cont{width:100%;height:46px; background:#2174de; position:relative}
.header .header_cont .nav_icon{width:20px;height:17px;position:absolute;top:50%;left:15px;margin-top:-8px;}
.header .header_cont .nav_icon i{display:block;height:3px;width:20px;background:#FFF;border-radius:2px;position:absolute;top:50%;left:0;margin-top:-2px;}
.header .header_cont .nav_icon i:after{content:'';height:3px;width:20px;background:#FFF;border-radius:2px;position:absolute;top:-7px;left:0;}
.header .header_cont .nav_icon i:before{content:'';height:3px;width:20px;background:#FFF;border-radius:2px;position:absolute;bottom:-7px;left:0;}
.header .header_cont .nav_icon em{width:12px;height:6px;display:block;position:absolute;bottom:-15px;left:4px;overflow:hidden;display:none;}
.header .header_cont .nav_icon em:before{content:'';height:10px;width:10px;background:#FFF;position:absolute;top:2px;left:1px;-webkit-transform:rotate(-45deg);}
.header .logo{padding-top:5px;width:174px;margin:0 auto;}
.header .header_cont_nav{position:absolute;top:50%;right:5px;width:34px;height:34px; margin-top:-17px;}
.header .header_user a{display:block;width:34px;height:34px;text-indent:-100px;}
.header_name{ width:100%; text-align:center; height:46px; line-height:46px; font-size:20px;color:#fff;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.left-box{position:absolute;top:10px}
.left-box {left:8px}
.header .header_user .subnav_a{ color:#F00}
.hd-lbtn {position:relative;display:block;width:20px;height:20px;color:#fff;position:absolute;left:5px;top:3px}
.hd-lbtn span {display:inline-block;width:25px;height:25px;position:relative;border-left:0; background:url(../images/icon3.png) no-repeat;background-size:58%}
.mune_list{width:100%; border-collapse: collapse;border-spacing: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}
.mune_list tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}
.mune_list tr {display: table-row;vertical-align: inherit;border-color: inherit;}
.mune_list td {vertical-align: top;border: 5px solid #fff;}
.mune_list td a{color:#fff; font-size:17px; font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif}
.mune_list i{ display:block;width:37px;height:37px; position:absolute;left:50%;top:15px; margin-left:-21px}
.mune_list  em{width:100%; display:block; position:absolute;left:0px;top:55px;}
.mune_list .mune_a {height: 90px; background:#92ce6a; position:relative; text-align:center}
.mune_list .mune_a i{background:url(../images/icon5.png) no-repeat 0 0; background-size:110%}
.mune_list .mune_b{height: 90px; background:#ffb901; position:relative; text-align:center}
.mune_list .mune_b i{background:url(../images/icon5.png) no-repeat 0px -40px; background-size:110%}
.mune_list .mune_c{height:187px; background:#00ade9; position:relative; text-align:center}
.mune_list .mune_c i{background:url(../images/icon5.png) no-repeat 0px -70px; background-size:100%;top:40px;}
.mune_list .mune_c  em{top:80px;}
.mune_list .mune_d{height: 90px; background:#dd127b; position:relative; text-align:center}
.mune_list .mune_d i{background:url(../images/icon5.png) no-repeat 0px -125px; background-size:110%}
.mune_list .mune_e{height: 90px; background:#f66a0b; position:relative; text-align:center}
.mune_list .mune_e i{background:url(../images/icon5.png) no-repeat 0px -160px; background-size:105%}
.mune_list .mune_f{height:40px; line-height:40px; background:#1ea494;position:relative; text-align:center}
/*首页 start*/
.index_post_hot{ padding-left:5px; padding-right:5px; padding-bottom:5px;}
.index_post_hot_h1{width:100%;height:38px; line-height:38px;background:#0371d3;}
.index_post_hot_h1 a{ display:inline-block; padding-left:10px;color:#fff; font-size:17px; font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif}
.index_post_hot_h1 span{ display:inline-block; padding-left:10px;color:#fff; font-size:17px; font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif}
.ht { margin-top:5px; margin-bottom:5px;}
.ht a {color: #00385D;}
.ht td {text-align: center;border:1px dotted #e8e8e8;height:39px;}
.ht .mk { color: #FF7A03; font-size:15px;}
.index_post_list{width:100%; font-size:14px;}
.index_post_list_b{border-bottom:1px solid #D4D4D4;color:#8A8A8A; display: block;padding:10px 0px; position: relative;}
.index_post_list_b h3 {color: #474340; height: 20px; position: relative; font-size:16px;}
.index_post_list_b h3, .index_post_list_b h3 span, .index_post_list_b aside, .index_post_list_b p, .index_post_list_b i, .index_post_list_b em {overflow: hidden; text-overflow: ellipsis;white-space: nowrap; }
.index_post_list_b  i, .index_post_list_b  em {position: absolute; right:0px; top: 10px; font-size:14px;}
.index_post_list_b .user_size{width:40px;}
.index_post_list_b em {top: 30px;}
/*footer start*/
.footer{width:100%;}
.footer_nav{background: -webkit-gradient(linear,0 0,0 100%,from(#FCFCFC),to(#F0F0F0));border-top:1px solid #eee; position:relative; padding:10px;}
.footer_nav a:first-child { float: right;padding-right: 20px; position: relative;}
.footer_nav a:first-child:after {  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000;border-style: solid;border-width: 5px; content: " "; display: block; height: 0; position: absolute;right: 4px; top:3px;width: 0;}
footer {background: #0371d3;color: #fff;line-height: 32px;padding: 10px 0;text-align: center;}
footer a {color:#fff;margin: 0 5px;}
/*com start*/
.post_content{ padding:5px;}
.post_list{color:#8A8A8A; display: block;padding: 10px; position: relative;border:1px solid #d4d4d4; }
.post_list h3 {color:#C30; height:25px; position: relative; font-size:16px;}
.post_list h3, .post_list h3 span, .post_list p,.post_list i, .post_list em {overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.post_list i, .post_listem {position: absolute; right: 10px; top: 10px;width: 200px; text-align:right}
.post_list em {top: 30px;}
.post_Company{border:1px dotted #ccc; background:#fff;margin:0px 0 10px 0 ; position:relative}
.post_Company a{ display:block; padding:10px; }
.post_title_data{ margin-top:5px;}
.post_list_span span {width:49%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;line-height: 24px;display:inline-block}
.com_post_title{width:100%; position:relative}
.post_title{ position:relative; padding:5px;}
.post_title h3{ font-size:18px;}
.post_title i{ position:absolute;right:0px;top:10px;color:#999;}
.index_post_h2{width:100%;height:38px; line-height:38px;background:#e8e8e8; margin-top:5px;}
.index_post_h2 span{ display:inline-block; padding-left:10px; font-size:17px; font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif}
.com_post_login{ padding:10px 0 10px 0;}
.com_post_login a{color:#36F}
.com_post_msg{ padding:5px; line-height:25px;}
.com_post_jj{ line-height:23px;color:#666; padding:5px;}
.com_post_jj *{width:auto !important; }
.index_post_list_b_com{border-bottom:1px solid #ddd;}
.seach_post{ padding:0 5px 0 5px;position:relative; background:#f2eeee}
.com_post_left{width:100%; position:relative;}
.com_search_top{padding:0 5px 0 5px;position:relative; background:#f2eeee}
.com_post_right{ position:absolute;right:0px;top:5px;}
.com_post_bth1{width:60px;height:38px;border:none; display:inline-block;line-height: 38px;color: #FFF;
background:-webkit-linear-gradient(top, #e98c12, #e98c12);border-radius: 0px;font-size:16px;} 
.seach_post_text_a{width:75px;height:38px; line-height:38px; background:#1863c4; display:block; float:right;color:#fff; font-size:16px; text-align:center; float:right}
.com_post_bth1_line{width:3px;height:38px; background:#f2eeee; display:inline-block; float:right}
.seach_post_text{  background:#FFFFFF;border:none; padding:0px;height:38px; margin:5px auto;font-size: 16px; text-indent:10px;width:100%;border-radius:1px;}
.tiny_but{width:70px;height:38px; line-height:38px; background:#1863c4; display:block; float:right;color:#fff; font-size:16px; text-align:center; float:right;background:-webkit-linear-gradient(top, #1863c4,#1863c4);border-radius: 0px;border:none; padding:0; margin:0;}
.seach_post_sbm{ position:absolute;top:14px;right:10px;width:30px;height:30px;background:url(../images/seach_icon.png) no-repeat 0 0; background-size:60%;border:none; padding:0;}
.seach_post_sel{padding-left:8px; padding-right:8px;}
.seach_post_select{width:100%;height:38px; padding:0px; margin-top:5px;border:1px solid #d4d4d4; font-size:14px;color:#666;;}
.seach_post_sub{width:100%;font-size: 20px;height:40px;display: block;line-height: 40px;text-align: center;color: #FFF;
background:-webkit-linear-gradient(top, #0371d3, #0768be);border:1px solid #1369b6;border-radius: 3px;margin:5px auto 0px}
.seach_post_submit{ padding-left:8px; padding-right:8px;}
.job_jl_list{border:1px dashed #e8e8e8; padding:10px; margin-top:10px; line-height:20px;}
.user_jl_jy_list em{color:#bbb; margin-right:5px;}
.com_post_Application{width:100%; text-align:center; padding:10px 0 10px 0;}
.com_post_Application a{ display:inline-block;width:120px;height:40px; line-height:40px; font-size:16px;color:#fff; background:#dd3c1c}
.com_post_Application .com_post_sc{ background:#1ea494; margin-left:10px;}
.user_name_size{ font-size:14px;color:#999}
.uesr_qz_size{ font-size:14px;color:#666; margin-top:5px;}

.user_post_Application{width:100%; text-align:center; padding:10px 0 10px 0;}
.user_post_Application .user_post_talentadd{ border-width:0px; display:inline-block;width:120px;height:40px; line-height:40px; font-size:16px;color:#fff; border:medium none;border-radius:0px;background:-webkit-linear-gradient(top, #dd3c1c, #dd3c1c); }
.user_post_Application .user_post_invite{ border-width:0px; display:inline-block;width:120px;height:40px; line-height:40px; font-size:16px;color:#fff;border:medium none;border-radius:0px;background:-webkit-linear-gradient(top, #1ea494, #1ea494);  margin-left:10px;}
/*登录*/
.wap_login{padding-left:5px; padding-right:5px;}
.wap_login p{width:100%;}
.input-common {width:100%;margin: 6px auto;height: 42px;font-size: 16px;border-radius: 3px;background:-webkit-linear-gradient(top, #fff, #fff); border:1px solid #C9C9C9;display:block;padding:0px;border-radius:none}
.btn-large {width:100%;font-size: 20px;height: 46px;display: block;line-height: 44px;text-align: center;color: #FFF;
background:-webkit-linear-gradient(top, #F8881D, #F8881D);border:1px solid #D5881B;border-radius: 3px;margin:0 auto 10px}
.wap_login_no{ padding:5px; text-align:center}
.wap_login_no a{color:#F60; text-decoration:underline}
/*微简历*/
.tiny_list{color:#8A8A8A; display: block;padding: 10px 0px; position: relative;border-bottom:1px dotted #d4d4d4;}
.tiny_list h3 {color: #474340; height: 20px; position: relative;}
.tiny_list h3, .tiny_list h3 span, .tiny_list aside, .tiny_list p,.tiny_list i, .tiny_list em {overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.tiny_list i, .tiny_list em {position: absolute; right: 10px; top: 10px;text-align:right}
.tiny_list em {top: 30px;}
.tiny_list .user_name_size2{ font-size:14px;}
/*资讯*/
.wap_tit{ padding:10px 10px 5px 10px;line-height:23px;  text-align:center;}
.wap_tit h1{ font-size:20px;}
.news_cont_ms{ padding:5px;border-bottom:1px dotted #ccc; text-align:center;}
.wap_news_cont{ padding:10px; text-indent:20px; line-height:23px;} 
/*分页*/
.clear{clear:both;}
.pages {text-align: center;font-size: 12px;line-height: 20px; margin-top:5px;}
.pages a {display: inline-block;padding: 8px 15px 8px 15px;color: #666;border-radius: 3px 3px 3px 3px;border: 1px solid #dedede; margin-left:3px; margin-bottom:15px;}
.pages em {display:none;}
.pages .selected {font-weight: bold;color: #06F;background: url(../images/yun_page.png) repeat-x bottom}
/*下拉导航*/
nav.nav {background:#f9f9f9;border-bottom: 1px solid #dcdcdc;float:left;width: 100%;position:relative;}
nav.nav ul {width: 100%;}
nav.nav ul li {display: inline-block;float: left;font-size: 0.785em;text-align: center;width: 23%;}
nav.nav ul li a {color: #333333;display: block;margin: 0 10px;height:35px;line-height:35px;}
nav.nav ul li a.current {background: #43A0FF;color:#fff;}
nav.nav > span {cursor: pointer;display: inline-block;height: 33px;line-height:33px;padding-top: 2px;position: absolute; right: 0; text-align: center;font-size:18px;color:#C30;font-weight:bold; top: 0; width: 30px;background:#f5f5f5;border-left:1px solid #dddddd}
.subnav {background:#FFFFFF;width: 100%;z-index: 9999;}
.subnav h3 {background:#EDEEEF;border-bottom: 1px solid #C6C6C6;box-sizing: border-box;color: #697686;font-size: 0.75em;font-weight: normal;padding: 6px 30px 6px 10px;}
.subnav h3 em {color: #FF6952}
.subnav h3 > span {cursor: pointer;display: inline-block;height: 31px;padding-top: 6px;position: absolute;right: 0;text-align: center;top: 0;width: 30px;}
.subnav h3 > span:before {border-bottom: 2px solid #3B6A8B;border-left: 2px solid #3B6A8B;content: "";display: inline-block;height: 6px;transform: rotate(135deg);width: 6px;}
.subnav ul {background: #f3f6f9;box-sizing: border-box;float: left;padding: 5px;width: 100%;position:absolute;left:0px;top:40px;-webkit-box-shadow: 0px 2px 7px rgba(0,0,0,.2);z-index:10000}
.subnav ul li {float: left;overflow: hidden;width:25%}
.subnav ul li a {background: #F3F6F9;border: 1px solid #DBE0E6;color: #697686;display: block;font-size: 0.75em;margin: 5px;padding: 7px 8px;position: relative;text-align: center;}
.subnav ul li a:hover, .subnav ul li a.current {background: none repeat scroll 0 0 #43A0FF;border: 1px solid #43A0FF;color: #FFFFFF;text-decoration: none;}
.area_select {height: 15px;padding: 0px 3px 0px 0px;position: absolute;right: 2px;top: 8px;width: 25px;}
.area_select i {background:#fff;display: block;height:4px;margin-bottom: 3px;overflow: hidden;position: relative;}
.area_select i:after {background:#2174de;content: " ";height: 4px;left: 3px;position: absolute;top: 0;width: 2px;}
.x_cor{color:#ff0000; display:inline-block; line-height:28px; margin-right:5px; font-size:14px;}
.tiny_cz{width:100%;height:30px; display:inline-block; background:#F60;color:#fff; font-size:16px; margin-top:10px; text-align:center; line-height:30px; font-family:微软雅黑;}
.tiny_tag{width:100%; margin-top:5px; text-align:center}
/*高级搜索*/
.com_search_box{ padding:5px;}
.com_search_box_cont{border:1px solid #DFDFDF; padding-bottom:10px}
.com_search_box_list{height: 35px;line-height: 35px;position: relative;overflow: hidden;margin: 0 15px;border-bottom: 1px solid #D6D6D6;}
.com_search_box_left {width: 80px;position: absolute;}
.com_search_box_right {position: relative;padding-left: 80px;overflow: hidden;}
.com_search_box_right:after {  content: ' '; position: absolute; -webkit-transform: rotate(135deg);  -moz-transform: rotate(135deg); -o-transform: rotate(135deg);  content: ' '; position: absolute;top: 12px;right: 13px; width: 6px;height: 6px;border: #B0B0B0 solid;border-width: 2px 2px 0 0;}
.selectOption {display: inline-block;height: 35px;vertical-align: middle;position: relative;border-radius: 2px;overflow: hidden;}
.selectOption select { float: left; position: absolute; top: 0;right: 0;z-index: 2; padding: 0; border: 0;-webkit-appearance: none; width: 100%;background: transparent; height: 35px;text-indent: 5px; font-size: 16px; color: #B0B0B0; }
.selectOption_sex{display:inline-block;height:28px; line-height:28px;background:-webkit-gradient(linear,left top, left bottom, from(#fff),to(#fff));vertical-align:middle;position:relative;border-radius:2px;overflow:hidden;border:1px solid #ccc;box-shadow: 2px 2px 2px #eee inset;}
.selectOption_sex:before{content:' ';position:absolute;top:0;right:0;width:28px;height:28px; background:-webkit-gradient(linear,left top, left bottom, from(#1881df),to(#0371d3));border-top-right-radius:2px;border-bottom-right-radius:2px;border-left:1px solid #1279d5;}
.selectOption_sex:after{content:' ';position:absolute;top:12px;right:8px;width:0;height:0;font-size:0;border:6px solid rgba(255,255,255,0);border-top-color:#FFF;}
.selectOption_sex select { float: left; position: absolute; top: 0;right: 0;z-index: 2; padding: 0; border: 0;-webkit-appearance: none; width: 100%;background: transparent; height:24px;text-indent: 5px; font-size: 16px; color: #B0B0B0; }
.job_input_box{background: #FFFFFF;border: 1px solid #C9C9C9;border-radius: 2px;box-shadow: 2px 2px 2px #F1F1F1 inset;padding: 0 0px 0 8px;position:relative}
.job_input_box_search {background: none ;font-size: 14px;line-height: 18px;margin: 0;outline: medium none;border:0px;padding: 9px 0;width: 100%; }
.job_inp_search {background: none;font-size: 14px; line-height: 18px; margin: 0;border:none; padding: 9px 0; width: 100%;}
.job_area_select {height: 15px;padding: 0px 3px 0px 0px;position: absolute;right: 2px;top: 8px;width: 25px;}
.job_area_select i {background:#ccc;display: block;height:4px;margin-bottom: 3px;overflow: hidden;position: relative;}
.job_area_select i:after {background:#fff;content:" ";height: 4px;left: 3px;position: absolute;top: 0;width: 2px;}
.job_input_mt10{ margin-top:10px;}
.job_search_box_button{ margin-top:10px;}
.job_search_box_button button[type="button"]{border:1px solid #C9C9C9;width:100%;height:38px;font-size:14px;border-radius:2px;background:-webkit-gradient(linear,left top, left bottom, from(#fff), to(#FBFBFB));cursor:pointer;text-align:left;padding:0 20px 0 8px;position:relative;color:#999}
.job_search_box_button button[type="button"]:after{content:' ';position:absolute;top:50%;margin-top:-4px;right:10px;width:6px;height:6px;border:#AAAAAA solid;-webkit-transform: rotate(45deg);border-width: 2px 2px 0 0;color:#434343;}
.resume-cont_wate_list{  position:relative; margin:0; padding:0; margin-top:8px;}
.resume-cont_wate_list dt{ display:block;width: 110px;position: absolute;top: 0;left: 0;font-size: 14px;color: #787878; line-height:28px;}
.resume-cont_wate_list  dd {padding-left:60px;font-size: 14px}
.resume-cont_wate_list  dd .reinputText{border: 1px solid #ccc;line-height: 18px;height: 18px;padding: 5px;border-radius: 2px;box-shadow: 2px 2px 2px #eee inset;font-size: 14px;width: 100%;margin-left: -12px;-webkit-appearance: none;}
.resume-cont_wate_list  dd  .reinputText2{width:100%;height:40px; background:#F90;border:none;color:#fff;font-size:20px;margin-left: -12px; cursor:pointer;background:-webkit-linear-gradient(top, #F8881D, #F8881D);border-radius: 3px; }
.textAreaMsg{border:1px solid #ccc;line-height:18px;height:54px;padding:5px;border-radius:2px;box-shadow:2px 2px 2px #eee inset;font-size:14px;width:100%;margin-left:-12px;vertical-align:middle;margin-top:3px;margin-bottom:3px;-webkit-appearance:none;}
.mask{width:100%;position:absolute;top:0;left:0;z-index:10;color:#EEE;font-size:16px;}
.mask .f_left{position:absolute;top:0;left:0;}
.mask .f_left .arrow_icon{width:24px;height:24px;overflow:hidden;cursor:pointer;}
.mask .f_left .arrow_icon i{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);border:#FFFFFF solid;border-width:3px 3px 0 0;width:13px;height:13px;position:absolute;top:1px;left:5px;}
.mask .f_left .arrow_icon i:nth-child(2){left:-5px;}
.mask .f_body{margin-left:40px;background:#333;height:100%;}
.selecter h2{position:fixed;height:40px;width:280px;background:#333;z-index:100000;font-size:18px;line-height:40px;border-bottom:1px solid #292929;text-indent:16px;top:0;right:0;}
.selecter h2 button{position:relative;overflow:hidden;height:28px;line-height:26px;width:49px;background:-webkit-gradient(linear, left top, left bottom, from(#F76E38), to(#D15321)); float:right;top:0;right:0;color:#FFF;margin-right:7px;margin-top:7px;font-size:14px;text-indent:0;border:1px solid #111;border-radius:3px;}
.selecter h2 button:after{content:' ';position:absolute;top:0px;left:2px;background:#F9915E;width:42px;height:1px;}
.selecter h2 button.clear_sub{background:-webkit-gradient(linear, left top, left bottom, from(#333333), to(#252525));}
.selecter h2 button.clear_sub:after{background:#444444;}
.selecter .contentbody{position:relative;background:#333;margin-top:40px;}
.selecter .contentbody dl{ margin:0; padding:0}
.selecter h3{font-size:18px;height:40px;line-height:40px;padding-left:15px;border-bottom:1px solid #292929;position:relative; background:#333;z-index:1}
.selecter h3 button{height:40px;width:70px;background:#E86E1B;position:absolute;top:0;right:0;color:#EEEEF0;}
.selecter .result_split dt{line-height: 41px;height: 41px;padding: 0 15px 0 15px;padding-right: 30px;border-top: 1px solid #4b4b4b;border-bottom: 1px solid #292929;position: relative;background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#3b3b3b));}
.selecter .current{line-height:41px;height:41px;padding:0 0 0 20px; border-top:1px solid #4b4b4b;border-bottom:1px solid #292929;position:relative;background:-webkit-gradient(linear, left top, left bottom, from(#444444), to(#3b3b3b));}
.selecter.filter .current{padding:0 15px;}
.selecter .current:after{-webkit-transform:rotate(135deg);content:' ';position:absolute;top:50%;margin-top:-7px;right:13px;width:6px;height:6px;border:#CFCFCF solid;border-width: 2px 2px 0 0;}
.selecter.filter .lookshow:after{-webkit-transform:rotate(315deg);margin-top:-3px;}
.selecter .contentbody.industry .current:after{display:none;}
.selecter .current label{line-height:41px;height:41px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;display:block;position:relative;z-index:1;padding-right:30px;box-sizing:border-box;}
.selecter input[type="radio"]{position:absolute;top:50%;left:12px;width:16px;height:16px; margin:0;margin-top:-8px;-webkit-appearance: none;background:url("../images/icon2.png") no-repeat left bottom;background-size:41px; padding:0;}
.selecter input[type="radio"]:checked{background-position:right bottom;}
.selecter input[type="checkbox"]{position:absolute;top:50%;left:12px;width:16px;height:16px;margin-top:-8px;-webkit-appearance: none;background:url("../images/icon2.png") no-repeat left top ;background-size:41px;}
.selecter input[type="checkbox"]:checked{background-position:right top;}
.selecter .lookshow .current:after{-webkit-transform:rotate(315deg);margin-top:-3px;}
.selecter ul{padding:5px 0;}
.selecter li{cursor:pointer;padding:0px 15px 0px 0px;position:relative;}
.selecter li label{padding-left:30px;line-height:30px;height:30px; display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.selecter.filter li label{padding-left:15px;}
.selecter li span{color:#FFA145;font-size:14px;padding-left:5px;}
.post_show_three{ background:#333;}
.selecter .result_split .btn,
.selecter .result_split .keyword{padding:6px 22px;}
.selecter .result_split .keyword input{border:1px solid #ABABAB;margin:0;background:#fff;border-radius:2px;box-shadow:1px 1px 2px #BBBBBB inset;-webkit-appearance:none;line-height:18px;padding:6px 4px;font-size:14px;width:100%;}
.selecter .result_split .btn button{border-radius:2px;width:100%;background:-webkit-gradient(linear, left top, left bottom, from(#FF6500), to(#EA4300));border:0;height:30px;line-height:26px;font-size:16px;color:#FFF;font-family:"Microsoft Yahei";}
.selecter .result_split dd{padding-top:14px;}
.msg-err, .msg-ok, .msg-tip {
	padding:6px;
	margin:10px 6px 7px;
	color:#D01E5E;
	background:#FFDCD7;
	text-align:center;
	border:1px rgba(209, 30, 94, .3) solid;
	border-radius:3px
}
.msg-ok {
	color:#509313;
	background:#CBE987;
	border:1px #509313 solid
}
.msg-tip {
	color:#C97;
	background:rgba(238, 199, 116, .3);
	margin-bottom:10px;
	border:1px rgba(238, 199, 166, 1)
}
.msg-err {/* -webkit-animation-name:shake; *//* -webkit-animation-duration:.5s; *//* -webkit-animation-iteration-count:1; *//* -webkit-animation-direction:alternate; *//* -webkit-animation-timing-function:ease-in-out */
}.shake {
	-webkit-animation-name:shake;
	animation-name:shake
}
@-webkit-keyframes shake {
0%, 100% {
-webkit-transform:translateX(0)
}
10%, 30%, 50%, 70%, 90% {
-webkit-transform:translateX(-10px)
}
20%, 40%, 60%, 80% {
-webkit-transform:translateX(10px)
}
}
@keyframes shake {
0%, 100% {
-webkit-transform:translateX(0);
transform:translateX(0)
}
10%, 30%, 50%, 70%, 90% {
-webkit-transform:translateX(-10px);
transform:translateX(-10px)
}
20%, 40%, 60%, 80% {
-webkit-transform:translateX(10px);
transform:translateX(10px)
}
}
.wap_member_no{width:100%;height:150px; line-height:150px; font-size:18px;  text-align:center}
.once_h1_box{width:220px;height:130px; background:#fff;border:3px solid #333;}
.once_h1_box_h1{width:100%; background:#ccc;height:30px; line-height:30px; text-align:center; font-size:14px;color:#06F}
.once_h1_box_ps{border:1px solid #ccc;height:28px; line-height:28px; margin-left:10px; margin-top:10px; width:80%;}
.once_h1_box_bot{width:100%; text-align:center}
.once_h1_bth1{width:60px;height:28px; text-align:center; margin-top:10px;background:-webkit-gradient(linear, left top, left bottom, from(#F60), to(#F60));border:none;color:#fff;}
.once_h1_bth2{ background:-webkit-gradient(linear, left top, left bottom, from(#06f), to(#06f));}
.once_h1_bth3{background:-webkit-gradient(linear, left top, left bottom, from(#090), to(#090));}
.com_box_yq_dl{ font-size:14px;margin:5px 0 0 0 ; padding:0;}
.com_box_yq_dl dd{ margin:0; padding:0;}











