<div class="header_top fl"></div>
<div class="w980">
  <div class="header_nav fl">
    <div class="header_logo fl"><a href="{yun:}$config.sy_weburl{/yun}/"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_logo{/yun}" class="png"></a></div>
    <ul class="header_right_nav fr">
	  <li> <a href="{yun:}$config.sy_weburl{/yun}/">ÍøÕ¾Ê×Ò³</a></li>	  
	  {yun:}nav item=navlist_client hovclass=nav_cur nid=12{/yun}
      <li><a {yun:}if $navlist_client.eject{/yun} target="_self" {yun:}/if{/yun}  href="{yun:}$navlist_client.url{/yun}" class="{yun:}$navlist_client.navclass{/yun}">{yun:}$navlist_client.name{/yun}</a> </li>
	  {yun:}/nav{/yun}
    </ul>
  </div>
</div>
<div style=" clear:both"></div>