<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<xml>
<w:WordDocument>
<w:View>
Print
</w:View>
</xml>
<title>简历</title>
</head><body style="background:#dfdfdf; margin:0 auto">
<style>
table{border-collapse:collapse;line-height:20px; background:#ffffff; margin:0 auto}
table td{ white-space:normal;word-break:break-all}
table tr{ background:#ffffff}
</style>
<table width="560" border="0"   cellpadding="5" cellspacing="0" bgcolor="#fff" style="font-size:12px;">
  <tbody>
    <tr>
      <td colspan="8" align="center"bgcolor="#EAF3FC"><font size="5" color="#f60">{yun:}$Info.name{/yun}</font> <font size="4" color="#666666">个人简历 (简历编号：NO.{yun:}$Info.id{/yun})</font></td>
    </tr>
    <tr>
      <td colspan="8" align="center"  bgcolor="#EAF3FC"><b>个人基本信息</b></td>
    </tr>
    <tr>
      <td width="71"  bgcolor="#EAF3FC">姓名</td>
      <td width="98" bgcolor="#ffffff">{yun:}$Info.name{/yun}</td>
      <td width="75"  bgcolor="#EAF3FC">性别</td>
      <td colspan="2" bgcolor="#ffffff">{yun:}$Info.user_sex{/yun}</td>
      <td width="90"  bgcolor="#EAF3FC">出生日期</td>
      <td width="130" colspan="2" bgcolor="#ffffff">{yun:}$Info.birthday|date_format:"%Y年%m月%d日"{/yun}</td>
    </tr>
  {yun:}if $Info.basic_info=='1'{/yun}
  <tr>
   {yun:}if $config.user_idcard=="0"{/yun}
    <td  bgcolor="#EAF3FC">身份证号</td>
    <td colspan="4" bgcolor="#ffffff">{yun:}$Info.idcard{/yun}</td>
    {yun:}/if{/yun}  
    <td  bgcolor="#EAF3FC">籍贯</td>
    <td  colspan="2" bgcolor="#ffffff">{yun:}$Info.domicile{/yun}</td>
    </tr> 
  <tr>
    <td  bgcolor="#EAF3FC">身高</td>
    <td bgcolor="#ffffff">{yun:}$Info.height{/yun}cm</td>
    <td  bgcolor="#EAF3FC">体重</td>
    <td colspan="2" bgcolor="#ffffff">{yun:}$Info.weight{/yun}kg</td>
    <td  bgcolor="#EAF3FC">民族</td>
    <td  colspan="2" bgcolor="#ffffff">{yun:}$Info.nationality{/yun}</td>
   
  </tr> 
  <tr>
    <td   bgcolor="#EAF3FC">婚姻状况</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$Info.user_marriage{/yun}</td>
  </tr>
  {yun:}/if{/yun}
  <tr>
    <td  bgcolor="#EAF3FC">学历</td>
    <td  bgcolor="#ffffff">{yun:}$Info.useredu{/yun}</td>
    <td  bgcolor="#EAF3FC">工作经验</td>
    <td bgcolor="#ffffff" colspan="5">{yun:}$Info.user_exp{/yun}</td>
   
  </tr>
  <tr>
    <td   bgcolor="#EAF3FC">详细地址</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$Info.address{/yun}</td>
  </tr>
  {yun:}if $Info.basic_info=='1'{/yun}
  <tr>
    <td   bgcolor="#EAF3FC">现所在地</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$Info.living{/yun}</td>
  </tr>
  <tr>
    <td   bgcolor="#EAF3FC">个人主页</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$Info.homepage{/yun}</td>
  </tr>
  {yun:}/if{/yun}
  <tr>
    <td   bgcolor="#EAF3FC">自我评价</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$Info.description{/yun}</td>
  </tr>
  <tr>
    <td colspan="8" align="center" bgcolor="#EAF3FC"><b> 求职意向</b></td>
  </tr>
  <tr>
    <td bgcolor="#EAF3FC">期望行业</td>
    <td colspan="4" bgcolor="#ffffff">{yun:}$Info.hy{/yun}</td>
    <td bgcolor="#EAF3FC">工作地区</td>
    <td colspan="2"  bgcolor="#ffffff">{yun:}$Info.city_one{/yun} {yun:}$Info.city_two{/yun} {yun:}$Info.city_three{/yun}</td>
  </tr>
  <tr>
    <td bgcolor="#EAF3FC">职位性质</td>
    <td colspan="4" bgcolor="#ffffff">{yun:}$Info.type{/yun}</td>
    <td bgcolor="#EAF3FC">待遇要求</td>
    <td colspan="2"  bgcolor="#ffffff"> {yun:}$Info.salary{/yun} {yun:}if $Info.salary!="面议"{/yun} <font color="#888888">RMB</font>{yun:}/if{/yun}</td>
  </tr>
  <tr>
    <td bgcolor="#EAF3FC">期望职位</td>
    <td colspan="4" bgcolor="#ffffff">{yun:}$Info.jobname{/yun}</td>
    <td bgcolor="#EAF3FC">到岗时间</td>
    <td colspan="2" bgcolor="#ffffff">{yun:}$Info.report{/yun}</td>
  </tr>
  {yun:}if $Info.doc{/yun}
  {yun:}else{/yun}
  
  
  {yun:}if is_array($Info.user_edu) && !empty($Info.user_edu){/yun}
  <tr>
    <td colspan="8" align="center" bgcolor="#EAF3FC"><b> 教育经历</b></td>
  </tr>
  {yun:}section name=all loop=$Info.user_edu{/yun}
  <tr>
    <td bgcolor="#EAF3FC">毕业时间</td>
    <td colspan="4" bgcolor="#ffffff">{yun:}$Info.user_edu[all].sdate|date_format:"%Y年%m月"{/yun} - {yun:}$Info.user_edu[all].edate|date_format:"%Y年%m月"{/yun}</td>
    <td bgcolor="#EAF3FC">专业</td>
    <td colspan="2"  bgcolor="#ffffff">{yun:}$Info.user_edu[all].specialty{/yun}</td>
  </tr>
  <tr>
    <td bgcolor="#EAF3FC">学校名称</td>
    <td colspan="4" bgcolor="#ffffff">{yun:}$Info.user_edu[all].name{/yun}</td>
    <td bgcolor="#EAF3FC">担任职位</td>
    <td colspan="2" bgcolor="#ffffff">{yun:}$Info.user_edu[all].title{/yun}</td>
  </tr>
  <tr>
    <td bgcolor="#EAF3FC">专业描述</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$Info.user_edu[all].content{/yun}</td>
  </tr>
  {yun:}/section{/yun}
  {yun:}/if{/yun}
  {yun:}if is_array($Info.user_skill) && !empty($Info.user_skill){/yun}
  <tr>
    <td colspan="8" align="center" bgcolor="#EAF3FC"><b> 专业技能</b></td>
  </tr>
  <tr>
    <td bgcolor="#EAF3FC">掌握时间</td>
    <td colspan="2" bgcolor="#EAF3FC">技能类别</td>
    <td colspan="3" bgcolor="#EAF3FC">熟练程度</td>
    <td colspan="2" bgcolor="#EAF3FC">技能名称</td>
  </tr>
  {yun:}section name=all loop=$Info.user_skill{/yun}
  <tr>
    <td bgcolor="#ffffff">{yun:}$Info.user_skill[all].longtime{/yun}年</td>
    <td colspan="2" bgcolor="#ffffff">{yun:}$Info.user_skill[all].skill_n{/yun}</td>
    <td colspan="3" bgcolor="#ffffff">{yun:}$Info.user_skill[all].ing_n{/yun}</td>
    <td colspan="2" bgcolor="#ffffff">{yun:}$Info.user_skill[all].name{/yun}</td>
  </tr>
  {yun:}/section{/yun}
  
  {yun:}/if{/yun}
  {yun:}if is_array($Info.user_xm) && !empty($Info.user_xm){/yun}
  <tr>
    <td colspan="8" align="center" bgcolor="#EAF3FC"><b> 项目经验</b></td>
  </tr>
  {yun:}section name=all loop=$Info.user_xm{/yun}
  <tr>
    <td bgcolor="#EAF3FC">项目时间</td>
    <td colspan="4" bgcolor="#ffffff">{yun:}$Info.user_xm[all].sdate|date_format:"%Y年%m月"{/yun} - {yun:}$Info.user_xm[all].edate|date_format:"%Y年%m月"{/yun}</td>
    <td bgcolor="#EAF3FC">项目环境</td>
    <td colspan="2"  bgcolor="#ffffff">{yun:}$Info.user_xm[all].name{/yun}</td>
  </tr>
  <tr>
    <td  bgcolor="#EAF3FC">项目名称</td>
    <td colspan="4" bgcolor="#ffffff">{yun:}$Info.user_xm[all].name{/yun}</td>
    <td bgcolor="#EAF3FC">担任职位</td>
    <td colspan="2" bgcolor="#ffffff">{yun:}$Info.user_xm[all].title{/yun}</td>
  </tr>
  <tr>
    <td bgcolor="#EAF3FC">项目内容</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$Info.user_xm[all].content{/yun}</td>
  </tr>
  {yun:}/section{/yun}
  
  {yun:}/if{/yun}
  {yun:}if is_array($Info.user_cert) && !empty($Info.user_cert){/yun}
  <tr>
    <td colspan="8" align="center" bgcolor="#EAF3FC"><b> 证书</b></td>
  </tr>
  {yun:}section name=all loop=$Info.user_cert{/yun}
  <tr>
    <td colspan="2" bgcolor="#EAF3FC"> 颁发时间</td>
    <td colspan="4" bgcolor="#EAF3FC"> 颁发单位</td>
    <td colspan="2" bgcolor="#EAF3FC"> 证书全称</td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#ffffff"> {yun:}$Info.user_cert[all].sdate|date_format:"%Y年%m月%d日"{/yun}</td>
    <td colspan="4" bgcolor="#ffffff">{yun:}$Info.user_cert[all].title{/yun}</td>
    <td colspan="2" bgcolor="#ffffff">{yun:}$Info.user_cert[all].name{/yun}</td>
  </tr>
  <tr>
    <td bgcolor="#EAF3FC">证书描述 </td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$Info.user_cert[all].content{/yun}</td>
  </tr>
  {yun:}/section{/yun}
  
  {yun:}/if{/yun}
  
  {yun:}if is_array($Info.user_tra) && !empty($Info.user_tra){/yun}
  <tr>
    <td colspan="8" align="center" bgcolor="#EAF3FC"><b> 培训经历</b></td>
  </tr>
  {yun:}section name=all loop=$Info.user_tra{/yun}
  <tr>
    <td colspan="2" bgcolor="#EAF3FC"> 培训时间</td>
    <td colspan="4" bgcolor="#EAF3FC"> 培训方向</td>
    <td colspan="2" bgcolor="#EAF3FC">培训中心</td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#ffffff"> {yun:}$Info.user_tra[all].sdate|date_format:"%Y年%m月"{/yun} - {yun:}$Info.user_tra[all].edate|date_format:"%Y年%m月"{/yun}</td>
    <td colspan="4" bgcolor="#ffffff">{yun:}$Info.user_tra[all].title{/yun}</td>
    <td colspan="2" bgcolor="#ffffff"> {yun:}$Info.user_tra[all].name{/yun} </td>
  </tr>
  <tr>
    <td bgcolor="#EAF3FC">培训描述</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$Info.user_tra[all].content{/yun}</td>
  </tr>
  {yun:}/section{/yun}
  
  {yun:}/if{/yun}
  {yun:}if is_array($Info.user_work) && !empty($Info.user_work){/yun}
  <tr>
    <td colspan="8" align="center" bgcolor="#EAF3FC"><b> 工作经历</b></td>
  </tr>
  {yun:}foreach item=all from=$Info.user_work{/yun}
  <tr>
    <td align="center" bgcolor="#EAF3FC">单位名称</td>
    <td colspan="4" bgcolor="#ffffff">{yun:}$all.name{/yun}</td>
    <td bgcolor="#EAF3FC">担任职位</td>
    <td colspan="2" bgcolor="#ffffff">{yun:}$all.title{/yun}</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#EAF3FC">所属部门</td>
    <td colspan="4" bgcolor="#ffffff">{yun:}$all.department{/yun}</td>
    <td bgcolor="#EAF3FC">工作时间</td>
    <td colspan="2" bgcolor="#ffffff">{yun:}$all.sdate|date_format:"%Y年%m月"{/yun} -{yun:}if $all.edate{/yun}{yun:}$all.edate|date_format:"%Y年%m月"{/yun}{yun:}else{/yun}至今{yun:}/if{/yun}</td>
  </tr>
  <tr>
    <td bgcolor="#EAF3FC">工作描述</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$all.content{/yun}</td>
  </tr>
  {yun:}/foreach{/yun}
  {yun:}/if{/yun}  
  
  
  
  {yun:}if is_array($user_other) && !empty($user_other){/yun}
  <tr>
    <td colspan="8" align="center" bgcolor="#EAF3FC"><b> 其他信息</b></td>
  </tr>
  {yun:}section name=all loop=$user_other{/yun}
  <tr>
    <td  bgcolor="#EAF3FC">其他标题</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$user_other[all].title{/yun}</td>
  </tr>
  <tr>
    <td  bgcolor="#EAF3FC">其他描述</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$user_other[all].content{/yun}</td>
  </tr>
  {yun:}/section{/yun}
  
  {yun:}/if{/yun}
  {yun:}/if{/yun}
  <tr>
    <td colspan="8" align="center"  bgcolor="#EAF3FC"><b>联系方式</b></td>
  </tr>
  <tr>
    <td  bgcolor="#EAF3FC">手机</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$Info.telphone{/yun}</td>
  </tr>
  {yun:}if $Info.basic_info=='1'{/yun}
  <tr>
    <td  bgcolor="#EAF3FC">座机</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$Info.telhome{/yun}</td>
  </tr>
  {yun:}/if{/yun}
  <tr>
    <td  bgcolor="#EAF3FC">电子邮件</td>
    <td colspan="7" bgcolor="#ffffff">{yun:}$Info.email{/yun}</td>
  </tr>
    </tbody>
  
</table>
</body>
</html>
