@charset "gb2312";
/* 资讯*/
.news_Slideshow {width:284px;border:1px solid #c9c9c9;background:#fff;position:relative;height:210px;}
.news_Slideshow img {width:284px;height:225px;}
.news_top_right {width:668px;}
.news_top_right dl {width:100%;background:url(../images/yun_c.jpg) repeat-x bottom;padding-bottom:10px;float:left}
.news_top_right dl dt {width:100%;padding-bottom:10px;float:left}
.news_top_right dl dt a {font-size:18px;color:#3a8dd9;float:left;font-family:微软雅黑;}
.news_top_right dl dt a:hover {color:#f60;}
.news_top_right dl dt em {float:right;font-size:16px;}
.news_top_right dl dd {width:100%;line-height:20px;float:left;color:#575757;}
.news_top_right dl dd a {color:#900}
.news_top_right ul {width:100%;background:url(../images/yun_c.jpg) repeat-x bottom;padding-bottom:10px;float:left}
.news_top_right ul li {width:324px;float:left;height:29px;line-height:29px;background:url(../images/yun_icodd2.jpg) no-repeat left center;padding-left:10px;}
.news_top_right ul li a {float:left}
.news_top_right ul li em {float:right;margin-right:10px;}
.news_cont {width:100%;}
.news_sort_list {width:442px;border-left:8px solid #eaeaea;border-top:4px solid #d9d9d9;position:relative;padding:10px 30px 0 10px;margin-top:30px;height:280px;_height:284px;}
.news_sort_list dl {width:100%;float:left}
.news_sort_list dl dt {width:89px;border:1px solid #ccc;background:#fff;padding:2px;float:left}
.news_sort_list dl dt img {display:block}
.news_sort_list dl dd {width:330px;float:left;padding-left:10px;line-height:20px;color:#575757;}
.news_sort_list dl dd strong {display:block;margin-bottom:10px;color:#000;}
.news_sort_list dl dd a {color:#F00}
.news_sort_list dl dd strong a {color:#000}
.news_sort_list ul {width:100%;float:left}
.news_sort_list ul li {height:29px;line-height:29px;border-bottom:1px dashed #dcdcdc;background:url(../images/yun_ico2.png) no-repeat 0 -75px; padding-left:10px;}
.news_sort_list ul li a {float:left}
.news_sort_list ul li em {float:right;color:#5d5d5d}
.news_more {width:100%;text-align:right;margin-top:10px;}
.news_more a {display:inline-block;background:#1075d1;color:#fff;padding:2px 5px 2px 5px;font-weight:bold}
.news_sort_title {width:32px;height:129px;background-position:-253px -32px;color:#fff;font-size:14px;position:absolute;left:-28px;top:-10px;font-weight:bold}
.news_sort_title span {padding-left:8px;display:block;margin-top:10px;}
.news_left {background:#FFFFFF;border: 1px solid #E1E1E1;box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);width: 239px;padding:2px;}
.news_left_cont {float:left}
.news_left dl {width:100%;background:url(../images/yun_icodd.jpg) repeat-x bottom;margin-top:10px;float:left;padding:0 0 10px 0;}
.news_left dl dt {border:1px solid #ccc;box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);width:106px;padding:2px;float:left;margin-left:5px;_margin-left:3px;background:#fff;}
.news_left dl dt img {display:block;}
.news_left dl dd {width:110px;padding-left:8px;line-height:18px;float:left;color:#666;word-break: break-all;}
.news_left dl dd strong {width:100%;height:20px;line-height:20px;display:block;overflow:hidden}
.news_left dl dd strong a {color:#000}
.news_left dl dd a {color:#C00}
.news_left ul {float: left;padding: 6px 0px  10px 11px;width: 220px;}
.news_left ul li {float: left;height: 33px;line-height: 33px;width: 223px;}
.news_left ul li a {background-position: -1px -69px;display: block;padding-left: 10px;}
.news_left ul li a:hover {background:#b9cdee;color:#fff;text-decoration:none}
.news_right_sidebar{width:710px;border:1px solid #ddd; background:#fff; padding-left:10px; padding-bottom:10px;}
.news_right_list {width:690px;border-bottom:1px dotted #CAC7C7;padding:10px 0 15px 10px; }
.news_right_list_h1 {width:100%;float:left;}
.news_right_list_h1 a {display:block;float:left;font-size:14px;font-weight:bold;color:#606060;background:url(../images/yun_icodd2.jpg) no-repeat left center;padding-left:10px;}
.news_right_list_h1 em {float:right}
.news_right_list_p {float:left;line-height:23px;color:#9e9e9e;margin-top:10px;padding:0 0px 0 10px}
.left_sidebar_new{width:100%; background:#f4f4f4; font-size:14px; font-weight:bold;height:35px; line-height:35px; text-indent:10px;color:#666}
.news_cont_h1 {font-size:22px;text-align:center;font-family:微软雅黑;word-break: break-all; padding-top:10px; padding-bottom:5px;}
.news_cont_ms {width:100%;background:url(../images/yun_icoline.jpg) repeat-x bottom;line-height:23px;text-align:center;margin-top:10px;color:#909090;padding-bottom:10px;}
.news_text {width: 680px;padding:20px 0 40px 20px;word-break: break-all; line-height:28px; font-size:14px;color:#666}
.news_text p {text-indent: 2em;}
.news_h1{ background:#f4f4f4;height:38px; width: 100%;color:#666}
.news_h1 span {isplay: inline-block;float: left; font-size: 14px;font-weight: bold;height: 20px;line-height: 20px;margin-top: 8px; padding-left: 10px;}
.news_left_tlists{ width:100%; float:left;}
.news_left_tlists ul{width:230px;padding:8px 0 0 8px;}
.news_left_tlists ul li{ width:105px; margin-right:10px; height:30px; line-height:30px; display:block; background:#eee; margin-bottom:6px; text-align:center; }
.news_left_tlists ul li a{color:#555; background:none;}
.news_left_tlists ul li a:hover{ background:#1076d1; color:#fff;}
/*工具箱*/
.Toolbox_left{width:670px; background:#fff; float:left; padding-left:10px; padding-right:10px;}
.Toolbox_h1{width:100%;height:40px; line-height:40px;color:#333;border-bottom:1px solid #eee; font-size:18px;  text-indent:10px;font-family:微软雅黑;}
.Toolbox_list{width:100%;border-bottom:1px solid #efefef; float:left; padding:10px 0;}
.Toolbox_list_img{width:72px; float:left}
.Toolbox_list_cont{width:450px; float:left; padding-left:15px;}
.Toolbox_list_h1{ font-size:16px; font-weight:bold}
.Toolbox_list_p{ line-height:20px; margin-top:5px;}
.Toolbox_list_r{width:100px; float:left; margin-top:25px; padding-left:20px;}
.Toolbox_list_more{ display:inline-block;width:99px;height:30px; line-height:30px; text-align:center; border-radius:3px; background:#ff7f00;color:#fff;}
.Toolbox_list_more:hover{ background:#f60;color:#fff; text-decoration:none}
.Toolbox_right{width:278px; float:right;}
.Toolbox_right_box{width:100%; float:left; background:#fff;}
.Toolbox_search{width:100%;height:40px; background:#3b8ee3; float:left}
.Toolbox_search_text{width:210px;height:30px; background:#fff;border:none; line-height:30px; float:left; margin-top:5px; margin-left:5px;color:#999; text-indent:10px;}
.Toolbox_search_sub{width:50px;height:30px; float:left;color:#fff; font-weight:bold; background:#f27312;border:none;margin-top:5px; margin-left:5px; cursor:pointer}
.Toolbox_Ranking_h1{width:100%; font-family:微软雅黑; font-size:16px;height:40px; line-height:40px;border-bottom:1px solid #d3d3d3; float:left; text-indent:10px;}
.Toolbox_Ranking_list{ width:268px;padding:5px; float:left}
.Toolbox_Ranking_list li{width:100%; float:left;border-bottom:1px dashed #e5e5e5; padding-top:10px; padding-bottom:10px; line-height:18px;}
.Ranking_no{width:18px;height:18px; background:#cdcdcd; line-height:18px; text-align:center; font-size:14px;color:#fff; display:inline-block; float:left; font-family:微软雅黑;}
.Ranking_name{width:160px; display:block; padding-left:10px; float:left}
.Ranking_cs{ display:block; float:left;width:30px;color:#aa99bb}
.Ranking_no_mc{ background:#3b8ee3}
.Toolbox_Ranking_list_new li{width:258px; padding-left:10px; background:url(../images/new_li.png) no-repeat left center}
.Toolbox_content_h1{width:100%;height:40px; background:#3b8ee3; float:left}
.Toolbox_content_span{ display:block; float:left; padding-left:20px; font-size:18px;color:#fff; line-height:40px;font-family:微软雅黑;}
.Toolbox_content_search{ margin-right:5px;}
.Toolbox_content_box{width:100%; background:#fff; float:left; padding-top:10px; padding-bottom:10px;}
.Toolbox_content_box_left{width:170px; float:left; padding-left:5px;}
.Toolbox_content_nav{width:100%;}
.Toolbox_content_nav li{width:170px; height:30px; line-height:30px; font-size:14px; margin-top:3px; background:#FAFAFA}
.Toolbox_content_nav li a{ display:block;padding-left:30px;}
.Toolbox_content_nav .Toolbox_content_nav_cur{ background:#3b8ee3;}
.Toolbox_content_nav .Toolbox_content_nav_cur a{ font-weight:bold;color:#fff;}
.Toolbox_content_nav li a:hover{background:#3b8ee3; font-weight:bold;color:#fff; text-decoration:none}
.Toolbox_content_box_right{width:780px; float:left; padding-left:20px;}
.Toolbox_content_list{width:100%;}
.Toolbox_content_list li{width:250px; float:left; font-size:14px; height:33px; line-height:33px; padding-left:10px; background:url(../images/t_libg.jpg) no-repeat left 13px;}
.Toolbox_content_list li a{color:#666; float:left}
.Toolbox_content_list li a:hover{color:#f60}
.Toolbox_down{ float:right;width:40px;height:18px; line-height:18px;color:#fff;text-align:center; background:#f60;border-radius:3px;}
.Toolbox_down:hover{ text-decoration:none; background:#f30;color:#fff;}
.Toolbox_down_span{ display:inline-block; float:left;width:200px;height:18px; line-height:18px; overflow:hidden;}
.news_show_pages{width:100%; margin-top:10px;}

.news_show_pages  li {display: block;float: left;height: 25px;line-height: 25px;overflow: hidden;width: 298px;}
.news_show_pages  li span {color: #077AC7;font-weight: bold;}
.news_show_pages  li a {color: #000000;font-weight: bold;}
.news_show_pages li a:hover {color: #FF6600;}
 .news_ul_news li {width:300px; float:left; line-height:26px;}
 .news_ul_news li a {color: #666666;font-weight: normal;}
.news_show_wz{ font-size:12px; font-weight:bold; padding-top:10px; padding-bottom:10px;}
.Toolbox_content_msg{width:100%; float:left; padding-top:50px; text-align:center; font-size:20px;
