@charset "gb2312";
/* CSS Document */

.popupfuntype {
	border: 0 solid #FFFFFF;
	left: 357px;
	line-height: 24px;
	position: absolute;
	top: 250px;
	width: 700px;
	z-index: 91;
}
.pop-title {
	background: url(../images/title_bg.gif) repeat-x scroll 0 0 transparent;
	color: #FFFFFF;
	font-size: 12px;
	height: 40px;
	padding: 0 10px;
}
.pop-title span {
	background: url(../images/01.gif) no-repeat scroll left center transparent;
	float: left;
	padding-left: 15px;
}
.pop-title a {
	color: #FFFFFF;
	float: right;
}
.pop-con {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 4px solid #0066FF;
	float: left;
	width: 700px;
	z-index: 90;
}
.pop-con-dl {
	float: left;
	width: 700px;
	z-index: 92;
}
.dl-h {
	background: none repeat scroll 0 0 #F0F0F0;
}
.pop-con-dl dt {
	color: #4570A4;
	float: left;
	font-family: "ו";
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	text-align: left;
	width: 130px;
}
.pop-con-dl dd {
	float: left;
	width: 540px;
}
.pop-con-dl .pop-ul {
	float: left;
	z-index: 1;
}
.pop-con-dl .pop-ul li {
	display: inline-block;
	float: left;
	width: 180px;
	z-index: 1;
}
.pop-con-dl .pop-ul li:hover {
	background:#F2F8FB;
}
.pop-con-dl .pop-ul .pop-ul-ul {
	background:#F2F8FB;
	border: 1px solid #0066FF;
	float: left;
	left: 30px;
	padding: 8px 15px 8px 5px;
	position: absolute;
	top: 20px;
	width: 180px;
	z-index: 95;
}
.pop-con-dl .pop-ul .pop-ul-ul li {
}
.tanchu {
	position: relative;
}
.pointer {
	cursor:pointer
}
