@charset "gb2312";
/* CSS Document */
ody, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0
}
body, button, input, select, textarea {
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}
address, cite, dfn, em, var {
	font-style: normal
}
code, kbd, pre, samp {
	font-family: courier new, courier, monospace
}
small {
	font-size: 12px
}
ul, ol {
	list-style: none
}
a {
	text-decoration: none;
	outline: 0 none;
}
a:hover {
	text-decoration: underline
}
sup {
	vertical-align: text-top
}
sub {
	vertical-align: text-bottom
}
legend {
	color: #000
}
fieldset, img {
	border: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
html {
	overflow-x: hidden;
	_background-image: url(about:blank);
	_background-attachment: fixed;
	overflow-y: scroll
}
a, embed {
	outline: none
}
a {
	color: #444
}
/*地图搜索*/
.content_firm {
	width: 980px;
	float: left;
	margin-bottom: 10px;
}
.active div.mode {
 -webkit-transition: all .8s ease-in;
 -moz-transition: all .8s ease-in-out;
 -o-transition: all .5s ease-in;
 transition: all .5s ease-in;
}
.trym {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none
}
.active .mode {
 -webkit-transition: all .7s ease-out .1s;
 -moz-transition: all .7s ease-out;
 -o-transition: all .7s ease-out .1s;
 transition: all .7s ease-out .1s
}
.popup_in, .popup_close {
 animation-duration: .5s;
 animation-delay: .1s;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
 -webkit-animation-duration: .8s;
 -webkit-animation-delay: .1s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: both;
 -moz-animation-duration: .5s;
 -moz-animation-delay: .2s;
	-moz-animation-timing-function: ease-out;
	-moz-animation-fill-mode: both;
	-moz-backface-visibility: hidden;
 -ms-animation-duration: .5s;
 -ms-animation-delay: .1s;
	-ms-animation-timing-function: ease-out;
	-ms-animation-fill-mode: both
}
.popup_in {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-ms-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp
}
.popup_close {
	visibility: hidden
}
@-webkit-keyframes fadeInUp {
0% {
margin-top:-25px;
}
100% {
margin-top:0
}
}
@-moz-keyframes fadeInUp {
}
@-ms-keyframes fadeInUp {
0% {
opacity:0;
-ms-transform:translateY(-20px)
}
100% {
opacity:1;
-ms-transform:translateY(0)
}
}
@-o-keyframes fadeInUp {
0% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes fadeInUp {
0% {
opacity:0;
transform:translateY(20px)
}
100% {
opacity:1;
transform:translateY(0)
}
}
@-webkit-keyframes fadeOutUp {
0% {
opacity:1;
-webkit-transform:translateY(0)
}
100% {
opacity:0;
visibility:hidden;
-webkit-transform:translateY(-20px)
}
}
.content_firm_top {
	width: 100%;
}
.firm_Comment {
	width: 196px;
	float: left;
	padding: 5px;
	border-bottom: 1px solid #F0F0F0;
}
.firm_Comment dt {
	width: 30px;
	float: left;
	margin-top: 3px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 2px;
}
.firm_Comment dd {
	width: 150px;
	float: left;
	padding-left: 5px;
	color: #AD9C9C
}
.firm_gz {
	background: url("../images/yun_logoin_icon.png") no-repeat scroll -75px -4px transparent;
	color: #FFFFFF;
	display: block;
	font-family: 微软雅黑;
	font-size: 14px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	width: 73px;
}
.actions li .firm_gz:hover {
	text-decoration: none;
	background: url(../images/button_icon.png) no-repeat 0 -70px;
	color: #fff;
}
.actions li .pin_pinlun {
	background-position: 0 -24px;
}
.actions li .pin_guanzhu {
	background-position: 0 -48px;
}
.firm_list {
	color: #666
}
.firm_reply {
	display: block;
	width: 100%;
	height: 23px;
	line-height: 23px;
	text-align: right;
	float: left
}
.firm_reply a {
	color: #36F
}
.map_right ul li {
	float: left;
	width: 210px;
	padding: 5px 5px 5px 15px;
	line-height: 20px;
}
.map_right {
	width: 230px;
	height: 500px;
	float: left;
	background: #fff;
	overflow:auto;
	overflow-x:hidden
}
.Post_map {
	width: 100%;
	float: left;
	background: url(../images/yun_map.gif) repeat-x;
	border-bottom: 1px solid #d6d6d6
}
.Post_map_h1 {
	display: block;
	float: right;
	width: 230px;
	line-height: 30px;
	font-weight: bold;
	border-left: 1px solid #d6d6d6;
	text-indent: 10px;
}
.Post_map ul li {
	float: left;
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	border-right: 1px solid #d6d6d6;
}
.Post_map ul .Post_map_atc {
	background: url(../images/yun_x.png) -3px -55px repeat-x;
	color: #fff;
	font-weight: bold
}
.Post_map_list {
	color: #4D4D4D;
	background: #E5EEFF;
	height: 30px;
	line-height: 30px;
	text-align: left;
	text-indent: 10px;
}
.mapsearch {
	background-position: 0 -302px;
	color: #666;
	border: 1px solid #A6B7C9;
	display: inline-block;
	float: left;
	height: 25px;
	line-height: 25px;
	margin: 5px 8px 0;
	cursor: pointer;
	padding: 0 5px;
}
/*企业黄页*/
.firm_left {
	width:216px;
	float:left;
	background:#fff;
	padding:5px;
}
.firm_left_h1 {
	width:100%;
	height:37px;
	background:#edf4f7
}
.firm_left_h1 span {
	display:inline-block;
	border-left:6px solid #e05602;
	height:20px;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
	color:#5c5e61;
	padding-left:10px;
	margin-left:10px;
	margin-top:8px;
	float:left
}
.firm_left_h1 a {
	float:right;
	margin-right:10px;
	display:inline-block;
	line-height:37px;
	color:#3b8ee3
}
.firm_seach_top_list {
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
	float: left
}
.firm_seach_top_l {
	width: 100%;
	line-height: 22px;
	font-weight: bold;
	color: #666;
	border-bottom:1px solid #e0e4e7;
	padding-bottom:5px;
	background:url(../images/yun_firm_icon1.jpg) no-repeat 60px 9px;
	cursor:pointer;
}
.firm_seach_top_r {
	width: 100%;
}
.firm_seach_top_r a {
	display:block;
	line-height: 22px;
	margin-right: 5px;
	padding-left: 15px;
	padding-right: 3px;
	white-space: nowrap;
	color: #787878
}
.firm_seach_top_r a:hover {
	color:#F90
}
.firm_seach_top_r .firm_a_atc {
	color:#06F;
}
.firm_right {
	width:720px;
	padding-bottom:20px;
	background:#fff;
	float:right;
	padding:10px;
}
.firm_right_seach {
	width:680px;
	background:url(../images/yun_firm_bg.jpg) repeat;
	float:left;
	padding:20px;
	border-radius:5px
}
.firm_seach_r {
	float: left
}
.tykeywords {
	color:#a4a6a8;
	float: left;
	font-size: 14px;
	text-indent: 10px;
	width:310px;
	height:37px; line-height:37px;
	background:#fff;
	border:none;
}
.ty_button {
	color: #666666;
	float: left;
	font-size: 14px;
	text-indent: 10px;
	width:270px;
	height:37px;
	background:#fff;
	border:none;
	margin-left:10px;
	_margin-left:5px;
	text-align:left;
	color:#a4a6a8;
	cursor:pointer
}
.tysubmit {
	background:#8bb5df;
	border: medium none;
	float: left;
	height: 38px;
	margin-left: 5px;
	width:85px;
	font-size:16px;
	font-family:微软雅黑;
	color:#fff;
	cursor:pointer
}
.tag_seach {
	padding-top: 10px;
	float: left
}
.firm_hot-tags {
	width:100%;
	float:left;
	padding-top:17px;
	color:#84888b
}
.firm_hot-tags a {
	color:#84888b
}
.firm_list_h1 {
	width:100%;
	border-bottom: 1px solid #D7D7D7;
	line-height: 30px;
	font-size:16px;
	color:#999;
	margin-top:10px;
	float:left
}
.firm_list {
	width:100%;
	float:left;
	border-bottom:1px solid #f0f0f0;
	padding-top:10px;
	padding-bottom:10px;
}
.firm_list_logo {
	width:158px;
	height:65px;
	border:1px solid #f3f0f0;
	padding:2px;
	float:left;
	margin-left:1px;
}
.firm_post_cont {
	width:430px;
	padding-left:15px;
	float:left
}
.firm_qy_name {
	font-size:14px;
	font-weight:bold;
	line-height:28px;
}
.firm_qy_name a {
	color:#127db3
}
.firm_qy_name a:hover {
	color:#F60
}
.firm_qy_list {
	width:100%;
	line-height:21px;
}
.firm_qy_list span {
	display:inline-block;
	margin-right:10px;
}
.firm_qy_list em {
	color:#86b5d7
}
.firm_list_right {
	float:right;
	text-align:center;
	margin-right:10px;
}
.crop-add-yb {
	width:76px;
	height:26px;
	line-height:26px;
	text-align:center;
	display:block;
	background:url(../images/yun_firm_sub1.jpg) no-repeat;
	color:#666;
	margin-top:10px;
	margin-bottom:10px;
}
.firm_list_cur{ position:relative; z-index:10000}
.firm_list_cur_box{width:718px;  position:absolute;left:0px;top:-1px;border:1px solid #D7D7D7; padding-top:112px; background:#f8f8f8}
.firm_list_cur_cont{ background:#f8f8f8;width:698px; float:left; padding-left:10px; padding-right:10px; padding-bottom:10px;}
.firm_list_post{width:100%; line-height:23px; margin-top:5px;float:left}
.firm_list_post a{color:#999; display:inline-block; padding-right:10px; padding-left:10px;border-radius:10px;border:1px solid #eee; margin-right:10px; margin-top:5px; background:#fff;}
.firm_list_post a:hover{color:#06F;border:1px solid #06F; text-decoration:none}
.firm_list_cur_name{ font-size:16px; font-family:微软雅黑}
.firm_list_cur_news{width:100%; line-height:23px; float:left;}
.firm_list_cur_left{width:350px;border-right:1px solid #ccc;float:left }
.firm_list_cur_right{width:335px; float:left; padding-left:10px;}
.firm_list_cur_right_l{ margin-top:10px; float:left; margin-right:10px;}
.firm_list_cur_news_list{ background:url(../images/new_li.png) no-repeat left 10px; padding-left:10px;}
.firm_list_cur_box .firm_list_cur_p{ font-size:14px; margin-top:5px;}
.firm_list_cur_right_l_img{width:60px; float:left; margin-right:10px;}
.firm_left_close_p{ margin-top:5px;}
.firm_left_close_span{ background:#06F;color:#fff; margin-top:10px; line-height:22px; padding:1px 5px; display:inline-block;cursor:pointer}
.firm_left_close_span em{width:14px;height:14px; background:url(../images/dialog_close.png) no-repeat; display:inline-block; cursor:pointer}
.firm_list_cur .firm_list_logo{ position:relative; z-index:10000;}
.firm_list_cur .firm_post_cont{ position:relative; z-index:10000;}
.firm_list_cur .firm_list_right{ position:relative; z-index:10000}




