
<style>
body{ overflow-x:hidden}
#contentDiv ul li {
    list-style:none;
}
.td_title1 {
	color: #222;
}
.td04 {
	COLOR: #00659c;
	TEXT-INDENT: 0px
}
.mail{ padding-top:20px; margin-bottom:20px;}
.mail li{height:28px; line-height:28px;}
.mail li span{width:130px; text-align:right; display:block; float:left}
.zhiw1{width:680px; background:#e0f0ff;font-size:12px;}
.zhiw{width:680px; background:#efeeee;font-size:12px; float:left; list-style:none; font-size:14px;color:#666;}
.zhiw li{width:300px; line-height:33px; float:left; margin-left:20px;_margin-left:10px; list-style:none;white-space: normal; word-break: break-all;
}.content{ margin-top:10px;}
ul{ padding:0; margin:0;}
</style>

<div style="clear:both"></div>
<div style="width:100%">
<div style="width:978px; margin:10px auto 0; background:#FAFAFA;border:1px solid #E0E6EA; padding:20px 0px;float:left">
<div style="width:680px;margin:0 auto;">
<div style="width:680px;font-size:14px; margin-bottom:10px; background:#fff;">
<div style="line-height:40px; line-height:40px;color:#fff; text-indent:10px; background:#F6572F; font-size:16px; font-family:'microsoft yahei';">推荐职位: <a href="{yun:}comurljob{/yun}"  target="_blank" style="color:#fff;">{yun:}comname{/yun}</a>  </div>
  <ul class="zhiw">
    	 <li>招聘人数:{yun:}number_info{/yun} </li>	
      	 <li>学历要求:{yun:}edu_info{/yun}</li>
         <li>年龄要求:{yun:}age_info{/yun}</li>
         <li>职位类型:{yun:}type_info{/yun}</font></li>
          <li>语言要求:{yun:}lang_info{/yun} </li>	
          <li>工作经验要求:{yun:}exp_info{/yun} </li>
          <li>薪资待遇:{yun:}salary_info{/yun} </li>	
       
        
             <li>电子信箱:<a href="{yun:}comurljob{/yun}"  target="_blank">登录网站后查看</a></li>
    <li>联系电话:<a href="{yun:}comurljob{/yun}"  target="_blank">登录网站后查看</a> </li>
     <li>工作地点：{yun:}city_info{/yun}{yun:}city2_info{/yun}</li>
         <li>有效期至：{yun:}edate{/yun}</li>
            <li style="width:100%">福利待遇:{yun:}welfare_info{/yun} </li>	
         
</ul>

     

<ul class="zhiw"><li>职位描述:{yun:}description{/yun}</li></ul>
      <table width="100%"  border="0"  cellpadding="6"  cellspacing="0">
        <tbody>
          <tr bgcolor="#FFFFFF">

            <td height="30"  align="center"> [ <a href="{yun:}comurljob{/yun}"  target="_blank">发送简历</a> ]
              
              &nbsp; [ <a href="{yun:}comurl{/yun}"  target="_blank">查看该公司其他职位</a> ] </td>
          </tr>
        </tbody>
      </table>

         <div style="background: #EFEEEE">
<div style="line-height:40px; line-height:40px;color:#fff; text-indent:10px; background:#F6572F; font-size:16px; font-family:'microsoft yahei';">公司简介：{yun:}name{/yun}

         </div>
             <ul class="zhiw">
    <li>从事行业:{yun:}hy_info{/yun} </li>
    <li>企业性质:{yun:}pr_info{/yun} </li>
    <li>企业规模:{yun:}mun_info{/yun} </li>
    <li>创办时间:{yun:}sdate{/yun} </li>
    <li>公司地址:{yun:}address{/yun}</li>
     <li>联 系 人:{yun:}linkman{/yun} </li>
      <li>邮政编码: {yun:}zip{/yun}</li>
     <li> 公司主页:{yun:}website{/yun}</li>
     </ul>

 <div style="white-space: normal; word-break: break-all; font-size:14px; line-height:33px; padding:10px;">
  
             {yun:}content{/yun}
          </div>
                    </div>  </div>

      <div style="height:30px; line-height:30px; text-indent:10px;">
      <hr align="left"  width="100%"  size="2"  color="#FF6600" />
      &nbsp;   &nbsp;<a href='{yun:}sy_weburl{/yun}'  target='_blank'>{yun:}sy_webname{/yun}</a> {yun:}now{/yun} <br/>
      <br/>
      </div>
</div>
</div>
</div>