<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div class="infoboxp_top">
<span class="admin_title_span">企业会员等级</span>
    <a href="index.php?m=admin_company_rating&c=rating" class="admin_infoboxp_tj"> 添加会员等级</a>
</div>

<div class="table-list">
  <div class="admin_table_border">
    <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form action="index.php?m=admin_company_rating&c=del" name="myform" method="post" id='myform' target="supportiframe">
    <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
      <table width="100%">
        <thead>
          <tr class="admin_table_top">
            <th style="width:20px;"><label for="chkall">
                <input type="checkbox" id='chkAll' onclick='CheckAll(this.form)' />
              </label></th>
            
            <th>编号</th>
            <th>会员名称</th>
            <th>会员模式</th>
            <th>费用</th>
            <th>购买{yun:}$config.integral_pricename{/yun}</th>
            <th>服务时间</th>
            <th>状态</th>
            <th class="admin_table_th_bg">操作</th>
          </tr>
        </thead>
        <tbody>
        
        {yun:}foreach item=v key=key from=$list{/yun}
        <tr align="center"{yun:}if ($key+1)%2=='0'{/yun}class="admin_com_td_bg"{yun:}/if{/yun}>
          <td><input type="checkbox" value="{yun:}$v.id{/yun}" name='del[]' onclick='unselectall()' rel="del_chk" /></td>
          <td><span>{yun:}$v.id{/yun}</span></td>
          <td>{yun:}$v.name{/yun}</td>
          <td>{yun:}if $v.type==1{/yun}套餐模式{yun:}else{/yun}时间模式{yun:}/if{/yun}</td>
          <td>{yun:}$v.service_price{/yun}元</td>
          <td>{yun:}$v.integral_buy{/yun}</td>
          <td>{yun:}if $v.service_time!=""{/yun}{yun:}$v.service_time{/yun}天{yun:}else{/yun}不限{yun:}/if{/yun}</td>
          <td>
            {yun:}if $v.display eq 1{/yun}<font color="red">可见</font>{yun:}else{/yun}<font color="blue">隐藏</font>{yun:}/if{/yun}
            </td>
        <td>
        <a href="index.php?m=admin_company_rating&c=rating&id={yun:}$v.id{/yun}"class="admin_cz_bj">编辑</a> |
        <a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=admin_company_rating&c=del&id={yun:}$v.id{/yun}');"class="admin_cz_sc"> 删除</a></td>
         
        </tr>
        {yun:}/foreach{/yun}
        <tr style="background:#f1f1f1;">
            <td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
            <td colspan="8" >
            <label for="chkAll2">全选</label>&nbsp;
          <input class="admin_submit4"  type="button" name="delsub" value="删除所选"  onclick="return really('del[]')"/></td>
        </tr>
          </tbody>
        
      </table>
    </form>
  </div>
</div>
</body>
</html>