<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="js/check_public.js"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
  <div class="infoboxp_top">
    <h6>职位搜索</h6>
  </div>
  <div class="admin_table_border">
   <form action="index.php" method="get">
    <table width="100%" class="table_form" style="background:#fff;">
        <input name="m" value="admin_company_job" type="hidden">
        <input name="advanced" value="advanced" type="hidden">
        <tr class="admin_table_trbg" >
          <th>职位关键词：</th>
          <td><input type="text" name="keyword" size="30" value=""  class="company_job_text"></td>
        </tr>
        <tr >
          <th>从事行业：</th>
          <td><select name="hy">
              <option value="">--请选择--</option>
                {yun:}foreach from=$industry_index key=j item=v{/yun}
              <option value='{yun:}$v{/yun}' {yun:}if $show.hy==$v{/yun}selected{yun:}/if{/yun}>{yun:}$industry_name[$v]{/yun}</option>
                {yun:}/foreach{/yun}
            </select></td>
        </tr>
        <tr class="admin_table_trbg" >
          <th>职位名称：</th>
          <td><div class=textbox>
              <select name="job1" id="job1" class="job1" lid="job1_son">
                <option value="">--请选择--</option>
                    {yun:}foreach from=$job_index key=j item=v{/yun}
                <option value='{yun:}$v{/yun}' {yun:}if $show.job1==$v{/yun}selected{yun:}/if{/yun}>{yun:}$job_name[$v]{/yun}</option>
                    {yun:}/foreach{/yun}
              </select>
              <select name="job1_son" id="job1_son" class="job1" lid="job1_son1">
                <option value="">--请选择--</option>
                    {yun:}foreach from=$job_type[$show.job1] key=j item=va{/yun}
                <option value='{yun:}$va{/yun}' {yun:}if $show.job1_son==$va{/yun}selected{yun:}/if{/yun}>{yun:}$job_name[$va]{/yun}</option>
                    {yun:}/foreach{/yun}
              </select>
              <select name="job_post" id="job1_son1">
                <option value="">--请选择--</option>
                    {yun:}foreach from=$job_type[$show.job1_son] key=j item=val{/yun}
                <option value='{yun:}$val{/yun}' {yun:}if $show.job_post==$val{/yun}selected{yun:}/if{/yun}>{yun:}$job_name[$val]{/yun}</option>
                    {yun:}/foreach{/yun}
              </select>
            </div></td>
        </tr>
        <tr >
          <th>工作地点：</th>
          <td><div class=textbox>
              <select name="provinceid" id="provinceid" class="province" lid="cityid">
                <option value="">请选择省份</option>
                    {yun:}foreach from=$city_index key=j item=v{/yun}
                <option value='{yun:}$v{/yun}' {yun:}if $show.provinceid==$v{/yun}selected{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}</option>
                    {yun:}/foreach{/yun}
              </select>
              <select name="cityid" size="1" id="cityid" class="province" lid="three_cityid">
                <option value="">请选择城市</option>
                    {yun:}if $show.provinceid{/yun}
                    {yun:}foreach from=$city_type[$show.provinceid] key=j item=v{/yun}
                <option value='{yun:}$v{/yun}' {yun:}if $show.cityid==$v{/yun}selected{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}</option>
                    {yun:}/foreach{/yun}
                    {yun:}/if{/yun}
              </select>
              <select name="three_cityid" size="1" id="three_cityid" {yun:}if !$show.three_cityid{/yun} style="display:none;"{yun:}/if{/yun}>
              <option value="">请选择城市</option>
              {yun:}if $show.cityid{/yun}
              {yun:}foreach from=$city_type[$show.cityid] key=j item=v{/yun}
              <option value='{yun:}$v{/yun}' {yun:}if $show.three_cityid==$v{/yun}selected{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}</option>
              {yun:}/foreach{/yun}
              {yun:}/if{/yun}
              </select>
            </div></td>
        </tr>
        <tr class="admin_table_trbg" >
          <th width="120">薪水待遇：</th>
          <td><select name="salary">
              <option value="">--请选择--</option>
                {yun:}foreach from=$comdata.job_salary key=j item=v{/yun}
              <option value='{yun:}$v{/yun}' {yun:}if $show.salary==$v{/yun}selected{yun:}/if{/yun}>{yun:}$comclass_name[$v]{/yun}</option>
                {yun:}/foreach{/yun}
            </select></td>
        </tr>
        <tr>
          <th width="120">工作性质：</th>
          <td><select name="type">
              <option value="">--请选择--</option>
            {yun:}foreach from=$comdata.job_type key=j item=v{/yun}
              <option value='{yun:}$v{/yun}' {yun:}if $show.type==$v{/yun}selected{yun:}/if{/yun}>{yun:}$comclass_name[$v]{/yun}</option>
            {yun:}/foreach{/yun}
            </select></td>
        </tr>
        <tr class="admin_table_trbg" >
          <th width="120">招聘人数：</th>
          <td><select name="number">
              <option value="">--请选择--</option>
            {yun:}foreach from=$comdata.job_number key=j item=v{/yun}
              <option value='{yun:}$v{/yun}' {yun:}if $show.number==$v{/yun}selected{yun:}/if{/yun}>{yun:}$comclass_name[$v]{/yun}</option>
            {yun:}/foreach{/yun}
            </select></td>
        </tr>
        <tr >
          <th width="120">工作经验：</th>
          <td><select name="exp">
              <option value="">--请选择--</option>
            {yun:}foreach from=$comdata.job_exp key=j item=v{/yun}
              <option value='{yun:}$v{/yun}' {yun:}if $show.exp==$v{/yun}selected{yun:}/if{/yun}>{yun:}$comclass_name[$v]{/yun}</option>
            {yun:}/foreach{/yun}
            </select></td>
        </tr>
        <tr class="admin_table_trbg" >
          <th width="120">到岗时间：</th>
          <td><select name="report">
              <option value="">--请选择--</option>
            {yun:}foreach from=$comdata.job_report key=j item=v{/yun}
              <option value='{yun:}$v{/yun}' {yun:}if $show.report==$v{/yun}selected{yun:}/if{/yun}>{yun:}$comclass_name[$v]{/yun}</option>
            {yun:}/foreach{/yun}
            </select></td>
        </tr>
        <tr >
          <th width="120">性　　别：</th>
          <td><select name="sex">
              <option value="">--请选择--</option>
            {yun:}foreach from=$comdata.job_sex key=j item=v{/yun}
            <option value='{yun:}$v{/yun}' {yun:}if $show.sex==$v{/yun}selected{yun:}/if{/yun}>{yun:}$comclass_name[$v]{/yun}</option>
            {yun:}/foreach{/yun}
            </select></td>
        </tr>
        <tr class="admin_table_trbg" >
          <th width="120">教育程度：</th>
          <td><select name="edu">
              <option value="">--请选择--</option>
            {yun:}foreach from=$comdata.job_edu key=j item=v{/yun}
              <option value='{yun:}$v{/yun}' {yun:}if $show.edu==$v{/yun}selected{yun:}/if{/yun}>{yun:}$comclass_name[$v]{/yun}</option>
            {yun:}/foreach{/yun}
            </select></td>
        </tr>
        <tr >
          <th width="120">婚姻状况：</th>
          <td><select name="marriage">
              <option value="">--请选择--</option>
            {yun:}foreach from=$comdata.job_marriage key=j item=v{/yun}
              <option value='{yun:}$v{/yun}' {yun:}if $show.marriage==$v{/yun}selected{yun:}/if{/yun}>{yun:}$comclass_name[$v]{/yun}</option>
            {yun:}/foreach{/yun}
            </select></td>
        </tr>
        <tr class="admin_table_trbg" >
          <th width="120"></th>
          <td><input class="admin_submit2" type="submit" name="update" value="&nbsp;查　询&nbsp;" /></td>
        </tr>
        <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">

    </table>
    </form>
  </div>
</div>
</body>
</html>