<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="js/check_public.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>
<title>后台管理</title>
<style>
* {margin: 0 ;padding: 0;}
body,div{ margin: 0 ;padding: 0;}
</style>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div class="infoboxp_top">
<h6>会员信息</h6>
</div>
<div class="main_tag" >
<div class="tag_box">
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
<form name="myform" target="supportiframe" action="index.php?m=user_member&c=edit" method="post" >
<table width="100%" class="table_form" style="background:#fff;">
	<tr>
		<th>用户名：</th>
		<td width="350"> {yun:}if is_array($com_info){/yun}{yun:}$com_info.username{/yun}{yun:}else{/yun} <input type="text" value="{yun:}$com_info.username{/yun}" name="username" class="input-text">{yun:}/if{/yun}</td>
         {yun:}if is_array($com_info){/yun}
        <th>注册IP：</th>
		<td>{yun:}$com_info.reg_ip{/yun}<font color="gray"></font></td>
        {yun:}/if{/yun}
	</tr>
    <tr  class="admin_table_trbg">
		<th>密码：</th>
		<td><input type="text" value="" name="password" class="input-text">
		<font color="gray">不修改请留空!</font>
		</td>
        {yun:}if is_array($com_info){/yun}
        <th>注册时间：</th>
		<td>{yun:}$com_info.reg_date|date_format:'%Y-%m-%d'{/yun}
		<font color="gray"></font>
		</td>
        {yun:}/if{/yun}
	</tr>
	<tr>
		<th>E-mail：</th>
		<td><input type="text" value="{yun:}$com_info.email{/yun}" name="email" class="input-text">
		<font color="gray"></font>
		</td>
        {yun:}if is_array($com_info){/yun}
        	<th>登录IP：</th>
		<td>{yun:}$com_info.login_ip{/yun}
		<font color="gray"></font>
		</td>
        {yun:}/if{/yun}
	</tr>
		<tr  class="admin_table_trbg">
		<th>联系电话：</th>
		<td><input type="text" value="{yun:}$com_info.moblie{/yun}" name="moblie" class="input-text">
		<font color="gray"></font>
        </td>
        {yun:}if is_array($com_info){/yun}
        	<th>最近登录时间：</th>
		<td>{yun:}$com_info.login_date|date_format:'%Y-%m-%d'{/yun}
		<font color="gray"></font>
		</td>
        {yun:}/if{/yun}
	</tr>
    <tr>
		<th>姓名：</th>
		<td><input name="name" type="text" maxlength="50" class="input-text" value="{yun:}$row.name{/yun}"/></td>
		<font color="gray"></font>
        {yun:}if is_array($com_info){/yun}
        <th>登录次数：</th>
		<td>{yun:}$com_info.login_hits{/yun}
		<font color="gray"></font>
		</td>
        {yun:}/if{/yun}

	</tr>
    <tr  class="admin_table_trbg">
		<th>性别：</th>
		<td>
         <select name="sex" id="sexbyid">
        {yun:}foreach from=$userdata.user_sex key=j item=v{/yun}
        <option value='{yun:}$v{/yun}' {yun:}if $row.sex==$v{/yun}selected{yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
		{yun:}/foreach{/yun}
          </select></td>
		<th>出生年月：</th>
		<td>
        <link href="{yun:}$config.sy_weburl{/yun}/js/time/jscal2.css" type="text/css" rel="stylesheet">
		<script src="{yun:}$config.sy_weburl{/yun}/js/time/calendar.js" type="text/javascript"></script>
        <script src="{yun:}$config.sy_weburl{/yun}/js/time/en.js" type="text/javascript"></script>
         <input id="birthday" type="text" readonly size="20" class="input-text" value="{yun:}$row.birthday{/yun}" name="birthday">
        <script type="text/javascript">
        Calendar.setup({
        weekNumbers: true,
        inputField : "birthday",
        trigger : "birthday",
        dateFormat: "%Y-%m-%d",
        showTime: false,
        onSelect : function() {this.hide();}
        });
        </script></td>
	</tr>
    <tr>
		<th>婚姻状况：</th>
		<td>
         <select name="marriage" id="marriage">
        {yun:}foreach from=$userdata.user_marriage key=j item=v{/yun}
        <option value='{yun:}$v{/yun}' {yun:}if $row.marriage==$v{/yun}selected{yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
		{yun:}/foreach{/yun}
          </select>
		</td>
		<th>身高：</th>
		<td><input type="text" name="height" class="input-text" value="{yun:}$row.height{/yun}" size="10" onKeyUp="this.value=this.value.replace(/[^0-9.]/g,'')"/> CM
		</td>
	</tr>
    <tr class="admin_table_trbg">
		<th>民族：</th>
		<td><input type="text" name="nationality" class="input-text"  value="{yun:}$row.nationality{/yun}" size="15"/></td>
		<th>体重：</th>
		<td><input type="text" name="weight" class="input-text" value="{yun:}$row.weight{/yun}" size="12" onKeyUp="this.value=this.value.replace(/[^0-9.]/g,'')"/> kg
		</td>
	</tr>
     <tr>
		<th>户籍所在地：</th>
		<td><input name="domicile" type="text" class="input-text" maxlength="255" size="40" value="{yun:}$row.domicile{/yun}"  /></td>
		<th>身份证号码：</th>
		<td><input name="idcard" type="text" size="30" class="input-text" maxlength="20" value="{yun:}$row.idcard{/yun}" onKeyUp="this.value=this.value.replace(/[^0-9Xx.]/g,'')"/>
		</td>
	</tr>
    <tr class="admin_table_trbg">
		<th>工作经验：</th>
		<td>
        <select name="exp" id="exp">
            {yun:}foreach from=$userdata.user_word key=j item=v{/yun}
            <option value='{yun:}$v{/yun}' {yun:}if $row.exp==$v{/yun}selected{yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
            {yun:}/foreach{/yun}
          </select></td>
          <th>座机：</th>
		<td><input name="telhome" type="text" size="30" class="input-text" value="{yun:}$row.telhome{/yun}" onKeyUp="this.value=this.value.replace(/[^0-9-.]/g,'')"/></td>
	</tr>
    <tr>
		<th>教育程度：</th>
		<td>
        <select name="edu" id="edu">
            {yun:}foreach from=$userdata.user_edu key=j item=v{/yun}
            <option value='{yun:}$v{/yun}' {yun:}if $row.edu==$v{/yun}selected{yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
            {yun:}/foreach{/yun}
          </select></td>
		<th>现居住地：</th>
		<td><input name="living" type="text" class="input-text" maxlength="255" size="40" value="{yun:}$row.living{/yun}"  /></td>
	</tr>
    <tr class="admin_table_trbg">
		<th>状态：</th>
		<td>
            <input type="radio" {yun:}if $com_info.status=='1'{/yun}checked{yun:}/if{/yun} name="status" value="1">正常
            <input type="radio" readonly {yun:}if $com_info.status=='2'{/yun}checked{yun:}/if{/yun} name="status" value="2">锁定
		<font color="gray"></font>
		</td>
		<th>个人主页/博客：</th>
		<td><input name="homepage" type="text" class="input-text" maxlength="255" size="40" value="{yun:}$row.homepage{/yun}"  /></td>
	</tr>
    <tr>
		<th width="150">详细地址：</th>
		<td width="200" colspan="3"><input name="address" type="text" class="input-text" maxlength="255" size="40" value="{yun:}$row.address{/yun}"  /></td>
	</tr>
	<tr>
    <tr class="admin_table_trbg">
		<th>一句简介：</th>
		<td colspan="3"><textarea name="description" id="description" style="height:80px;width:400px;">{yun:}$row.description{/yun}</textarea></td>
	</tr>
	<tr>

		<td align="center" colspan="4">
        {yun:}if is_array($com_info){/yun}
        <input type="hidden" name="uid" value="{yun:}$com_info.uid{/yun}" />
        <input type="hidden" name="lasturl" value="{yun:}$lasturl{/yun}">
        <input class="admin_submit4" type="submit" name="com_update" value="&nbsp;修 改&nbsp;" />
        {yun:}else{/yun}
        <input class="admin_submit4" type="submit" name="com_add" value="&nbsp;添 加&nbsp;" />
        {yun:}/if{/yun}
		<input class="admin_submit4" type="reset" name="reset" value="&nbsp;重 置 &nbsp;" /></td>
	</tr>
</table>
<input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
</form>
</div></div></div>
</body>
</html>