<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>
<script src="js/show_pub.js"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<script type="text/javascript">
function add_industry(type){
	if(type=='1'){
		$("#class_name").val('');
		$("#orders").val('');
		$("#href").val('');
		$("#id").val('');
		$("#integral_buy").val('');
	} 
	$.layer({
		type : 1,
		title : '添加类别',
		offset: [($(window).height() - 293)/2 + 'px', ''],
		closeBtn : [0 , true],
		border : [10 , 0.3 , '#000', true],
		area : ['320px','274px'],
		page : {dom : '#houtai_div'}
	}); 
}
function save_adclass(){
	var id=$("#id").val(); 
	var class_name=$("#class_name").val(); 
	var orders=$("#orders").val();
	var pytoken=$("#pytoken").val();
	var integral_buy=$("#integral_buy").val();
	var type=$('input[name="type"]:checked').val();
	var href=$('#href').val();
	if($.trim(class_name)==''){
		parent.layer.msg('广告类别名称不能为空！', 2,2);return false;
	}
	if(type=='1'&&(integral_buy=='')){
		parent.layer.msg('请输入购买积分！', 2,2);return false;
	} 
	wait_result();
	$.post("index.php?m=advertise&c=class",{class_name:class_name,orders:orders,integral_buy:integral_buy,type:type,href:href,id:id,pytoken:pytoken},function(msg){
 		if(msg==1){
			parent.layer.msg('操作成功！', 2,9,function(){location=location ;});return false;
		}else{
			parent.layer.msg('操作失败！', 2,8,function(){location=location ;});return false;
		}
	});
}
</script>
<div id="wname"  style="display:none; width: 400px; "> 
	<div style="height: 180px;" class="job_box_div">  
	   <div class="job_box_inp">
		<table class="table_form "style="width:100%">
			<tr ><td  class='ui_content_wrap'>复制(CTRL+C)以下內容并添加到模板中</td></tr> 
            <tr ><td  class='ui_content_wrap'>limit=5 为调用数量，可自行修改，如调用6条，为limit=6</td></tr> 
			<tr><td><input type="text" name="position" id='copy_url' class="input-text" size='60'/></td></tr> 
		</table> 
	   </div>
	</div>
</div> 
<div id="houtai_div" style=" width:318px; border:1px solid #ccc; position:absolute; display:none;">
  <table class="table_form "style="width:100%">
    <tbody>
      <tr class="ui_td_11" >
        <td style="text-align: right;" class="ui_content_wrap">类别名称：</td>
        <td><input type="text" name="add_name" id="class_name" class="input-text" /></td>
      </tr>
      <tr class="ui_td_11">
        <td style="text-align: right;" class="ui_content_wrap">排&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;序：</td>
        <td><input type="text" name="orders" id='orders' size='5' class="input-text" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"/></td>
      </tr>
      <tr class="ui_td_11">
        <td style="text-align: right;" class="ui_content_wrap">广告类型：</td>
        <td><input  type="radio" value='1'  name="type" id="radio_1" onClick="$('.buy').show();">
          <label for="radio_1">可购买</label>
          <input  type="radio" value='2'  name="type" id="radio_2" checked='checked' onClick="$('.buy').hide();">
          <label for="radio_2">不可购买</label></td>
      </tr>
      <tr class="ui_td_11 buy" style="display:none">
        <td style="text-align: right;" class="ui_content_wrap">购买{yun:}$config.integral_pricename{/yun}：</td>
        <td><input id="integral_buy" class="input-text" type="text" size="5" onKeyUp="value=this.value.replace(/\D+/g,'')" value="" name="integral_buy">
          {yun:}$config.integral_pricename{/yun}/月 </td>
      </tr>
      <tr class="ui_td_11">
        <td style="text-align: right;" class="ui_content_wrap">演示地址：</td>
        <td><input id="href" class="input-text" type="text" value="" name="href"></td>
      </tr>
      <tr class="ui_td_11">
        <input name='id' value='' type='hidden' id='id'/>
        <td  class="ui_content_wrap" colspan='2'><input class="admin_submit4" type="button" name="add" value=" 添加 " onClick="save_adclass()" /></td>
      </tr>
    </tbody>
  </table>
</div> 
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div class="infoboxp_top">
<span class="admin_title_span">广告分类</span>
  <a href="javascript:void(0)" onclick="add_industry('1')" class="admin_infoboxp_tj">添加类别</a>
</div>
 <div class="clear"></div>
<div class="table-list">
  <div class="admin_table_border">
    <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form action="index.php" name="myform" method="get" target="supportiframe">
    <input type="hidden" name="pytoken" id="pytoken" value="{yun:}$pytoken{/yun}">
      <table width="100%">
        <thead>
          <tr class="admin_table_top">
            <th>编号</th>
            <th align="left">分类名称</th>
            <th>演示地址</th>
            <th>排序</th>
            <th>调用代码</th>
            <th class="admin_table_th_bg" >操作</th>
          </tr>
        </thead>
        <tbody>
        {yun:}foreach from=$ad_class_list key=key item=list{/yun}
        <tr align="center"{yun:}if ($key+1)%2=='0'{/yun}class="admin_com_td_bg"{yun:}/if{/yun}>
          <td><span>{yun:}$list.id{/yun}</span></td>
          <td align="left"><span>{yun:}$list.class_name{/yun}</span></td>
          <td class="ud" align="left">{yun:}$list.href{/yun}</td>
          <td class="od">{yun:}$list.orders{/yun}</td>
          <td class="ud"> 
        	<a href="javascript:void(0);" onClick="copy_adclass('内部调用','{yun\:}adlist classid={yun:}$list.id{/yun} limit=5 item=adlist_{yun:}$list.id{/yun}{/yun}{yun\:}$adlist_{yun:}$list.id{/yun}.html{/yun}{yun\:}/adlist{/yun}')">内部调用</a>
        </td>
          <td><span style="cursor:pointer;" onClick="showdiv5('{yun:}$list.class_name{/yun}','{yun:}$list.orders{/yun}','{yun:}$list.integral_buy{/yun}','{yun:}$list.href{/yun}','{yun:}$list.id{/yun}','{yun:}$list.type{/yun}');">修改</span> <a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=advertise&c=delclass&id={yun:}$list.id{/yun}');">删除</a></td>
        </tr>
        {yun:}/foreach{/yun}
        </tbody>
      </table>
    </form>
  </div>
</div> 
</body>
</html>