	  <div class="search_select">
        {yun:}if $smarty.get.keyword!=""{/yun}
        <a class="Search_jobs_c_a" href="{yun:}seacrh_url m=$smarty.get.m c=$smarty.get.c untype=keyword{/yun}">¹Ø¼ü×Ö£º{yun:}$smarty.get.keyword{/yun}</a>
        {yun:}/if{/yun}
      {yun:}foreach item=rows key=key from=$search_list{/yun}
       {yun:}assign var="t" value=$rows.param{/yun}
             {yun:}if $smarty.get.$t!==false && $smarty.get.$t!=''{/yun}
                {yun:}foreach item=rs key=k from=$rows.value{/yun}
                    {yun:}if $smarty.get.$t == $k{/yun}
                    <a class="Search_jobs_c_a" href="{yun:}seacrh_url m=$smarty.get.m c=$smarty.get.c untype=$t{/yun}">
                        {yun:}$rows.name{/yun}£º{yun:}$rs{/yun}
                    </a>
                    {yun:}/if{/yun}
                   
                {yun:}/foreach{/yun}
            {yun:}/if{/yun} 
		{yun:}/foreach{/yun}
	</div>
	<div class="admin_adv_search_box">
     {yun:}foreach item=row key=key from=$search_list{/yun}
     {yun:}assign var="t" value=$row.param{/yun}
    	 {yun:}if $key%2==0{/yun}
    	  	<div class="admin_adv_search_list admin_adv_search_list_bg">
          {yun:}else{/yun}
          	<div class="admin_adv_search_list">
          {yun:}/if{/yun}
          <div class="admin_adv_search_left">{yun:}$row.name{/yun}</div>
	  <div class="admin_adv_search_right">
		<a href="{yun:}seacrh_url m=$smarty.get.m c=$smarty.get.c untype=$t{/yun}" {yun:}if $smarty.get.$t!==true && $smarty.get.$t==''{/yun}class="admin_adv_search_cur"{yun:}/if{/yun}>²»ÏÞ</a>
   		{yun:}foreach item=r key=k from=$row.value{/yun}
                <a href="{yun:}seacrh_url m=$smarty.get.m c=$smarty.get.c adv=$k adt=$t untype=$t{/yun}" 
                {yun:}if $smarty.get.$t!==false && $smarty.get.$t!='' && $smarty.get.$t == $k{/yun}
                class="admin_adv_search_cur"
                {yun:}/if{/yun}>{yun:}$r{/yun}</a> 
            {yun:}/foreach{/yun}        
        </div>
        </div>
        {yun:}/foreach{/yun}  
	  <div class="admin_adv_search_icon"><i class="admin_adv_search_icon_i">&nbsp;</i></div>
  </div> 
<div class="clear"></div>