<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div id="subboxdiv" style="width:100%;height:100%;display:none;position:absolute;"></div>
<div class="infoboxp_top infoboxp_topIjf">
    <span class="infoboxp_top_span">用户设置</span>
	<span class="infoboxp_top_span_sz"><a href="index.php?m=userconfig">个人设置</a></span>
    <span class="infoboxp_top_span_sz"><a href="index.php?m=userconfig&c=com">企业设置</a></span>
    <span class="infoboxp_top_span_sz infoboxp_top_span_sz_in"><a href="index.php?m=userconfig&c=pic">会员头像</a></span>
</div>
<div class="main_tag">
<div class="tag_box"><div>
	<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form action="index.php?m=userconfig&c=avatar" method="post" enctype= "multipart/form-data" target="supportiframe">
    <table width="100%" class="table_form">
     <tr class="admin_table_trbg">
          <th width="160">参数说明： </th>
          <td>参数值</td>
          <td width="160">变量</td>
    </tr>
    <tr>
		<th width="150">默认个人头像：</th>
		<td><input  type="file"  name="sy_member_icon" class="input-text">
        {yun:}if $config.sy_member_icon!=""{/yun}
        <img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_member_icon{/yun}"  width="90" height="120">
        {yun:}/if{/yun}
            </td>
             <td width="160">sy_member_icon</td>
	</tr>
	 <tr class="admin_table_trbg">
		<th width="150">默认企业头像：</th>
		<td><input  type="file"   name="sy_unit_icon" class="input-text">
        {yun:}if $config.sy_unit_icon!=""{/yun}
        <img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}" width="250" height="90">
        {yun:}/if{/yun}
          </td>
          <td width="160">sy_unit_icon</td>
	</tr>
	 <tr class="admin_table_trbg">
		<th width="150">默认朋友圈/问答头像：</th>
		<td><input  type="file"   name="sy_friend_icon" class="input-text">
        {yun:}if $config.sy_friend_icon!=""{/yun}
        <img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_friend_icon{/yun}" width="90" height="120">
        {yun:}/if{/yun}
          </td>
           <td width="160">sy_friend_icon</td>
	</tr>
	<tr  >
		<td colspan="3" align="center">
		<input class="admin_submit4"  type="submit" name="submit" value="提交" />&nbsp;&nbsp;
		<input class="admin_submit4" type="reset" value="重置" /></td>
	</tr>
    </table>
	<input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
    </form>
</div>

</div>
</div>
</div>
</body>
</html>