<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" /> 
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script> 
<title>后台管理</title> 
</head>
<script>
function check_backup(){
	var chk_value =[];    
	$('input[name="table[]"]:checked').each(function(){    
		chk_value.push($(this).val());   
	});   
	if(chk_value.length==0){
		parent.layer.msg("请选择要备份的数据！",2,8);return false;
	}else{
		parent.layer.confirm("确定备份吗？",function(){
			parent.layer.closeAll();
			parent.layer.load('执行中，请稍后...',0);
			document.getElementById('myform').submit(); 
		});
	} 
}
</script>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div class="infoboxp_top">
<span class="admin_title_span">数据库管理</span>
<div class="infoboxp_right"> 
    <a href="index.php?m=database&c=backin" class="infoboxp_tj">恢复</a>
</div>
</div>

<div class="clear"></div>
<div class="table-list">
<div class="admin_table_border">
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe> 
<form action="index.php?m=database&c=backup" name="myform" method="post" target="supportiframe" id='myform'>
<input type="hidden" name="pytoken" id="pytoken" value="{yun:}$pytoken{/yun}">
<table width="100%">
	<thead>
	<tr class="admin_table_top">
		    <th width="50"><label for="chkall"><input type="checkbox" id='chkAll'  onclick='CheckAll(this.form)'/></label></th>
			<th align="left">表名</th>
            <th align="left">数据数</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
{yun:}foreach item=v key=key from=$table{/yun}
    <tr {yun:}if ($key+1)%2=='0'{/yun}class="admin_com_td_bg"{yun:}/if{/yun}>
    	<td align="center" ><input type="checkbox" name="table[]" value="{yun:}$v.name{/yun}"  onclick='unselectall()'></td>
    	<td align="left" class="td1"><span>{yun:}$v.name{/yun}</span></td> 
    	<td class="ud" align="left"><span>{yun:}$v.num{/yun}条</span></td>
    	<td width="150" align="center">
        <a href="javascript:void(0)"class="admin_cz_sh" onClick="layer_del('确定要备份改表？', 'index.php?m=database&c=sql&name={yun:}$v.name{/yun}&type=1');">备份</a> | 
        <a href="javascript:void(0)"class="admin_cz_bj" onclick="layer_del('',	'index.php?m=database&c=sql&name={yun:}$v.name{/yun}&type=2');">修复</a> | 
        <a href="javascript:void(0)"class="admin_cz_sh" onclick="layer_del('', 'index.php?m=database&c=sql&name={yun:}$v.name{/yun}&type=3');">优化</a></td>
  </tr>
{yun:}/foreach{/yun}
<tr style="background:#f1f1f1;">
	<td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
    <td colspan="3" >
    <label for="chkAll2">全选</label>&nbsp;
	<input name="button" value="备份" type="button" class="admin_submit4" onClick="return check_backup()">
    </td>
  </tr>
  </tbody>
  </table>
</form>
</div>
</div>
</div>
</body>
</html>