<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>
<title>后台管理</title>
<script>
function Showsub(){
	var content=$("#content").val();
	if($.trim(content)==''){parent.layer.msg('请输入内容！', 2, 2);return false;}
}
</script>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
  <div class="infoboxp_top">
    <h6>留言反馈回复</h6>
    <div class="infoboxp_right"> <a href="index.php?m=admin_message" class="infoboxp_tj">留言反馈管理</a></div>
  </div>
  <div class="admin_table_border">
    <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form name=myform onSubmit="return Showsub();" action='' method="post"  target="supportiframe" >
      <table width="100%" class="table_form">
        <tr class="admin_table_trbg" >
          <th>内容：</th>
          <td><textarea rows="10" cols="90" name="content" id='content' style="margin-top:5px;"></textarea></td>
        </tr>
        <tr>
          <input type="hidden" value="{yun:}$smarty.get.id{/yun}" name="id">
          <td colspan="2" >
              <div style="width:400px; text-align:right">
                <input type="submit" class="admin_submit4" name="submit" value="提交" >
              </div>
          </td>
        </tr>
      </table>
      <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
    </form>
</div>
</div>
</body>
</html>