<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
  <div class="infoboxp_top">
    <h6>评论列表</h6>
  </div>
  <div class="table-list admin_table_border">
    <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form action="index.php" name="myform" method="get" target="supportiframe" id='myform'>
    <input type="hidden" name="pytoken" id="pytoken" value="{yun:}$pytoken{/yun}">
      <input name="m" value="admin_question" type="hidden"/>
      <input name="c" value="del_review" type="hidden"/>
      <input name="aid" value="{yun:}$smarty.get.id{/yun}" type="hidden"/>
      <table width="100%" >
        <thead>
          <tr>
            <th width="50"><label for="chkall">
              <input type="checkbox" id='chkAll'  onclick='CheckAll(this.form)'/>
              </label></th>
            <th>编号</th>
            <th >内容</th>
            <th >评论者昵称</th>
            <th>评论时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        
        {yun:}foreach item=v from=$answer_review{/yun}
        <tr align="center" id="list{yun:}$v.id{/yun}">
          <td><input type="checkbox" value="{yun:}$v.id{/yun}"  name='del[]' onclick='unselectall()' rel="del_chk" /></td>
          <td align="left" class="td1" style="text-align:center;"><span>{yun:}$v.id{/yun}</span></td>
          <td class="od" align="left">{yun:}$v.content|strip_tags|mb_substr:0:40:'gbk'{/yun}</td>
          <td>{yun:}$v.username{/yun}</td>
          <td class="td">{yun:}$v.add_time|date_format:"%Y-%m-%d  %H:%M:%S"{/yun}</td>
          <td><a href="index.php?m=admin_question&c=add_review&id={yun:}$v.id{/yun}"><img src="images/iconv/button_edit.png" alt="修改" title="修改"/></a> <a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=admin_question&c=del_review&del={yun:}$v.id{/yun}&aid={yun:}$smarty.get.id{/yun}');"><img src="images/iconv/del_icon2.gif" alt="删除" title="删除"/></a></td>
        </tr>
        {yun:}/foreach{/yun}
        <tr style="background:#f1f1f1;">
       		<td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
			<td colspan="2" ><label for="chkAll2">全选</label>&nbsp;
          <input class="admin_submit4" type="button" name="delsub" value="删除所选" onClick="return really('del[]')" /></td>
          <td colspan="3" class="digg">{yun:}$pagenav{/yun}</td>
        </tr>
        </tbody>
        
      </table>
    </form>
  </div>
</div>
</body>
</html>
