<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>  
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div class="infoboxp_top">
<span class="admin_title_span">企业模板</span>
<a href="index.php?m=comtpl&c=add" class="admin_infoboxp_tj">添加企业模板</a>

</div>
<div class="table-list">
{yun:}foreach item=v from=$list{/yun}
<div class="" style="float: left; width: 240px;border:1px solid #CCCCCC; text-align: center; padding: 15px; line-height: 180%; margin-top:10px; margin-right:5px; background:#fff">
	  <img width="125" height="125" border="1" alt="{yun:}$v.name{/yun}" src="../{yun:}$v.pic{/yun}">
	  <br>
	 <strong>{yun:}$v.name{/yun}</strong>
	 <br>
	风格目录名称：{yun:}$v.url{/yun}
      <br>
      状态：{yun:}if $v.status==1{/yun}正在使用{yun:}else{/yun}已停止{yun:}/if{/yun}
      <br>
      <input name="" value="修改" type="submit" class="admin_submit4" onClick="location.href='index.php?m=comtpl&c=add&id={yun:}$v.id{/yun}'" style="padding:0px;">
      <input name="" value="删除" type="submit" class="admin_submit4" onclick="layer_del('确定要删除？', 'index.php?m=comtpl&c=del&id={yun:}$v.id{/yun}');" style="padding:0px;">
	 </div>
     {yun:}/foreach{/yun}
</div>
</div>
   <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
</body>
</html>