<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
{yun:}include file="$adminstyle/member_send_email.htm"{/yun}
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
   <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
{yun:}if $type!='1'{/yun}
  <div class="admin_Filter"> 
  <span class="complay_top_span fl">订阅管理</span>
      <form action="index.php" name="myform" method="get">
        <input name="m" value="subscribe" type="hidden"/>	
		<span class="admin_Filter_span"> 检索类型：</span>	
        <input class="admin_Filter_search" type="text" name="keyword"  size="25" style="float:left">
        <input  class="admin_Filter_bth"  type="submit" name="qysearch" value="检索"/>
			  <span class='admin_search_div'>
		  <div class="admin_adv_search"><div class="admin_adv_search_bth">高级搜索</div></div>   
	  </span>
      </form>
    </div> 
{yun:}include file="admin/admin_search.htm"{/yun}
  <div class="table-list">
    <div class="admin_table_border">

      <form action="index.php" name="myform" method="get" target="supportiframe" id='myform'>
        <input name="m" value="report" type="hidden"/>
        <input name="c" value="del" type="hidden"/>
        <table width="100%">
          <thead>
            <tr class="admin_table_top">
              <th style="width:20px;"><label for="chkall"><input type="checkbox" id='chkAll'  onclick='CheckAll(this.form)'/></label></th> 
              <th>ID</th>                                           
              <th>邮箱名称</th>
              <th>发送周期</th>
              <th>订阅类别</th>              
              <th>工作地点</th>              
              <th>职位类别</th>             
              <th>月薪范围</th>
              <th>申请时间</th>
              <th>状态</th>
              <th class="admin_table_th_bg">操作</th>
            </tr>
          </thead>
          <tbody>
          {yun:}foreach item=v from=$rows{/yun}
          <tr align="center" id="list{yun:}$v.id{/yun}">
            <td><input type="checkbox" value="{yun:}$v.id{/yun}"  name='del[]' onclick='unselectall()' rel="del_chk" /></td>
            <td>{yun:}$v.id{/yun}</td>
            <td align="left">{yun:}$v.email{/yun}</td>
			<td>{yun:}$v.time{/yun}天</td>
            <td>{yun:}if $v.type=="1"{/yun}订阅职位{yun:}else{/yun}订阅简历{yun:}/if{/yun}</td>
            <td align="left">{yun:}$v.provinceid{/yun}&nbsp;{yun:}$v.cityid{/yun}&nbsp;{yun:}$v.three_cityid{/yun}</td>
            <td align="left">{yun:}$v.job1{/yun}&nbsp;{yun:}$v.job1_son{/yun}&nbsp;{yun:}$v.job_post{/yun}</td>
            <td align="left">{yun:}$v.salary{/yun}</td>
            <td>{yun:}$v.ctime|date_format:"%Y-%m-%d"{/yun}</td> 
            <td>{yun:}if $v.status!="1"{/yun}<span class="admin_com_Lock">未认证</span>{yun:}else{/yun}<span class="admin_com_Audited">已认证</span>{yun:}/if{/yun}</td>           
            <td><a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=subscribe&c=del&del={yun:}$v.id{/yun}');"class="admin_cz_sc">删除</a></td>
          </tr>
          {yun:}/foreach{/yun}
          <tr style="background:#f1f1f1;">
          <td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
          <td colspan="3" >
          <label for="chkAll2">全选</label>
            <input class="admin_submit4" type="button" name="delsub" value="删除所选"  onclick="return really('del[]')"/></td>
            <td colspan="7" class="digg">{yun:}$pagenav{/yun}</td>
          </tr>
            </tbody>
        </table>
		<input type="hidden" name="pytoken"  id='pytoken' value="{yun:}$pytoken{/yun}">
      </form>
    </div>
  </div>
{yun:}else{/yun}
  <div class="admin_Filter">  
      <form action="index.php" name="myform" method="get"  id='myform'> 
        <input name="m" value="report" type="hidden"/>
        <input name="type" value="1" type="hidden"/>
		  <span class="admin_Filter_span"> 检索类型：</span>  
		  <div class="admin_Filter_text formselect"  did='dr_type'>
		  <input type="button" value="{yun:}if $smarty.get.r_type=='1'||$smarty.get.r_type==''{/yun}问题{yun:}elseif $smarty.get.r_type=='2'{/yun}回答{yun:}else{/yun}举报者{yun:}/if{/yun}" class="admin_Filter_but"  id="br_type">
		  <input type="hidden" id='r_type' value="{yun:}if $smarty.get.r_type{/yun}{yun:}$smarty.get.r_type{/yun}{yun:}else{/yun}1{yun:}/if{/yun}" name='r_type'>
		  <div class="admin_Filter_text_box" style="display:none" id='dr_type'>
			  <ul>
			  <li><a href="javascript:void(0)" onClick="formselect('1','r_type','问题')">问题</a></li>
			  <li><a href="javascript:void(0)" onClick="formselect('2','r_type','回答')">回答</a></li> 
			  <li><a href="javascript:void(0)" onClick="formselect('3','r_type','评价')">评价</a></li> 
			  </ul>  
		  </div>
		</div>  
		<div class="admin_Filter_text formselect"  did='dp_type' style="margin-left:10px;">
		  <input type="button" value="{yun:}if $smarty.get.p_type=='1'||$smarty.get.p_type==''{/yun}被举报者{yun:}else{/yun}举报者{yun:}/if{/yun}" class="admin_Filter_but"  id="bp_type">
		  <input type="hidden" id='p_type' value="{yun:}if $smarty.get.p_type{/yun}{yun:}$smarty.get.p_type{/yun}{yun:}else{/yun}1{yun:}/if{/yun}" name='p_type'>
		  <div class="admin_Filter_text_box" style="display:none" id='dp_type'>
			  <ul>
			  <li><a href="javascript:void(0)" onClick="formselect('1','p_type','被举报者')">被举报者</a></li>
			  <li><a href="javascript:void(0)" onClick="formselect('2','p_type','举报者')">举报者</a></li> 
			  </ul>  
		  </div>
		</div> 
        <input class="admin_Filter_search" type="text" name="question"  size="25" style="float:left">
        <input  class="admin_Filter_bth"  type="submit" name="comquestion" value="检索"/>
		<input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
     
	  <span class='admin_search_div'>
		  <div class="admin_adv_search"><div class="admin_adv_search_bth">高级搜索</div></div>  
		</span> 
	 </form>
    </div> 
  <div class="search_select">
	{yun:}if $smarty.get.status!=''{/yun}<a class="Search_jobs_c_a" href="{yun:}seacrh_url m=report type=1 untype=status{/yun}">审核状态：{yun:}if $smarty.get.status=='0'{/yun}未处理{yun:}elseif $smarty.get.status=='1'{/yun}已处理{yun:}/if{/yun}</a>{yun:}/if{/yun}  
</div>
<div class="admin_adv_search_box">
  <div class="admin_adv_search_list admin_adv_search_list_bg">
	<div class="admin_adv_search_left">审核状态</div>
  <div class="admin_adv_search_right">
	<a href="{yun:}seacrh_url m=report type=1 untype=status{/yun}" {yun:}if $smarty.get.status==''{/yun}class="admin_adv_search_cur"{yun:}/if{/yun}>不限</a>
	<a href="{yun:}seacrh_url m=report status=0 type=1 untype=status{/yun}" {yun:}if $smarty.get.status=='0'{/yun}class="admin_adv_search_cur"{yun:}/if{/yun}>未处理</a> 
	<a href="{yun:}seacrh_url m=report status=1 type=1 untype=status{/yun}" {yun:}if $smarty.get.status=='1'{/yun}class="admin_adv_search_cur"{yun:}/if{/yun}>已处理</a>  </div></div> 
  <div class="admin_adv_search_icon"><i class="admin_adv_search_icon_i">&nbsp;</i></div>
</div>
<div class="clear"></div>
  <div class="table-list">
    <div class="admin_table_border">
		<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
      <form action="index.php" name="myform" method="get" id='myform'  target="supportiframe" >
        <input name="m" value="report" type="hidden"/>
        <input name="c" value="del" type="hidden"/>
        <table width="100%">
          <thead>
            <tr class="admin_table_top">
              <th><label for="chkall"><input type="checkbox" id='chkAll'  onclick='CheckAll(this.form)'/></label></th>
              <th>
			  {yun:}if $smarty.get.t=="id" && $smarty.get.order=="asc"{/yun}
			  <a href="{yun:}seacrh_url type=1 order=desc t=id m=report untype=order,t,type{/yun}">编号<img src="images/sanj.jpg"/></a>
              {yun:}else{/yun}
              <a href="{yun:}seacrh_url type=1 order=asc t=id m=report untype=order,t,type{/yun}">编号<img src="images/sanj2.jpg"/></a>
              {yun:}/if{/yun}
			  </th>
              <th >被举报者</th>
              <th >举报者</th>
              <th >举报类型</th>
              <th >举报来源</th>
              <th >是否处理</th>
              <th >举报原因</th>
              <th>
			  {yun:}if $smarty.get.t=="inputtime" && $smarty.get.order=="asc"{/yun}
			  <a href="{yun:}seacrh_url type=1 order=desc t=inputtime m=report untype=order,t,type{/yun}">举报时间<img src="images/sanj.jpg"/></a>
              {yun:}else{/yun}
              <a href="{yun:}seacrh_url type=1 order=asc t=inputtime m=report untype=order,t,type{/yun}">举报时间<img src="images/sanj2.jpg"/></a>
              {yun:}/if{/yun}
			  </th>
              <th class="admin_table_th_bg">操作</th>
            </tr>
          </thead>
          <tbody>
          {yun:}foreach item=r from=$q_report{/yun}
          <tr align="center" id="list{yun:}$r.id{/yun}">
            <td><input type="checkbox" value="{yun:}$r.id{/yun}"  name='del[]' onclick='unselectall()' rel="del_chk" /></td>
            <td align="left" class="td1"><span>{yun:}$r.id{/yun}</span></td>
            <td align="left">{yun:}$r.r_name{/yun}</td>
            <td align="left">{yun:}$r.username{/yun}</td>
            <td>{yun:}if $r.r_type=='1'{/yun}问题{yun:}elseif $r.r_type=='2'{/yun}回答{yun:}elseif $r.r_type=='3'{/yun}评论{yun:}/if{/yun}</td>
            <td align="left">{yun:}if $r.is_del{/yun}<font color="red">{yun:}$r.is_del{/yun}</font>{yun:}elseif $r.status!="1"{/yun}
            <a href="{yun:}$r.url{/yun}" target="_blank">{yun:}$r.title|mb_substr:0:20:'gbk'{/yun}</a>
            {yun:}else{/yun}
            {yun:}$r.title|mb_substr:0:20:'gbk'{/yun}
            {yun:}/if{/yun}</td>
            <td id="status{yun:}$r.id{/yun}">{yun:}if $r.is_del{/yun}<font color="red">{yun:}$r.is_del{/yun}</font>{yun:}elseif $r.status=="1"{/yun}<a href="javascript:void(0);" onClick="rec_up('index.php?m=report&c=recommend','{yun:}$r.id{/yun}','0','status');"><img src="../data/ajax_img/doneico.gif"></a>{yun:}else{/yun}<a href="javascript:void(0);" onClick="rec_up('index.php?m=report&c=recommend','{yun:}$r.id{/yun}','1','status');"><img src="../data/ajax_img/errorico.gif"></a>{yun:}/if{/yun}</td>
            <td align="left">{yun:}$r.reason{/yun}</td>
            <td class="td">{yun:}$r.inputtime|date_format:"%Y-%m-%d %H:%M"{/yun}</td>
            <td>{yun:}if $r.is_del==''{/yun}<a href="index.php?m=admin_question&c={yun:}$r.c{/yun}&id={yun:}$r.eid{/yun}&back_url={yun:}$back_url{/yun}">
            <img src="images/iconv/button_edit.png" alt="修改" title="修改"/></a>{yun:}/if{/yun}<a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=report&c=del&del={yun:}$r.id{/yun}');"><img src="images/iconv/del_icon2.gif" alt="删除" title="删除"/></a></td>
          </tr>
          {yun:}/foreach{/yun}
          <tr style="background:#f1f1f1;">
          <td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
          <td colspan="2" >
          <label for="chkAll2">全选</label>&nbsp;
            <input class="admin_submit4"   type="button" name="delsub" value="删除所选" onClick="return really('del[]')" /></td>
            <td colspan="7" class="digg">{yun:}$pagenav{/yun}</td>
          </tr>
            </tbody>
        </table>
		<input type="hidden" name="pytoken"  id='pytoken' value="{yun:}$pytoken{/yun}">
      </form>
    </div>
  </div>
{yun:}/if{/yun}
  </div>
</body>
</html>