{yun:}include file="$comstyle/header.htm"{/yun}
<script src="{yun:}$config.sy_weburl{/yun}/js/binding.js"></script>
<script>var weburl="{yun:}$config.sy_weburl{/yun}";</script>
<div class="w950">
  <div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
    <div class=right_box>
      <div class=admincont_box>
        <div class=admin_tit><span class="admin_tit_bg">账户认证绑定</span> </div>
        <div class=admin_tit_right>
      <div class="job_re_ts"> 绑定手机号码、完成邮箱验证，可以增加求职反馈的及时性和准确性，从而提高求职成功率 </div>
          <div class="Binding_h1 mt10">登录用户名：{yun:}$username{/yun}</div>
          <div class="Binding_h1">上次登录时间：{yun:}$member.login_date|date_format:"%Y-%m-%d %H:%M:%S"{/yun} <a href="index.php?c=vs" class="Binding_a">修改密码</a></div>
          <div class="Binding_list">
            <div class="Binding_list_left">邮箱</div>
            {yun:}if $company.email_status==1{/yun}
            <div class="Binding_list_text">当前邮箱已验证：<b class="Binding_list_b">{yun:}$company.linkmail{/yun}</b> </div>
            <div class="Binding_oper"><a href="javascript:void(0)" onClick="layer_del('确定要取消绑定？','index.php?c=binding&act=del&type=email');" class="Binding_submit_qx">取消绑定</a></div>
            {yun:}else{/yun}
            <div class="Binding_list_text">当前邮箱未验证：<b class="Binding_list_b">{yun:}$company.linkmail{/yun}</b> 邮箱验证后，可以通过邮箱随时取回账户密码。</div>
            <div class="Binding_oper"><a  href="javascript:getshow('email','绑定邮箱');" class="Binding_submit">立即绑定</a></div>
            {yun:}/if{/yun}
          </div>
          <div class="Binding_list">
            <div class="Binding_list_left">绑定手机</div>
            {yun:}if $company.moblie_status==1{/yun}
            <div class="Binding_list_text">当前手机已绑定：
            <b class="Binding_list_b">{yun:}$company.linktel{/yun}</b> </div>
            <div class="Binding_oper"><a href="javascript:void(0)" onClick="layer_del('确定要取消绑定？','index.php?c=binding&act=del&type=moblie');" class="Binding_submit_qx">取消绑定</a></div>
            {yun:}else{/yun}
            <div class="Binding_list_text">当前手机未绑定：
            <b class="Binding_list_b">{yun:}$company.linktel{/yun}</b> 绑定后可使用该手机登录账号或找回密码</div>
            <div class="Binding_oper"><a  href="javascript:getshow('moblie','绑定手机号码');" class="Binding_submit">立即绑定</a></div>
          	{yun:}/if{/yun}
          </div>
          <div class="Binding_list">
            <div class="Binding_list_left">绑定QQ</div>
            {yun:}if $member.qqid!=""{/yun}
            <div class="Binding_list_text">已绑定QQ号</div>
            <div class="Binding_oper"><a href="javascript:void(0)" onClick="layer_del('确定要取消绑定？','index.php?c=binding&act=del&type=qqid');" class="Binding_submit_qx">取消绑定</a></div>
            {yun:}else{/yun}
            <div class="Binding_list_text">未绑定QQ号</div>
           		 {yun:}if $config.sy_qqlogin!='1'{/yun}
	          	  <div class="Binding_oper"><a href="javascript:void(0)" onclick="layer.msg('对不起，QQ绑定已关闭！');return false;" class="Binding_submit">立即绑定</a></div>
            	{yun:}else{/yun}
            		<div class="Binding_oper"><a href="{yun:}url m=qqconnect url=c:qqlogin,login:1{/yun}" class="Binding_submit">立即绑定</a></div>
            	 {yun:}/if{/yun}
            {yun:}/if{/yun}
          </div>
          <div class="Binding_list">
            <div class="Binding_list_left">绑定新浪微博</div>
            {yun:}if $member.sinaid!=""{/yun}
            <div class="Binding_list_text">已绑定，可使用新浪微博快速登录</div>
            <div class="Binding_oper"><a href="javascript:void(0)" onClick="layer_del('确定要取消绑定？','index.php?c=binding&act=del&type=sinaid');" class="Binding_submit_qx">取消绑定</a></div>
            {yun:}else{/yun}
            <div class="Binding_list_text">授权绑定后，可使用新浪微博快速登录</div>
            	{yun:}if $config.sy_sinalogin!='1'{/yun}
					<div class="Binding_oper"><a href="javascript:void(0)" onclick="layer.msg('对不起，新浪绑定已关闭！');return false;" class="Binding_submit">立即绑定</a></div>
				 {yun:}else{/yun}
				  <div class="Binding_oper"><a href="{yun:}url m=sinaconnect url=login:1{/yun}" class="Binding_submit">立即绑定</a></div>
				 {yun:}/if{/yun}
            {yun:}/if{/yun}
          </div>
          
          <div class="Binding_list">
            <div class="Binding_list_left">营业执照</div>
            {yun:}if $company.yyzz_status==1{/yun}
            <div class="Binding_list_text" style="width:300px;">已验证</div>
            <div class="Binding_oper">
            	<a  href="javascript:getyyzz('上传营业执照');" class="Binding_submit_rz">重新认证</a>
            	<a  href="javascript:look('营业执照展示','..{yun:}$cert.check{/yun}');" class="Binding_submit_qx">查看执照</a>
            	<a  href="javascript:void(0);" class="Binding_submit_qx">已验证</a>
          	</div>
            {yun:}else{/yun}
                {yun:}if !empty($cert){/yun}
                    {yun:}if $cert.status==2{/yun}
                    <div class="Binding_list_text">审核未通过 原因：{yun:}$cert.statusbody{/yun}</div>
                    <div class="Binding_oper"><a  href="javascript:getyyzz('上传营业执照');" class="Binding_submit_rz">重新上传</a></div>
                    {yun:}else{/yun}
                    <div class="Binding_list_text" style="width:300px;">营业执照已上传，请等待管理员审核</div>
                    <div class="Binding_oper"><a  href="javascript:getyyzz('上传营业执照');" class="Binding_submit_rz">重新上传</a></div>
                    {yun:}/if{/yun}
                {yun:}else{/yun}
                <div class="Binding_list_text" style="width:300px;">当前未上传营业执照</div>
                <div class="Binding_oper"><a  href="javascript:getyyzz('上传营业执照');" class="Binding_submit_rz">未验证</a></div>
                {yun:}/if{/yun}
            {yun:}/if{/yun}
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!--绑定邮箱弹出框-->
<div id="email" style="display:none;">
<div class="Binding_pop_box" style="padding:10px;width:480px;height:205px; background:#fff">
<div class="Binding_pop_box_msg">修改后的邮箱将作为新的登录账号</div>
<div >
<div class="Binding_pop_box_list"><span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>新的邮箱：</span>
<input type="text" name="email" class="Binding_pop_box_list_text Binding_pop_box_list_textw200"></div>
<div class="Binding_pop_box_list"><span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>验证码：</span>
<input type="text" name="email_code" class="Binding_pop_box_list_text">
<img id="vcode_img" src="../include/authcode.inc.php" style=" margin:0 5px 5px 5px; vertical-align:middle;"><a href="javascript:check_code();">看不清</a></div>
<div class="Binding_pop_sub">
<span class="Binding_pop_box_list_left">&nbsp;</span>
<input class=" com_pop_bth" type="button" onclick="check_email();" value="发送验证邮箱">
<input class=" com_pop_bth_qx" type="button" value="取消" onclick="layer.closeAll();">
</div>
</div>
</div>
</div>
<!--弹出框 end-->

<!--绑定手机弹出框-->
<div id="moblie" style=" display:none;">
<div class="Binding_pop_box" style="padding:10px;width:480px;height:200px; background:#fff;">
<div class="Binding_pop_box_msg">绑定完成后，您可以使用该手机号码登录账号、找回密码</div>
<div>
<div class="Binding_pop_box_list"><span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>手机号码：</span>
<input type="text" name="moblie" class="Binding_pop_box_list_text Binding_pop_box_list_textw200"></div>
<div class="Binding_pop_box_list"><span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>短信验证码：</span>
<input type="text" id="moblie_code" class="Binding_pop_box_list_text" style="width:90px;">
<a href="javascript:;" onclick="sendmoblie();" class="Binding_pop_bth" id="time">免费发送验证码</a></div>
<div class="Binding_pop_sub" style="margin-top:20px;">
<span class="Binding_pop_box_list_left">&nbsp;</span>
<input class="com_pop_bth_qd" onclick="check_moblie();" type="button" value="保存">
<input class="com_pop_bth_qx" type="button" value="取消" onclick="layer.closeAll();">
</div>
</div>
</div>
</div>
<!--弹出框 end-->
<!--营业执照弹出框-->
<div id="yyzz" style=" display:none;">
<div class="Binding_pop_box" style="padding:10px;width:480px;height:200px; background:#fff;">
<div class="Binding_pop_box_msg">营业执照验证，有利于更好的招聘人才</div>
<div>
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
<form name="MyForm" target="supportiframe" method="post" action="index.php?c=binding&act=save" enctype="multipart/form-data" onsubmit="return check_company_cert();">
<div class="Binding_pop_box_list"><span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>企业全称：</span>
<input type="text" value="{yun:}$company.name{/yun}" name="company_name" id="company_name" class="Binding_pop_box_list_text Binding_pop_box_list_textw200" /></div>
<div class="Binding_pop_box_list"><span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>营业执照：</span>
<input type="file" name="pic" id="company_cert_pic" class="Binding_pop_box_list_text Binding_pop_box_list_textw200"></div>
<div class="Binding_pop_sub" style="margin-top:20px;">
<span class="Binding_pop_box_list_left">&nbsp;</span>
<input class="com_pop_bth_qd" name="upfile" type="submit" value="保存">
<input class="com_pop_bth_qx" type="button" value="取消" onclick="layer.closeAll();">
</div>
</form>
</div>
</div>
</div>
<div id="pic" style=" display:none;">
<div class="Binding_pop_box" style="padding:10px;width:480px;height:200px; background:#fff;">
<img src="" id="picshow" width="480" height="200"/>
</div>
</div>
<!--弹出框 end-->
<input type="hidden" id="moblieval" value="{yun:}$company.linktel{/yun}" />
<input type="hidden" id="emailval" value="{yun:}$company.linkmail{/yun}" />
<input type="hidden" id="send" value="0" />
{yun:}include file="$comstyle/footer.htm"{/yun}