{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w950">
  <div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
    <div class=right_box>
      <div class=admincont_box>
        <div class=admin_tit><span class="admin_tit_bg">已邀请面试的简历</span> 
        <form action="index.php" method="get" />
           <div class="news_search">
          <input name="c" type="hidden" value="down">
           <input name="keyword" type="text"class="news_text" value="请输入简历关键字">
              <input name="" type="submit"class="news_bth" value=" ">
          </div> 
          </form>
        
        </div>
       <div class="job_re_ts"> 您已邀请 <span class="re_cor blod">{yun:}$total{/yun}</span> 份简历面试 </div>

        <div class=admin_textbox_04>
       <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
          <form action="{yun:}$now_url{/yun}&act=del" method="post" target="supportiframe" id='myform'>
           <div class=table>
          <div id="job_checkbokid" >
              <div class="job_news_list job_news_list_h1">
                  <span class="job_news_list_span job_w30">&nbsp;</span>
                  <span class="job_news_list_span job_w160">求职意向</span>
                  <span class="job_news_list_span job_w90">姓名</span>
                  <span class="job_news_list_span job_w50">性别</span>
                  <span class="job_news_list_span job_w50">学历</span>
                  <span class="job_news_list_span job_w100">邀请时间</span>
                  <span class="job_news_list_span job_w100">查看简历</span>
                  <span class="job_news_list_span job_w155">操作</span>
                 </div>
                {yun:}if !empty($rows){/yun}
                {yun:}foreach from=$rows item=job{/yun}
                {yun:}assign var="uid" value=$job.uid{/yun}
                
                <div class="job_news_list">
                  <span class="job_news_list_span job_w30"><input type=checkbox name="delid[]" value="{yun:}$job.id{/yun}"></span>
                  <span class="job_news_list_span job_w160">{yun:}$user[$uid].jobname{/yun}</span>
                  <span class="job_news_list_span job_w90">{yun:}$user[$uid].name{/yun}</span>
                  <span class="job_news_list_span job_w50">{yun:}$user[$uid].sex{/yun}</span>
                  <span class="job_news_list_span job_w50">{yun:}$user[$uid].edu{/yun}</span>
                  <span class="job_news_list_span job_w100">{yun:}$job.datetime|date_format:'%Y-%m-%d'{/yun}</span>
                  <span class="job_news_list_span job_w100"><a href="{yun:}url m=resume url=uid:`$uid`{/yun}" target="_blank">查看简历</a></span>
                  <span class="job_news_list_span job_w155"><a href="javascript:void(0)" onclick="layer_del('确定要删除？', '{yun:}$now_url{/yun}&act=del&id={yun:}$job.id{/yun}')">删除</a></span>
                 </div> 
                {yun:}/foreach{/yun}
				<div>  
				<div class="fltL">
				  <span class="fltL job_new_de">  <input id='checkAll'  type="checkbox" onclick='m_checkAll(this.form)'> 全选</span>
					 <INPUT  class="job_new_tj" type="button" name="subdel" value="批量删除" onclick="return really('delid[]');">
					 <input class=btn_02 onclick="location.href='index.php?c=hr'" type="button" value="查看申请职位人才" style="width:140px; margin-left:10px; float:left;">
					 <input class=btn_02 onclick="location.href='index.php?c=down'" type="button" value="查看已下载简历" style="width:140px; margin-left:10px;">
				 </div> 
				<div class="diggg" style="width:100%; text-align:center; margin-top:20px; float:left;">{yun:}$pagenav{/yun}</div>
				</div>
                {yun:}elseif $smarty.get.keyword!="" {/yun}
                 <div class="msg_no">没有搜索邀请记录。</div>
                {yun:}else{/yun}
                 <div class="msg_no">您还没有邀请记录。</div>
                {yun:}/if{/yun} 
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 
{yun:}include file="$comstyle/footer.htm"{/yun} 