<!--link href="{yun:}$comstyle{/yun}/images/user-n2012.css" rel="stylesheet" type="text/css" /-->
<div class=left_box>
  {yun:}if $js_def==1{/yun}
  <div class=subnav_box_tit_01><i class="left_nav_icon"></i><span>常用操作</span>
    <div class="left_nav_l"></div>
  </div>
  <ul>
    <li {yun:}if $smarty.get.c=="info"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style01"{yun:}/if{/yun}><span><a href="index.php?c=info" title="企业信息">企业信息</a></span> </li>
    <li {yun:}if $smarty.get.c=="jobadd"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style02"{yun:}/if{/yun}><span><a href="index.php?c=jobadd" title="发布职位">发布职位</a></span> </li>
    <li {yun:}if $smarty.get.c=="hr"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style03"{yun:}/if{/yun}><span><a href="index.php?c=hr" title="人才管理">人才管理</a></span> </li>
    <li {yun:}if $smarty.get.w=="1"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style04"{yun:}/if{/yun}><span><a href="index.php?c=job&w=1" title="现有职位">现有职位</a></span> </li>
    <li {yun:}if $smarty.get.c=="hr"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style03"{yun:}/if{/yun}><span><a href="index.php?c=hr" title="申请职位人才">申请职位人才</a></span> </li>
    <li {yun:}if $smarty.get.c=="finder"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style01"{yun:}/if{/yun}><span><a href="index.php?c=finder" title="搜索器管理">搜索器管理</a></span> </li>
    <li class=style05><span><a href="{yun:}$config.sy_weburl{/yun}/friend/" title="我的朋友圈">我的朋友圈</a></span></li>
    <li {yun:}if $smarty.get.c=="vs"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style03"{yun:}/if{/yun}><span><a href="index.php?c=vs" title="修改密码">修改密码</a></span> </li>
  </ul>
  {yun:}/if{/yun}
  {yun:}if $js_def==2{/yun}
  <div class=subnav_box_tit_01><i class="left_nav_icon"></i><span>企业信息管理</span>
    <div class="left_nav_l"></div>
  </div>
  <ul>
    <li {yun:}if $smarty.get.c=="info"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style01"{yun:}/if{/yun}><span><a href="index.php?c=info" title="企业信息">企业信息</a></span> </li>
    <li {yun:}if $smarty.get.c=="map"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style02"{yun:}/if{/yun}><span><a href="index.php?c=map" title="企业地图">企业地图</a></span> </li>
    <li {yun:}if $smarty.get.c=="news"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style03"{yun:}/if{/yun}><span><a href="index.php?c=news" title="企业新闻">企业新闻</a></span> </li>
    <li {yun:}if $smarty.get.c=="product"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style04"{yun:}/if{/yun}><span><a href="index.php?c=product" title="企业产品">企业产品</a></span> </li>
    <li {yun:}if $smarty.get.c=="show"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style05"{yun:}/if{/yun}><span><a href="index.php?c=show" title="企业环境展示">企业环境展示</a></span> </li>
    <li {yun:}if $smarty.get.c=="banner"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style06"{yun:}/if{/yun}><span><a href="index.php?c=banner" title="企业横幅图片">企业横幅图片</a></span> </li>
  </ul>
  {yun:}/if{/yun}
  {yun:}if $js_def==5{/yun}
  <div class=subnav_box_tit_01><i class="left_nav_icon9"></i><span>人才管理</span>
    <div class="left_nav_l"></div>
  </div>
  <ul>
    <li {yun:}if $smarty.get.c=="hr"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style01"{yun:}/if{/yun}><span><a href="index.php?c=hr" title="申请职位人才">申请职位人才</a></span> </li>
    <li {yun:}if $smarty.get.c=="down"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style02"{yun:}/if{/yun}><span><a href="index.php?c=down" title="已下载简历人才">已下载简历人才</a></span> </li>
    <li {yun:}if $smarty.get.c=="invite"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style03"{yun:}/if{/yun}><span><a href="index.php?c=invite" title="已邀请面试的人才">已邀请面试的人才</a></span> </li>
    <li {yun:}if $smarty.get.c=="blacklist"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style06"{yun:}/if{/yun}><span><a href="index.php?c=blacklist" title="黑名单管理">黑名单管理</a></span> </li>
    <li {yun:}if $smarty.get.c=="talent_pool"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style06"{yun:}/if{/yun}><span><a href="index.php?c=talent_pool">人才库</a></span> </li>
     <li {yun:}if $smarty.get.c=="look_resume"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style06"{yun:}/if{/yun}><span><a href="index.php?c=look_resume">我浏览的简历</a></span> </li>
     <li {yun:}if $smarty.get.c=="look_job"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style06"{yun:}/if{/yun}><span><a href="index.php?c=look_job">被浏览的职位</a></span> </li>
  </ul>
  {yun:}/if{/yun}
  {yun:}if $js_def==6{/yun}
  <div class=subnav_box_tit_01><i class="left_nav_icon10"></i><span>系统设置</span>
    <div class="left_nav_l"></div>
  </div>
  <ul>
    <li {yun:}if $smarty.get.c=="comtpl"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style02"{yun:}/if{/yun}><span><a href="index.php?c=comtpl" title="模板设置">模板设置</a></span></li>
    <li {yun:}if $smarty.get.c=="vs"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style03"{yun:}/if{/yun}><span><a href="index.php?c=vs" title="修改密码">修改密码</a></span> </li>
    <li {yun:}if $smarty.get.c=="log"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style06"{yun:}/if{/yun}><span><a href="index.php?c=log">操作日志</a></span> </li>
        <li {yun:}if $smarty.get.c=="finder"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style01"{yun:}/if{/yun}><span><a href="index.php?c=finder" title="搜索器管理">搜索器管理</a></span> </li>
  </ul>

  {yun:}/if{/yun}
  {yun:}if $js_def==3{/yun}
  <div class=subnav_box_tit_01><i class="left_nav_icon3"></i><span>职位管理</span>
    <div class="left_nav_l"></div>
  </div>
  <ul>
    <li {yun:}if $smarty.get.c=="jobadd"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style01"{yun:}/if{/yun}><span><a href="index.php?c=jobadd" title="新增职位" style="color:red; font-weight:bold">新增职位</a></span> </li>
    <li {yun:}if $smarty.get.c=="search"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style07"{yun:}/if{/yun}><span><a href="index.php?c=search"  title="全部职位">全部职位</a></span></li>
    <li {yun:}if $smarty.get.w=="0"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style02"{yun:}/if{/yun}><span><a href="index.php?c=job&w=0" title="待审核的职位">待审核的职位</a></span> </li>
    <li {yun:}if $smarty.get.w=="3"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style02"{yun:}/if{/yun}><span><a href="index.php?c=job&w=3" title="未通过的职位">未通过的职位</a></span></li>
    <li {yun:}if $smarty.get.w=="1"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style03"{yun:}/if{/yun}><span><a href="index.php?c=job&w=1" title="发布中的职位">发布中的职位</a></span></li>
    <li {yun:}if $smarty.get.w=="2"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style04"{yun:}/if{/yun}><span><a href="index.php?c=job&w=2" title="过期的职位">过期的职位</a></span></li>

  </ul>

  {yun:}/if{/yun}
  {yun:}if $js_def==4{/yun}
  <div class=subnav_box_tit_01><i class="left_nav_icon6"></i><span>财务管理</span>
    <div class="left_nav_l"></div>
  </div>
  <ul>
    <li {yun:}if $smarty.get.c=="pay"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style05"{yun:}/if{/yun}><span><a href="index.php?c=pay" title="立刻充值"><font color="#FF0000">立刻充值</font></a></span></li>
	{yun:}if $config.bank==1{/yun}
    <li {yun:}if $smarty.get.c=="bank"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style12"{yun:}/if{/yun}><span><a href="index.php?c=bank" title="银行转帐">银行转帐</a></span></li>
	{yun:}/if{/yun}
    <li {yun:}if $smarty.get.c=="paylog" && $smarty.get.consume!="ok"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style08"{yun:}/if{/yun}><span><a href="index.php?c=paylog" title="充值记录">充值记录</a></span></li>
    <li {yun:}if $smarty.get.consume=="ok"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style09"{yun:}/if{/yun}><span><a href="index.php?c=paylog&consume=ok" title="消费记录">消费记录</a></span></li>
    <li {yun:}if $smarty.get.c=="reward_list"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style12"{yun:}/if{/yun}><span><a href="index.php?c=reward_list">兑换记录</a></span></li>
  </ul>
  {yun:}/if{/yun}
  {yun:}if $js_def==7{/yun}
  <div class=subnav_box_tit_01><i class="left_nav_icon8"></i><span>站内信管理</span>
    <div class="left_nav_l"></div>
  </div>
  <ul>
    <li {yun:}if $smarty.get.c=="message"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style01"{yun:}/if{/yun}><span><a href="index.php?c=message" title="留言反馈">留言反馈</a></span> </li>
    <li {yun:}if $smarty.get.c=="seemessage"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style02"{yun:}/if{/yun}><span><a href="index.php?c=seemessage" title="留言列表">留言列表</a></span> </li>
    <li {yun:}if $smarty.get.c=="sysnews"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style11"{yun:}/if{/yun}><span><a href="index.php?c=sysnews" title="系统消息">系统消息</a></span> </li>
    <li {yun:}if $smarty.get.c=="msg"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style03"{yun:}/if{/yun}><span><a href="index.php?c=msg" title="求职咨询">求职咨询</a></span> </li>
    <li {yun:}if $smarty.get.c=="xin"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style06"{yun:}/if{/yun}><span><a href="index.php?c=xin">站内信</a></span> </li>
    <li {yun:}if $smarty.get.c=="pl"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style05"{yun:}/if{/yun}><span><a href="index.php?c=pl" title="企业评论">企业评论</a></span> </li>

  </ul>
  <div class=subnav_box_tit_01><i class="left_nav_icon7"></i><span>问答管理</span>
    <div class="left_nav_l"></div>
  </div>
  <ul>
    <li {yun:}if $smarty.get.type=="0"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style09"{yun:}/if{/yun}><span><a href="index.php?c=my_question&type=0" title="我的问答">我的问答</a></span> </li>
  </ul>
  {yun:}/if{/yun}
  <div class=subnav_box_tit_01><i class="left_nav_icon2"></i><span>其它管理</span>
    <div class="left_nav_l"></div>
  </div>
  <ul>
      <li {yun:}if $smarty.get.c=="binding"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style17"{yun:}/if{/yun}><span><a href="index.php?c=binding">账户认证绑定</a></span> </li>
    <li {yun:}if $smarty.get.c=="right"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style15"{yun:}/if{/yun}><span><a href="index.php?c=right" title="查看会员特权">查看会员特权</a></span> </li>
    <li {yun:}if $smarty.get.c=="zhaopinhui"{/yun} class="style01 left_nav_hover"{yun:}else{/yun}class="style17"{yun:}/if{/yun}><span><a href="index.php?c=zhaopinhui" title="招聘会"><font color="#FF0000">招聘会</font></a></span> </li>
  </ul>
</div>
