{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w950">
  <div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
    <div class=right_box>
      <div class=admincont_box>
        <div class=admin_tit><span class="admin_tit_bg">企业产品管理</span>  
			<form action="index.php" method="get">
				<div class="news_search">
				  <input name="c" type="hidden" value="product">
				 <input name="keyword" type="text"class="news_text" placeholder="请输入产品关键字">
					<input name="" type="submit" class="news_bth" value=" ">
				</div>
			  </form>
			<input  class="job_new_tj" style="float:right;margin-right:10px" onclick="location.href='index.php?c=product&act=add'" type="button" value="添加产品" >
          </div>
        <div class="admin_textbox_04">
          <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
          <form action="index.php" method="get" target="supportiframe" id='myform'>
            <input type="hidden" name="c" value="product" />
            <input type="hidden" name="act" value="del" />
            <div class=table>
                 <div id="job_checkbokid">
              <div class="job_news_list job_news_list_h1">
                <span class="job_news_list_span job_w30">&nbsp;</span>
                  <span class="job_news_list_span job_w400" style="width:300px;">产品名称</span>
                  <span class="job_news_list_span job_w120">添加时间</span>
                  <span class="job_news_list_span job_w80" style="width:180px;">状态</span>
                 <span class="job_news_list_span job_w120">操作</span>
              </div>
                {yun:}foreach item=job from=$rows{/yun}
                <div class="job_news_list">
               <span class="job_news_list_span job_w30"><input class="job_news_input" type='checkbox' name="delid[]" value="{yun:}$job.id{/yun}" style="border:0px;"></span>
                 <span class="job_news_list_span job_w400"style="width:300px;"><a href="{yun:}curl url=id:`$cookie.uid`,tp:productshow,pid:`$job.id`{/yun}" target="_blank">{yun:}$job.title{/yun}</a></span>
                  <span class="job_news_list_span job_w120">{yun:}$job.ctime|date_format:'%Y-%m-%d'{/yun}</span>
                 <span class="job_news_list_span job_w80" style="width:180px;">{yun:}if $job.status=="0"{/yun} <span class="wate_verify">等待审核</span>{yun:}/if{/yun}
                    {yun:}if $job.status=="1"{/yun} <span class="y_verify">已审核</span>{yun:}/if{/yun}
                    {yun:}if $job.status=="2"{/yun} <span class="n_verify">未通过</span> | <a href="javascript:;" class="looklist" onclick="show_msg('{yun:}$job.statusbody{/yun}')" style="display:inline">查看原因</a>{yun:}/if{/yun} </span>
                <span class="job_news_list_span job_w120"><a href="{yun:}curl url=id:`$cookie.uid`,tp:productshow,pid:`$job.id`{/yun}" target="_blank">预览</a> | <a href="{yun:}$now_url{/yun}&act=edit&id={yun:}$job.id{/yun}">修改</a> | <a href="javascript:void(0)" onclick="layer_del('确定要删除？', '{yun:}$now_url{/yun}&act=del&id={yun:}$job.id{/yun}')">删除</a></span>
                </div>
             
                {yun:}foreachelse{/yun}
                {yun:}if $smarty.get.keyword!="" {/yun}
            <div class="msg_no">没有搜索相关产品。</div>
                {yun:}else{/yun}
                 <div class="msg_no">您还没有添加产品。</div>
                {yun:}/if{/yun}
                {yun:}/foreach{/yun}
                </div>
            </div> 
          
		  {yun:}if $rows{/yun}
			<div class="fltL">
			<span class="fltL job_new_de"><input id='checkAll'  type="checkbox" onclick='m_checkAll(this.form)'> 全选</span>
			  <input class=btn_02 type="button" name="subdel" value="批量删除" onclick="return really('delid[]');"> 
			  </span> 
			</div>    
			  <div class="diggg">{yun:}$pagenav{/yun}</div>
			  {yun:}/if{/yun}
              </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function show_msg(msg){
	$("#msgs").html(msg);
	$.layer({
		type : 1,
		title :'查看原因',
		offset: [($(window).height() - 300)/2 + 'px', ''],
		closeBtn : [0 , true],
		border : [10 , 0.3 , '#000', true],
		area : ['400px','200px'],
		page : {dom :"#showmsg"}
	});
}
</script>
<div id="showmsg"  style="display:none; width: 400px;">
	<div>
    <div id="infobox">
		 <div class="admin_Operating_sh" style="padding:10px; ">
		<div class="admin_Operating_sh_h1" style="padding:5px;"><div style="height:80px;overflow:auto;" id="msgs"></div></div>
		<div class="admin_Operating_sub" style="margin-top:10px;"> 
          &nbsp;&nbsp;<input type="button" id="zxxCancelBtn" onClick="layer.closeAll();" class="cancel_btn" value='确认'></div>
		</div>
    </div>
  </div>
</div>
{yun:}include file="$comstyle/footer.htm"{/yun} 