{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w950">
  <div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
    <DIV class=right_box>
      <DIV class=admincont_box>
        <DIV class=admin_tit><SPAN class="admin_tit_bg">搜索职位</SPAN>     
        <div class="news_search">
          <form action="" method="get" /> 
           <input name="c" type="hidden" value="search">
          <input name="keyword" type="text"class="news_text" value="搜索已有职位">
           <input  type="submit" class="news_bth" value=" ">
        </form>
        </div>
        </DIV>

   <div class="clear"></div>
       
			<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
		   <form action="index.php?c=job&act=opera" method="post" id='myform' target="supportiframe">
		   <div class="com_Release_job">
   <div class="com_Release_job_h1">
   <span class="com_Release_job_a_c">&nbsp;</span>
   <span class="com_Release_job_a">职位名称</span>      
   <span class="com_Release_job_f">收到简历</span>        
   <span class="com_Release_job_f">浏览量  </span>
   <span class="com_Release_job_f">审核状态</span>
   <span class="com_Release_job_f">更新时间</span>
   <span class="com_Release_job_f">到期时间</span>
   <span class="com_Release_job_a" style="text-align:center">操作</span> 
   </div>
    {yun:}foreach item=v from=$rows{/yun}
   <div class="com_Release_job_span  com_Release_job_list">
   <div class="com_Release_job_span  com_Release_job_a_c"><input type="checkbox" name="checkboxid[]" value="{yun:}$v.id{/yun}"></div>
   <div class="com_Release_job_span com_Release_job_a"><span  class="com_Release_name">{yun:}$v.name{/yun}</span></div>   
  <div class="com_Release_job_span com_Release_job_f">{yun:}if $jobnum[$v.id]{/yun} <A HREF="index.php?c=hr&job_id={yun:}$v.id{/yun}">查看</A> {yun:}else{/yun}0{yun:}/if{/yun} &nbsp;
  
  </div>    
   <div class="com_Release_job_span com_Release_job_f">{yun:}$v.jobhits{/yun}&nbsp; </div>
  <div class="com_Release_job_span com_Release_job_f">
  {yun:}if $v.state=="0"{/yun} <span class="n_verify">等待审核</span>{yun:}/if{/yun}
  {yun:}if $v.state=="1"{/yun} <span class="y_verify">已审核</span>{yun:}/if{/yun}
  {yun:}if $v.state=="2"{/yun} <span class="y_verify_js">已结束</span>{yun:}/if{/yun}
  {yun:}if $v.state=="3"{/yun} <span class="y_verify_wtg">未通过</span>{yun:}/if{/yun} 
  &nbsp;</div>
   <div class="com_Release_job_span com_Release_job_f">{yun:}$v.lastupdate|date_format:'%Y-%m-%d'{/yun}&nbsp;</div>
  <div class="com_Release_job_span com_Release_job_f">{yun:}$v.edate|date_format:'%Y-%m-%d'{/yun}&nbsp;</div>
   <div class="com_Release_job_span com_Release_job_a" style="text-align:center"><A href="index.php?c=jobadd&act=edit&id={yun:}$v.id{/yun}" >修改</A>&nbsp;<A  onclick="layer_del('确定要删除？', 'index.php?c=job&act=opera&del={yun:}$v.id{/yun}');"href="javascript:void(0)">删除</A>&nbsp; {yun:}if $config.com_integral_online=='1'{/yun}
                    <a {yun:}if $statis.vip_etime<time(){/yun}href="javascript:void(0)" onclick="layer_del('{yun:}if $statis.breakjob_num>0{/yun}刷新职位数还剩余{yun:}$statis.breakjob_num{/yun}个！确认刷新？{yun:}else{/yun}刷新职位要扣除{yun:}$config.integral_jobefresh{/yun}{yun:}$config.integral_pricename{/yun}！{yun:}/if{/yun}', 'index.php?c=job&act=opera&up={yun:}$v.id{/yun}');"{yun:}else{/yun} href="javascript:void(0)"onclick="layer_del('', 'index.php?c=job&act=opera&up={yun:}$v.id{/yun}'); "{yun:}/if{/yun} title="刷新">刷新</a>
					{yun:}else{/yun}
						{yun:}if $statis.vip_etime<time(){/yun}
							{yun:}if $statis.breakjob_num>0{/yun}
							<a href="javascript:void(0)" onclick="layer_del('刷新职位数还剩余{yun:}$statis.breakjob_num{/yun}个！确认刷新？', 'index.php?c=job&act=opera&up={yun:}$v.id{/yun}');"  title="刷新">刷新</a>
							{yun:}else{/yun}
							<a  href="javascript:void(0)" onclick="job_refresh();"  title="刷新">刷新</a>	
							{yun:}/if{/yun}
						{yun:}else{/yun}
							<a  href="javascript:void(0)" onclick="layer_del('', 'index.php?c=job&act=opera&up={yun:}$v.id{/yun}');"  title="刷新">刷新</a>
						{yun:}/if{/yun} 
					{yun:}/if{/yun} </div>
   </div>
         {yun:}foreachelse{/yun}
                   <div class="msg_no">暂无相关信息！</div>
                    {yun:}/foreach{/yun}
        
        
        
        <div class="clear"></div>
    
                 <div class="com_Release_job_bot">
   <span class="com_Release_job_qx" style="padding-left:0px;"> <input id='checkAll'  type="checkbox" onclick='m_checkAll(this.form)'class="com_Release_job_qx_check">全选</span> 
      <INPUT class="c_btn_02 c_btn_02_w110" type="button" value="批量删除职位" onclick="return really('checkboxid[]');">
       <input class="c_btn_02 c_btn_02_w110" onclick="location.href='index.php?c=jobadd'" type="button" value="新增职位" name="input">
            
               <div class="clear"></div> <div class="diggg">{yun:}$pagenav{/yun}</div></DIV>
		  </form>
        </DIV>
           <div  class="clear"></div>
    <div class="wxts_box wxts_box_mt30">
<div class="wxts">温馨提示：</div>
1、如贵公司有紧急招聘岗位，建议升级贵宾，以帮助您快速找到心意的人才。
<br>
2、积分获取：注册会员{yun:}$config.integral_reg{/yun}积分，完善企业信息{yun:}$config.integral_userinfo{/yun}积分，营业执照认证{yun:}$config.integral_comcert{/yun}积分。<br>
3、请贵公司保证职位信息的真实性、合法性，并及时更新职位信息，如被举报或投诉，确认发布的信息违反相关规定后，本站将会关闭贵公司的招聘服务，敬请谅解！
</div>
  </div>
      </DIV>  
    </DIV>
  </DIV>
</DIV>
{yun:}include file="$comstyle/footer.htm"{/yun}