<div id='job_box' style="display:none;float:left">
  <div class="city_1">
    <dl class="city_3">
      <dt> <span class="city_01">面试职位：</span>
        <select id='jobname'>
        </select>
      </dt>
    </dl>
    <dl class="city_3">
      <dt> <span class="city_01">联系人：</span>
        <input size='5'  id='linkman' value=''>
      </dt>
    </dl>
    <dl class="city_3">
      <dt> <span class="city_01">联系电话：</span>
        <input size='10'  id='linktel' value=''>
      </dt>
    </dl>
    <dl class="city_3">
      <dt> <span class="city_01">面试时间：</span>
        <input size='34' id='intertime' value=''>
      </dt>
    </dl>
    <dl class="city_3">
      <dt> <span class="city_01">面试地址：</span>
        <input size='34' id='address' value=''>
      </dt>
    </dl>
    <dl class="city_3"  >
      <dt><span class="city_01">面试备注：</span>
        <textarea id="content" cols="40" rows="5" class="resyme_text"></textarea>
    </dl>
    <dl class="city_3" id="resume_job" style="height:40px;">
      <dt><span class="city_01">&nbsp;</span>
        <input type="hidden" id="uid" value="">
        <input type="hidden" id="username" value="">
        <input class="resume_sub_yq" id="click_invite" type="button" value="邀请面试"  >
    </dl>
  </div>
</div>