<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/integral.css" type="text/css">
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
</head>
<!--[if IE 6]>
<script src="js/png.js"></script>
<script>
DD_belatedPNG.fix('.png,.wei_banner_ewm,.wei_banner_imp');
</script>
<![endif]-->
<body style="background:#f7f7f7">
<div class="top">
  <div class="top_cot">
    <div class="top_cot_content">
      <div class="top_left fl">
        <div class="yun_welcome fl">欢迎来到{yun:}$config.sy_webname{/yun}！</div>
        <span class="fl"><a href="{yun:}$config.sy_weburl{/yun}/wap" class="wap_icon">手机版</a> | <a href="{yun:}url m=subscribe{/yun}">订阅</a></span> </div>
<div class="int_top_right fr"><a href="{yun:}$config.sy_weburl{/yun}">返回人才网首页>></a></div>
        </div>
      </div>
    </div>
<div class="integral_banner">
<div class="integral_banner_980">
<img src="{yun:}$style{/yun}/images/jifen_ban.jpg">
</div></div>

<div class="integral_banner_980">
<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon2.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">完成注册信息</div>
<div class="integral_p">新用户完善信息，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_reg{/yun}</span> 积分   </div>
</dd>
</dl>

<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon8.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">完善基本资料</div>
<div class="integral_p">完善基本资料，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_userinfo{/yun}</span> 积分    </div>
</dd>
</dl>
<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon5.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">上传头像</div>
<div class="integral_p">上传头像，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_avatar{/yun}</span> 积分   </div>
</dd>
</dl>
<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon10.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">发布简历</div>
<div class="integral_p">发布简历，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_add_resume{/yun}</span> 积分    </div>
</dd>
</dl>
<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon11.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">邀请朋友注册</div>
<div class="integral_p">邀请朋友注册，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_invite_reg{/yun}</span> 积分    </div>
</dd>
</dl>
<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon7.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">每天第一次登录</div>
<div class="integral_p">每天第一次登录，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_login{/yun}</span> 积分    </div>
</dd>
</dl>
<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon12.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">上传身份验证</div>
<div class="integral_p">上传身份验证，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_identity{/yun}</span> 积分    </div>
</dd>
</dl>
<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon4.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">认证电子邮箱</div>
<div class="integral_p">认证电子邮箱，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_emailcert{/yun}</span> 积分   </div>
</dd>
</dl>

<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon1.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">认证手机号码</div>
<div class="integral_p">认证手机号码，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_mobliecert{/yun}</span> 积分    </div>
</dd>
</dl>


<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon3.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">发布问题</div>
<div class="integral_p">发布问题，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_question{/yun}</span> 积分    </div>
</dd>
</dl>

<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon13.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">回答问题</div>
<div class="integral_p">回答问题，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_answer{/yun}</span> 积分   </div>
</dd>
</dl>

<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon14.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">评论回答</div>
<div class="integral_p">评论回答，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_answerpl{/yun}</span> 积分    </div>
</dd>
</dl>

<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon15.jpg "width="60" height="60"></dt>
<dd>
<div class="integral_h1">朋友圈留言</div>
<div class="integral_p">朋友圈留言，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_friend_msg{/yun}</span> 积分   </div>
</dd>
</dl>

<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon6.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">朋友圈回复</div>
<div class="integral_p">朋友圈回复，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_friend_reply{/yun}</span> 积分    </div>
</dd>
</dl>






<dl class="integral_list">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon9.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">设置企业地图</div>
<div class="integral_p">设置企业地图，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_map{/yun}</span> 积分    </div>
</dd>
</dl>

<dl class="integral_list integral_list_end" >
<dt><img src="{yun:}$style{/yun}/images/jifen-icon16.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">上传企业横幅</div>
<div class="integral_p">上传企业横幅，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_banner{/yun}</span> 积分    </div>
</dd>
</dl>
 
<dl class="integral_list integral_list_end">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon17.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">认证营业执照</div>
<div class="integral_p">认证营业执照，可获得</div>
<div class="integral_cy"><span class="integral_span">{yun:}$config.integral_comcert{/yun}</span> 积分   </div>
</dd>
</dl>

<dl class="integral_list integral_list_end">
<dt><img src="{yun:}$style{/yun}/images/jifen-icon18.jpg" width="60" height="60"></dt>
<dd>
<div class="integral_h1">返回人才网首页</div>
<div class="integral_p">轻松招人才,开心找工作</div>
<div class="integral_cy"><a href="{yun:}$config.sy_weburl{/yun}">点击返回</a>  </div>
</dd>
</dl>

















</div>
{yun:}include file="$tplstyle/footer.htm"{/yun}