<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<link href="{yun:}$style{/yun}/style/moblie.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png,.index_logoin,.index_logoin_current,.nav_list,.fairs_Status,.fairs_Status,.logoin_qybj,.logoin_grbj,.logoin_Shadow_right,.logoin_Shadow_left,.whitebg,.micro_resume_fast,.nav_list_hover a,#bg,.left_comapply_cont li,.icon2,.nav_list .nav_list_hover em,.Fast_right_icon_l,.Fast_right_icon_r,.index_logoin_after,.logoin_after em,.logoin_after_su2,.logoin_after_su1,.hbg,.pagination li a,.firm_post_list,.Auction_tit,.yun_title,.Recommended_tit,.Com_Search_Results_r ul .All_post_h1_act,.sButtonBlock a.closeButton,.Comment_list_top,.icon,.yun_wap_m_bg,.micro_box');
</script>
<![endif]--> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
</head>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="yun_content">
<div class="current_Location icon">您当前的位置：<a href="{yun:}$config.sy_weburl{/yun}">首页</a> > 手机浏览</div>
<div class="clear"></div>
<div class="yun_wap_cont">
<div class="yun_wap_android">
<div class="yun_wap_android_h1">随时随地掌握职讯,轻轻松松找工作!</div>
<div class="yun_wap_moblie"><img src="{yun:}$style{/yun}/images/wap_sj.gif"></div>
<div class="yun_wap_moblie_img"><img src="{yun:}$style{/yun}/images/yun_wap_img.jpg"></div>
</div>
<div class="yun_wap_moblie_c">
<div class="yun_wap_mob_com">
<div class="yun_wap_mob_com_h1"><span>Android企业版客户端</span></div>
<dl class=" fl">
<dt>扫描二维码下载</dt>
<dd><img src="{yun:}$style{/yun}/images/yun_app.jpg"></dd>
</dl>
<div class="yun_wap_mob_com_r fl">
<a href="###"><img src="{yun:}$style{/yun}/images/yun_app_s1.jpg"></a>
更新时间：2014年03月03日<br>
软件容量：1.51M<br>
支持系统：安卓2.2及以上<br>
</div>
</div>
<div class="yun_wap_mob_com yun_wap_mob_com_bg">
<div class="yun_wap_mob_com_h1"><span>Android个人求职版客户端</span></div>
<div class="yun_wap_mob_com_r fl">
<a href="###"><img src="{yun:}$style{/yun}/images/yun_app_s2.jpg"></a>
更新时间：2014年03月03日<br>
软件容量：1.51M<br>
支持系统：安卓2.2及以上<br>
</div>
<dl class=" fr">
<dt>扫描二维码下载</dt>
<dd><img src="{yun:}$style{/yun}/images/yun_app.jpg"></dd>
</dl>


</div>
<div><div class="yun_wap_m_bg"></div></div>
</div>
<div class="yun_wap_sj">
<div class="yun_wap_left"><img src="{yun:}$style{/yun}/images/mobile_bg.png"></div>
<div class="yun_wap_right">
<div class="yun_wap_right_h1">手机wap版</div>
<div class="yun_wap_right_h3">拿起你的手机</div>
<div class="yun_wap_right_h2">您可以通过手机上网，随时随地浏览职位、公司、资讯，简历...</div>
<div class="yun_wap_right_h3">在手机浏览器地址栏输入</div>
<div class="yun_wap_right_h4"><a href="{yun:}$config.sy_weburl{/yun}/wap/" class="b">{yun:}$config.sy_weburl{/yun}/wap/</a></div>
<div class="yun_wap_right_h3">或者用二维码扫描软件扫描下面的二维码</div>
<div class="yun_wap_right_ewm">
<img  src="{yun:}$style{/yun}/images/api.png"/>
</div>
<div class="yun_wop_bot"><img src="{yun:}$style{/yun}/images/yun_wap_b.png"></div>
</div>


</div>


</div>

<div class="clear"></div>
</div>
{yun:}include file="$tplstyle/footer.htm"{/yun} 