<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$client{/yun}/style/css.css" type="text/css">
</head>
<!--[if IE 6]>
<script src="js/png.js"></script>
<script>
DD_belatedPNG.fix('.png,.pagination li a');
</script>
<![endif]-->
<body>
{yun:}include file="$tplstyle/client_header.htm"{/yun}
<div class="wap_banner fl">
  <div class="wap_banner_img touch_banner touch_banner_wap">
    <div class="wap_iphoto"><img src="{yun:}$client{/yun}/images/yun_job_wap1.png" class="png"></div>
    <div class="banner_biaoyu"><img src="{yun:}$client{/yun}/images/yun_job_wap2.png" class="png"></div>
    <div class="banner_input fr">{yun:}$config.sy_weburl{/yun}/wap</div>
    <div class="wap_erweim_bg png"></div>
    <div class="wap_erweim"><img src="{yun:}$client{/yun}/images/yun_appcom.png" class="png"></div>
  </div>
</div>
<div class="body_bg fl">
  <div class="w980">
    <div class="touch fl">
      <div class="touch_size fl">
        <dl>
          <dt><img src="{yun:}$client{/yun}/images/touch_items_01.gif"></dt>
          <dd>
            <div class="touch_h1 fl">会员中心</div>
            <div class="touch_items_text fl">职位信息、最新资讯、求职技巧进个人会员中心，轻松管理简历</div>
          </dd>
        </dl>
        <dl>
          <dt><img src="{yun:}$client{/yun}/images/touch_items_02.gif"></dt>
          <dd>
            <div class="touch_h1 fl">功能不打折</div>
            <div class="touch_items_text fl">方寸之间，大有乾坤，简约而不简单！求职应聘？均可轻松应对，游刃有余。</div>
          </dd>
        </dl>
        <dl>
          <dt><img src="{yun:}$client{/yun}/images/touch_items_03.gif"></dt>
          <dd>
            <div class="touch_h1 fl">面试应聘</div>
            <div class="touch_items_text fl">即时的简历投递，贴心的面试通知，<br>助您不错过任何一个面试通知。</div>
          </dd>
        </dl>
        <dl>
          <dt><img src="{yun:}$client{/yun}/images/touch_items_04.gif"></dt>
          <dd>
            <div class="touch_h1 fl">职场资讯</div>
            <div class="touch_items_text fl">带你看看这些年求职的那些事儿，<br>帮助您轻松求职。</div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="index_list fl">
    <div class="index_list_one touch_h330 touch_bg fl">
      <div class="w980">
        <div class="index_phone fr"><img src="{yun:}$client{/yun}/images/touch_list01.gif"></div>
        <dl class="index_list_text fl">
          <dt><img src="{yun:}$client{/yun}/images/tach_text01.gif"></dt>
          <dd>海量工作机会等着您，同一时刻您将面对数以十万的工作机会；帮助您记忆最近搜索条件，简化您的搜索操作。</dd>
        </dl>
      </div>
    </div>
    <div class="index_list_one touch_h330 fl">
      <div class="w980">
        <div class="index_phone fl"><img src="{yun:}$client{/yun}/images/touch_list02.gif"></div>
        <dl class="index_list_text wl90 fl">
          <dt><img src="{yun:}$client{/yun}/images/tach_text02.gif"></dt>
          <dd>无需下载，没有平台、机型的限制，有触屏手机就能上网找工作！机会不再稍纵即逝，它已在你轻盈的指尖上！</dd>
        </dl>
      </div>
    </div>
    <div class="index_list_one touch_h330 touch_bg fl">
      <div class="w980">
        <div class="index_phone fr"><img src="{yun:}$client{/yun}/images/touch_list03.gif"></div>
        <dl class="index_list_text fl">
          <dt><img src="{yun:}$client{/yun}/images/tach_text03.gif"></dt>
          <dd>采用HTML5+CSS3代码编写，更快的速度、更低的流量、更好的用户体验，真正让您随时随地轻松找工作。</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div style="clear:both"></div>
{yun:}include file="$tplstyle/client_footer.htm"{/yun}
