<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$client{/yun}/style/css.css" type="text/css">
</head>
<!--[if IE 6]>
<script src="js/png.js"></script>
<script>
DD_belatedPNG.fix('.png,.wei_banner_ewm,.wei_banner_imp');
</script>
<![endif]-->
<body>
{yun:}include file="$tplstyle/client_header.htm"{/yun}
<div class="wei_banner">
  <div class="wei_banner_w980">
    <div class="wei_banner_left">
      <div class="wei_banner_im1"><img src="{yun:}$client{/yun}/images/wx-img1.png" class="png"></div>
      <div class="wei_banner_imp">查找微信公众号：wxPHPYUN或PHP云人才系统</div>
      <div class="wei_banner_p2"> 直击5亿微信用户消费群体，特色主题活动。创造口碑<br>
        传播吸引会员扩散品牌！线上线下维度互动，用户体验<br>
        更贴心时尚。 </div>
    </div>
    <div class="wei_banner_sys"><img src="{yun:}$client{/yun}/images/wx_sys.png" class="png"></div>
    <div class="wei_banner_ewm"><img src="{yun:}$client{/yun}/images/yun_appcom.png" class="png" height="126" width="126"></div>
  </div>
</div>
<div class="clear"></div>
<div class="wei_list fl">
  <div class="w980">
    <div class="wei_top"><img src="{yun:}$client{/yun}/images/wei_top.jpg"></div>
    <div class="wei_all">
      <div class="wei_items fl"> <img src="{yun:}$client{/yun}/images/wei_one01.jpg"> <img src="{yun:}$client{/yun}/images/wei_one02.jpg"> <img src="{yun:}$client{/yun}/images/wei_one03.jpg"> </div>
      <div class="wei_items fl"> <img src="{yun:}$client{/yun}/images/wei_two01.jpg"> <img src="{yun:}$client{/yun}/images/wei_two02.jpg"> <img src="{yun:}$client{/yun}/images/wei_two03.jpg"> </div>
      <div class="wei_items fl"> <img src="{yun:}$client{/yun}/images/wei_three01.jpg"> <img src="{yun:}$client{/yun}/images/wei_three02.jpg"> <img src="{yun:}$client{/yun}/images/wei_three03.jpg"> <div class="weixin_erweima"><img src="{yun:}$client{/yun}/images/yun_appcom.png"></div></div>
    </div>
    <div class="wei_top"><img src="{yun:}$client{/yun}/images/wei_last.jpg"></div>
  </div>
</div>
<div class="wei_job_list fl">
  <div class="w980">
    <div class="touch fl">
      <div class="touch_size fl">
        <dl>
          <dt><img src="{yun:}$client{/yun}/images/wei_01.jpg"></dt>
          <dd>
            <div class="touch_h1 fl">输入岗位关键字</div>
            <div class="touch_items_text fl">直接回复岗位即可，如会计，文员、导购、司机等，系统将推荐给您最新岗位！</div>
          </dd>
        </dl>
        <dl>
          <dt><img src="{yun:}$client{/yun}/images/wei_02.jpg"></dt>
          <dd>
            <div class="touch_h1 fl">微信接受面试通知</div>
            <div class="touch_items_text fl">接受面试通知48小时内有签到过才能激活哦！不要错过每一次面试机会</div>
          </dd>
        </dl>
        <dl>
          <dt><img src="{yun:}$client{/yun}/images/wei_03.jpg"></dt>
          <dd>
            <div class="touch_h1 fl">推荐周边职位</div>
            <div class="touch_items_text fl">发送你的位置，系统将推荐周边职位给您，好工作；还离家近</div>
          </dd>
        </dl>
        <dl>
          <dt><img src="{yun:}$client{/yun}/images/wei_04.jpg"></dt>
          <dd>
            <div class="touch_h1 fl">刷新已有简历</div>
            <div class="touch_items_text fl">随时随地刷新简历；让更多企业优先看到你</div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div style="clear:both"></div>
{yun:}include file="$tplstyle/client_footer.htm"{/yun}
