<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/job.css" type="text/css">
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]--> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/search.js" type="text/javascript"></script>
<script src="{yun:}$style{/yun}/js/index.js" type="text/javascript"></script>
</head>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}
{yun:}include file="$tplstyle/public_search/index_search.htm"{/yun}
<div class="yun_body">
  <div class="yun_content">
    <div class="current_Location icon com_current_Location png">
      <div class="fl" >您当前的位置：<a href="{yun:}$config.sy_weburl{/yun}">首页</a> > <a href="{yun:}url m=user{/yun}">人才列表</a> > 共 <span class="blod org">{yun:}$total{/yun}</span> 位人才 </div> </div>
    <div class="clear"></div>
	<form method="get" action="index.php" onsubmit="return search_keyword(this);">
	<input type="hidden" name="m" value="user" />
	<input type="hidden" name="c" value="search" />
	{yun:}foreach from=$finder item=v key=key{/yun}
	<input type="hidden" name="{yun:}$key{/yun}" value="{yun:}$v{/yun}" />
	{yun:}/foreach{/yun}
   <div class="Search_jobs_box">
 <div class="Search_jobs_form">
 <span class="Search_jobs_name">行业类别：</span> 
 <div class="Search_jobs_bth_box"><input type="button" value="{yun:}if $industry_name[$getinfo.hy]!=""{/yun}{yun:}$industry_name[$getinfo.hy]{/yun}{yun:}else{/yun}请选择行业类别{yun:}/if{/yun}" id="buttonhy" class="Search_jobs_bth" onclick="check_select_show('hy');"/>
 <input type="hidden" name="hy" id="hy" value="{yun:}$getinfo.hy{/yun}" />
 <div class="Search_jobs_hy_box" id="listhy"> 
 <ul class="Search_jobs_hy_box_list">  
<li><a href="javascript:check_onselect('hy','','不限');" class="seach_Nature_cur">不限</a></li>
{yun:}foreach item=v from=$industry_index{/yun}
<li><a href="javascript:check_onselect('hy','{yun:}$v{/yun}','{yun:}$industry_name[$v]{/yun}');">{yun:}$industry_name[$v]{/yun}</a></li>
{yun:}/foreach{/yun}
 </ul>
 </div>
 </div>
 <div class="seach_industry"><span class="Search_jobs_name">职位类别：</span> <input type="button" value="{yun:}if $jobnames!=""{/yun}{yun:}$jobnames{/yun}{yun:}else{/yun}请选择职位类别{yun:}/if{/yun}" placeholder='请选择职位类别' id="index_job_class_val" onclick="index_job('{yun:}$smarty.get.jobids{/yun}');" class="Search_jobs_bth">
  <input type="hidden" id="job_class" name="jobids" value="{yun:}$getinfo.jobids{/yun}" />
  </div>
 <div class="seach_industry">
 <span class="Search_jobs_name">所在地区：</span> <input type="button"  id="city" value="{yun:}if $city_name[$getinfo.cityid]!=""{/yun}{yun:}$city_name[$getinfo.cityid]{/yun}{yun:}else{/yun}请选择工作地区{yun:}/if{/yun}" onclick="index_city();" class="Search_jobs_bth">
 <input type="hidden" name="cityid" id="cityid" value="{yun:}$getinfo.cityid{/yun}"/>
 </div>
 </div> 
{yun:}if $getinfo.cityid{/yun}
<div class="Search_jobs_form_list">
    <div class="Search_jobs_name">所属城市：</div>
    <div class="Search_jobs_sub">
    <a href="{yun:}seacrh_url m=com untype=three_cityid{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.three_cityid==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a>
    {yun:}foreach from=$city_type[$getinfo.cityid] item=v key=key{/yun}
    <a href="{yun:}seacrh_url m=user three_cityid=$v untype=three_cityid{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.three_cityid==$v{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">{yun:}$city_name[$v]{/yun}</a>
    {yun:}/foreach{/yun} 
    </div>
</div> 
{yun:}/if{/yun}
 <div class="Search_jobs_form_list">
 <div class="Search_jobs_name">发布日期：</div>
 <div class="Search_jobs_sub">
	<a href="{yun:}seacrh_url m=user  untype=adtime{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.adtime==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a>
	{yun:}foreach item=v from=$adtime key=key{/yun}
		<a href="{yun:}seacrh_url m=user adtime=$key untype=adtime{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.adtime==$key{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">{yun:}$v{/yun}</a>
	{yun:}/foreach{/yun}</div>
 </div> 
<div class="Search_jobs_form_list">
	<div class="Search_jobs_name">学历要求：</div>
	<div class="Search_jobs_sub">
	<a href="{yun:}seacrh_url m=user untype=edu{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.edu==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a>
	{yun:}foreach item=v from=$userdata.user_edu key=key{/yun}
		<a href="{yun:}seacrh_url m=user edu=$v untype=edu{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.edu==$v{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">{yun:}$userclass_name[$v]{/yun}</a>
	{yun:}/foreach{/yun}
	</div>
</div>
 <div class="Search_jobs_form_list">
 <div class="Search_jobs_name">工作经验：</div>
  <div class="Search_jobs_sub">
		<a href="{yun:}seacrh_url m=user  untype=exp{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.exp==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a>
	{yun:}foreach item=v from=$userdata.user_word key=key{/yun}
		<a href="{yun:}seacrh_url m=user exp=$v untype=exp{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.exp==$v{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">{yun:}$userclass_name[$v]{/yun}</a>
	{yun:}/foreach{/yun}
	</div>
</div>
 <div class="Search_jobs_form_list">
 <div class="Search_jobs_name">更新时间：</div>
  <div class="Search_jobs_sub">
	<a href="{yun:}seacrh_url m=user untype=uptime{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.uptime==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a>
	{yun:}foreach item=v from=$uptime key=key{/yun}
	<a href="{yun:}seacrh_url m=user uptime=$key untype=uptime{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.uptime==$key{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">{yun:}$v{/yun}</a>
	{yun:}/foreach{/yun} 
</div>
 </div>
 <div class="Search_jobs_form_list">
 <div class="Search_jobs_name">月薪范围：</div>
  <div class="Search_jobs_sub">
  <a href="{yun:}seacrh_url m=user  untype=salary{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.salary==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a>
  {yun:}foreach item=v from=$userdata.user_salary key=key{/yun}
		<a href="{yun:}seacrh_url m=user salary=$v untype=salary{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.salary==$v{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">{yun:}$userclass_name[$v]{/yun}</a>
	{yun:}/foreach{/yun} 
</div> </div>
 <div class="Search_jobs_form_list">
 <div class="Search_jobs_name">到岗时间：</div>
  <div class="Search_jobs_sub">
	<a href="{yun:}seacrh_url m=user  untype=report{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.report==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a>
  {yun:}foreach item=v from=$userdata.user_report key=key{/yun}
		<a href="{yun:}seacrh_url m=user report=$v untype=report{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.report==$v{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">{yun:}$userclass_name[$v]{/yun}</a>
	{yun:}/foreach{/yun}
</div> </div>
 <div class="Search_jobs_form_list">
 <div class="Search_jobs_name">工作类型：</div>
  <div class="Search_jobs_sub"> 
	<a href="{yun:}seacrh_url m=user  untype=type{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.type==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a>
  {yun:}foreach item=v from=$userdata.user_type key=key{/yun}
		<a href="{yun:}seacrh_url m=user type=$v untype=type{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.type==$v{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">{yun:}$userclass_name[$v]{/yun}</a>
	{yun:}/foreach{/yun}
</div> </div>
 <div class="Search_jobs_form_list">   
 <div class="Search_jobs_name">性    别：</div>
 <div class="Search_jobs_sub"> 
	<a href="{yun:}seacrh_url m=user  untype=sex{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.sex==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a>
 {yun:}foreach item=v from=$userdata.user_sex key=key{/yun}
		<a href="{yun:}seacrh_url m=user sex=$v untype=sex{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.sex==$v{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">{yun:}$userclass_name[$v]{/yun}</a>
	{yun:}/foreach{/yun}
</div> </div>
   <div class="Search_jobs_form_list"> 
 <div class="Search_jobs_name">  关键字：</div>
 <div class="Search_jobs_sub"><input type="text" placeholder="请输入要搜索的关键字" name="keyword" value="{yun:}$smarty.get.keyword{/yun}" class="Search_jobs_text"><input type="submit" value="搜人才" class="Search_jobs_submit">{yun:}if $paras{/yun}<a href="javascript:void(0)" onclick="addfinder('{yun:}$paras{/yun}','2')" class="Search_jobs_search_box">+ 保存为人才搜索器</a>{yun:}/if{/yun}</div>
  </div>
  <div class="clear"></div>
 {yun:}if $paras{/yun}
 <div class="Search_jobs_form_list Search_jobs_form_list_bg"> 
 <div class="Search_jobs_name"> 已选择：</div>
 <div class="Search_jobs_sub">
 <div class="Search_jobs_xz"> 
 {yun:}if $smarty.get.hy{/yun}<a href="{yun:}seacrh_url m=user untype=hy{/yun}" class="Search_jobs_c_a">{yun:}$industry_name[$smarty.get.hy]{/yun}</a>{yun:}/if{/yun} 
 {yun:}if $jobnames{/yun}<a href="{yun:}seacrh_url m=user untype=jobids{/yun}" class="Search_jobs_c_a">{yun:}$jobnames{/yun}</a>{yun:}/if{/yun} 
 {yun:}if $smarty.get.cityid{/yun}<a href="{yun:}seacrh_url m=user untype=cityid,three_cityid{/yun}" class="Search_jobs_c_a">{yun:}$city_name[$smarty.get.cityid]{/yun}</a>{yun:}/if{/yun} 
{yun:}if $smarty.get.three_cityid{/yun}<a href="{yun:}seacrh_url m=user untype=three_cityid{/yun}" class="Search_jobs_c_a">{yun:}$city_name[$smarty.get.three_cityid]{/yun}</a>{yun:}/if{/yun} 
 {yun:}if $smarty.get.adtime{/yun}<a href="{yun:}seacrh_url m=user untype=adtime{/yun}" class="Search_jobs_c_a">{yun:}$adtime[$smarty.get.adtime]{/yun}</a>{yun:}/if{/yun} 
 {yun:}if $smarty.get.edu{/yun}<a href="{yun:}seacrh_url m=user untype=edu{/yun}" class="Search_jobs_c_a">{yun:}$userclass_name[$smarty.get.edu]{/yun}</a>{yun:}/if{/yun} 
 {yun:}if $smarty.get.exp{/yun}<a href="{yun:}seacrh_url m=user untype=exp{/yun}" class="Search_jobs_c_a">{yun:}$userclass_name[$smarty.get.exp]{/yun}</a>{yun:}/if{/yun} 
 {yun:}if $smarty.get.salary{/yun}<a href="{yun:}seacrh_url m=user untype=salary{/yun}" class="Search_jobs_c_a">{yun:}$userclass_name[$smarty.get.salary]{/yun}</a>{yun:}/if{/yun} 
 {yun:}if $smarty.get.uptime{/yun}<a href="{yun:}seacrh_url m=user untype=uptime{/yun}" class="Search_jobs_c_a">{yun:}$uptime[$smarty.get.uptime]{/yun}</a>{yun:}/if{/yun} 
 {yun:}if $smarty.get.report{/yun}<a href="{yun:}seacrh_url m=user untype=report{/yun}" class="Search_jobs_c_a">{yun:}$userclass_name[$smarty.get.report]{/yun}</a>{yun:}/if{/yun} 
 {yun:}if $smarty.get.type{/yun}<a href="{yun:}seacrh_url m=user untype=type{/yun}" class="Search_jobs_c_a">{yun:}$userclass_name[$smarty.get.type]{/yun}</a>{yun:}/if{/yun} 
 {yun:}if $smarty.get.sex{/yun}<a href="{yun:}seacrh_url m=user untype=sex{/yun}" class="Search_jobs_c_a">{yun:}$userclass_name[$smarty.get.sex]{/yun}</a>{yun:}/if{/yun} 
 {yun:}if $smarty.get.keyword{/yun}<a href="{yun:}seacrh_url m=user untype=keyword{/yun}" class="Search_jobs_c_a">{yun:}$smarty.get.keyword{/yun}</a>{yun:}/if{/yun} 
 {yun:}if $smarty.get.pic{/yun}<a href="{yun:}seacrh_url m=user untype=pic{/yun}" class="Search_jobs_c_a">有照片</a>{yun:}/if{/yun} 
 </div>
 <div class="Search_jobs_det"><a href="{yun:}url m=user{/yun}" class="png">清空筛选项</a></div>
 </div>
  </div>
  {yun:}/if{/yun}  <div class="clear"></div>
  </div> 
</form>
<div class="search_h1_box">
<div class="search_h1_box_title">
<ul class="search_h1_box_list">
<li {yun:}if $smarty.get.pic==''{/yun}class="search_h1_box_cur"{yun:}/if{/yun}><a href="{yun:}url m=user{/yun}">所有人才</a></li>
<li {yun:}if $smarty.get.pic{/yun}class="search_h1_box_cur"{yun:}/if{/yun}><a href="{yun:}url m=user url=pic:1{/yun}">照片人才</a></li>   
</ul> 
<div class="jobs_tag">你是不是想找：{yun:}key limit=10 recom=1 type=5 item=keylist{/yun}<a href="{yun:}$keylist.url{/yun}" title="{yun:}$keylist.key_title{/yun}">{yun:}$keylist.key_name{/yun}</a> {yun:}/key{/yun} </div>
</div>
<div class="search_Filter">
<span class="yun_search_tit"><i></i>排序</span>
<ul class="search_Filter_list">
<li {yun:}if $smarty.get.order==''{/yun}class="search_Filter_current"{yun:}/if{/yun}><a href="{yun:}seacrh_url m=user untype=order{/yun}">更新时间<i class="search_Filter_icon"></i></a></li>
<li {yun:}if $smarty.get.order=='status_time'{/yun}class="search_Filter_current"{yun:}/if{/yun}><a href="{yun:}seacrh_url m=user order=status_time untype=order{/yun}">发布时间<i class="search_Filter_icon"></i></a></li> 
</ul> 
<div class="search_Filter_Authenticate "><a href="{yun:}if $smarty.get.work{/yun}{yun:}seacrh_url m=user untype=work{/yun}{yun:}else{/yun}{yun:}seacrh_url m=user work=1{/yun}{yun:}/if{/yun}"><div class="checkbox_job search_Filter_Authenticate_mt8 {yun:}if $smarty.get.work{/yun}iselect{yun:}/if{/yun}"><i></i></div>有作品</a></div>
<div class="search_Filter_Authenticate "><a href="{yun:}if $smarty.get.idcard{/yun}{yun:}seacrh_url m=user untype=idcard{/yun}{yun:}else{/yun}{yun:}seacrh_url m=user idcard=1{/yun}{yun:}/if{/yun}"><div class="checkbox_job search_Filter_Authenticate_mt8 {yun:}if $smarty.get.idcard{/yun}iselect{yun:}/if{/yun}"><i></i></div>有身份认证</a></div>
</div>
</div>
<div class="job_left_sidebar">
<div class="search_user_list_tit search_user_list_tit_bg">
<div class="search_user_list_neme search_user_list_w220">求职意向</div>                 
<div class="search_user_list_neme search_user_list_w80">姓名 </div>             
<div class="search_user_list_neme search_user_list_w80">工作经验</div>          
<div class="search_user_list_neme search_user_list_w50">学历 </div>         
<div class="search_user_list_neme search_user_list_w50">年龄</div>          
<div class="search_user_list_neme search_user_list_w50">性别 </div>           
<div class="search_user_list_neme search_user_list_w80">求职地区 </div>          
<div class="search_user_list_neme search_user_list_w80">到岗时间 </div>           
<div class="search_user_list_neme search_user_list_w80">更新日期</div>      
</div>
{yun:}userlist limit=20 post_len=12 salary=auto.salary idcard=auto.idcard edu=auto.edu order=auto.order work=auto.work exp=auto.exp sex=auto.sex keyword=auto.keyword hy=auto.hy provinceid=auto.provinceid report=auto.report cityid=auto.cityid three_cityid=auto.three_cityid adtime=auto.adtime jobids=auto.jobids pic=auto.pic typeids=auto.typeids type=auto.type job1_son=auto.job1_son job_post=auto.job_post uptime=auto.uptime post_len=14 ispage=1 item=user key=key{/yun} 
<div class="search_user_list_tit {yun:}if $key%2!='0'{/yun}search_user_list_cur{yun:}/if{/yun}">
<div class="search_user_list_neme search_user_list_w220"><a href="{yun:}url m=resume url=id:`$user.id`{/yun}" class="search_user_want fl" target="_blank">{yun:}$user.job_post_n{/yun}</a> 
{yun:}if $user.topdate>time(){/yun}<img src="{yun:}$style{/yun}/images/user_zd.gif" title="置顶"  class="user_rz_img png">{yun:}/if{/yun}
{yun:}if $user.idcard_status=='1'{/yun}<img src="{yun:}$style{/yun}/images/sf.png" title="身份已认证"  class="user_rz_img png">{yun:}/if{/yun}
{yun:}if $user.photo{/yun}<img src="{yun:}$style{/yun}/images/profile.png" title="有形象照" class="user_rz_img png">{yun:}/if{/yun}
</div>                 
<div class="search_user_list_neme search_user_list_w80"><a href="{yun:}url m=resume url=id:`$user.id`{/yun}">{yun:}$user.username_n{/yun}</a> </div>             
<div class="search_user_list_neme search_user_list_w80">{yun:}$user.exp_n{/yun}</div>          
<div class="search_user_list_neme search_user_list_w50">{yun:}$user.edu_n{/yun}</div>         
<div class="search_user_list_neme search_user_list_w50">{yun:}if $user.age==0{/yun}保密{yun:}else{/yun}{yun:}$user.age{/yun}岁{yun:}/if{/yun}</div>          
<div class="search_user_list_neme search_user_list_w50">{yun:}$user.sex_n{/yun}</div>           
<div class="search_user_list_neme search_user_list_w80">{yun:}$user.job_city_one{/yun} {yun:}$user.job_city_two{/yun} </div>          
<div class="search_user_list_neme search_user_list_w80">{yun:}$user.report_n{/yun}</div>           
<div class="search_user_list_neme search_user_list_w80">{yun:}$user.time{/yun}</div>      
</div>
{yun:}/userlist{/yun}  
<div class="clear"></div>
{yun:}if $total!=0{/yun}
<div class="search_pages"><div class="pages">{yun:}$pagenav{/yun}</div></div>

{yun:}else{/yun}	
<div class="seachno">
	<div class="seachno_left"><img src="{yun:}$style{/yun}/images/search-no.gif" width="144" height="102"></div>
	<div class="listno-content"> <strong>很抱歉，没有找到满足条件的人才</strong><br>
	  <span> 建议您：<br>
	  1、适当减少已选择的条件<br>
	  2、适当删减或更改搜索关键字<br>
	  </span> <span> 热门关键字：<br>{yun:}key limit=10 recom=1 type=5 item=klist{/yun}<a href="{yun:}$klist.url{/yun}" title="{yun:}$klist.key_title{/yun}">{yun:}$klist.key_name{/yun}</a> {yun:}/key{/yun}</span> 
	  </div>
</div> 
{yun:}/if{/yun}
</div>


<div class="job_right_sidebar">
	{yun:}adlist classid=36 item=ad_36{/yun}
    <div class="job_right_banner m10">{yun:}$ad_36.html{/yun}</div>
	  {yun:}/adlist{/yun}  
	<div class="job_right_box  m10">
        <div class="job_right_box_h1"><span class="job_right_box_span">推荐人才</span></div>
		  <ul class="job_right_user_list">
			{yun:}userlist limit=15 post_len=7 item=userrec rec_resume=1{/yun} 
		   <li><a href="{yun:}$userrec.user_url{/yun}" class="job_right_user_name" target="_blank">{yun:}$userrec.username_n{/yun}</a>&nbsp;{yun:}$userrec.job_post_n{/yun}</li>
		   {yun:}/userlist{/yun}
        </ul>
	</div> 
</div>   
  
  </div>
 </div>{yun:}include file="$tplstyle/footer.htm"{/yun}